[2019-04-02 10:59] lohithananda commented on #243
How can we use number of line prop for HTML

[2019-04-02 11:03] lohithananda opened #246 "> Hello,"

[2019-04-02 11:04] #246 closed

[2019-04-02 16:17] vUdav opened #248 "decodeEntities is decoding but do not read tags"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-04-02 17:55] wongal5 opened #249 "IGNORED_TAGS Typo"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-04-04 06:20] MSSPL-PiyaleeMaiti opened #250 "iframe design breaking after version upgrade"
### Is this a bug report or a feature request?

Yes

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2019-04-04 13:06] karvulf opened #251 "HTML Tag acronym causes line break"
### Is this a bug report or a feature request?

Feature Request

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been reported/solved?

Yes

### Is the bug specific to iOS or Android? Or can it be reproduced on both platforms?

Its a problem in ios and andr

[2019-04-04 15:56] Donhv opened #252 "Crash: text-align: start error: should be one of auto, center, justify, left, right."
Is this a bug report or a feature request?
Bug report

Have you read the guidelines regarding bug report?
no

Have you read the documentation in its entirety?
yes

Have you made sure that your issue hasn't already been reported/solved?
yes

Is the bug specific to iOS or Android? Or can it be reproduced on both platforms?
I have only checked on Android

Is the bug reproductible in a production envi

[2019-04-11 11:57] nvonbenken commented on #43
@jsamr

Any update on this? I'd really like to see how you accomplished this in an example.

[2019-04-11 14:59] zehgreven commented on #43
I was able to use @jsamr stuff:

!!!! Download his files (link above) !!!!

**Imports:**
[code]

**Constants**
`const tags = _.without(IGNORED_TAGS, 'table', 'caption', 'col', 'colgroup', 'tbody', 'td', 'tfoot', 'th', 'thead', 'tr');`

**render()**
[code]

I don´t know why but everything I put AFTER (BELLOW) the HTML tag just don´t render...

[2019-04-11 16:45] jsamr commented on #43
@zehgreven I embedded the table in a modal so I didn't see this bug comming. I guess you're experiencing react-native-community/react-native-webview#101!

@nvonbenken OK I'll work on something before the end of the week!

[2019-04-11 16:45] jsamr commented on #43
@zehgreven I embedded the table in a modal so I didn't see this bug comming. I guess you're experiencing react-native-community/react-native-webview#101!

@nvonbenken OK I'll work on something before the end of the week!

[2019-04-11 16:45] jsamr commented on #43
@zehgreven I embedded the table in a modal so I didn't see this bug comming. I guess you're experiencing react-native-community/react-native-webview#101!

@nvonbenken OK I'll work on something before the end of the week!

[2019-04-11 16:45] jsamr commented on #43
@zehgreven I embedded the table in a modal so I didn't see this bug comming. I guess you're experiencing react-native-community/react-native-webview#101!

@nvonbenken OK I'll work on something before the end of the week!

[2019-04-11 17:02] zehgreven commented on #43
I actly found that my <ScrollView> is not growing as much as it should :X

If i find a work arround I let you guys know.

[2019-04-11 18:40] psuslick opened #254 "URI content renders as undefined"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2019-04-12 18:12] zehgreven commented on #43
Yep! You´re totally correct... That´s what happened... But once I fixed it this "glitch" the table just don´t show anymore, I think that I still need to find a way to grow up the screen height so it´ll have extra space to show up the table...

I let you know if I fix it.

[2019-04-12 18:54] olinations opened #255 "How to convert new lines to line breaks or paragraph tags?"
I have html that is one long block of text in one big p tag, but each paragraph within that p tag is on a new line instead of in another p tag. Is there a way I can convert a new line to a br tag or p tag?

Update:
Nevermind, it looks like this won't work and you knew that. I edited the HTML.js file and removed the part that ignores \r\n and it worked for part of the file, but other parts it made

[2019-04-13 17:05] psuslick commented on #8
Maybe I'm doing something wrong, but I have unexpected results with the code below. Can you advise?

import React, { Component } from 'react'
import {
  View,
  Text,
  ScrollView,
  StyleSheet,
  AsyncStorage,
  Dimensions

} from 'react-native'

import HTML from 'react-native-render-html';

export default class TabAmLeader extends Component {
    constructor (props) {
        super(props)

[2019-04-19 03:23] WDDong opened #257 "Invalid YGDisplay 'inline-block'"
<img width="363" alt="DA2B8E4DF27DB292E483F8DA4DE282B7" src="https://user-images.githubusercontent.com/8448083/56414172-5ae76a80-62bc-11e9-8108-0f9111afdc14.png">

[2019-04-19 07:11] manzoorwanijk opened #258 "onLinkPress does not work for iframe links."
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-04-22 05:16] harrison0723 commented on #34
The problem with `flexDirection: 'row'` + `flexWrap: 'wrap'` is that when you have too many text before or after each image, the `<Text>` box would wrap the text as well, making it unreadable. OP's example included very little text which is why it worked. Mind has more text, and I'm still trying to find a workaround... anybody has any suggestions?

[2019-04-24 15:16] jamesovens opened #259 "Subscript elements should be bottom aligned"
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-04-25 19:31] wxcvbn612 commented on #172
why you put cover as default, make stretch or contain?

[2019-04-26 02:24] nolife08021 commented on #257
i have same issue like @WDDong  too.
any advices?

[2019-04-27 13:34] nvonbenken commented on #43
@jsamr  @zehgreven

Is this working with Expo for you? In setting it up as above I'm getting this:

`Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager`

[2019-04-27 18:38] zehgreven commented on #43
I actly wasn´t able to make it work properly, still deciding if i´ll try another soluction...

[2019-04-28 16:03] arnotixe commented on #152
I rewrote to split HTML into chunks containing no more than one image each, and put the chunks into a Flatlist. It improved performance like 100 times. But auto-chunking HTML can be not-so-predictable...

[2019-04-29 06:28] jsamr commented on #43
@zehgreven Writing the bridge-library right now ; to circumvent the issue and avoid native dependency, I'll make WebView component an argument to the main function.

[2019-04-29 20:28] jsamr commented on #43
:tada: Good news everyone ; I've been working on this all this day through. [`react-native-render-html-table-bridge`](https://github.com/jsamr/react-native-render-html-table-bridge) released to **npm**, with support for `onPressLink` and autoheight! :tada:

[2019-05-01 08:13] jsamr commented on #43
@nvonbenken How is the released library working for you with Expo ?
@zehgreven would be happy if you could test

[2019-05-01 08:50] jsamr commented on #258
@manzoorwanijk This is because the `iframe` tag [is rendered with a `WebView`](https://github.com/archriss/react-native-render-html/blob/40b0e591ff80799666964ed31e7af91a5afade9c/src/HTMLRenderers.js#L115).

@Exilz I support this in [`react-native-render-html-table-bridge`](https://github.com/jsamr/react-native-render-html-table-bridge).
To understand implementation, see [`HTMLTable::handleOnMessag

[2019-05-02 01:07] nvonbenken commented on #43
@jsamr  Same issue as above, `Invariant Violation: requireNativeComponent: "RNCWebView" was not found in the UIManager`

[2019-05-02 05:59] jsamr commented on #43
@nvonbenken Did you follow the steps in the readme ? If you are using Expo SDK &le; 32, you must provide `WebView` component from `react-native`.

[code]

[2019-05-02 10:17] nvonbenken commented on #43
@jsamr  Ahh good call, missed that piece. Had referenced `WebView` from `react-native-webview` by mistake. Looks good now!

Thanks a lot for making this!

[2019-05-02 13:04] jsamr commented on #43
@nvonbenken I'll try to make the readme more Expo-friendly!

[2019-05-03 14:21] zehgreven commented on #43
Tested and looks like it works.

I´ll try some more weird test cases as soon as I can.

Here is my code working just fine using your bridge.

``js
/* eslint-disable no-undef */
import React, { PureComponent } from 'react';
import { Linking, Dimensions, View } from 'react-native';
import HTML from 'react-native-render-html';
import WebView from 'react-native-webview';
import { IGNORED_TAGS, alterNo

[2019-05-06 08:02] prashen commented on #198
@Djinne Can you tell me where to put it. I am facing issue in ios Bad excess crashing in xcode.
I have an embed youtube URL in the HTML rendering.

[2019-05-06 08:04] maximus123123 commented on #198
I put it at the end of constructor of app.js

[2019-05-06 08:17] prashen commented on #198
But I have a details.js component where I am facing the issue I put it on that file before render and it's working.

So will this a global setting if I put it on constructor or I have to put it everywhere where HTMLrender used?

[2019-05-06 08:24] maximus123123 commented on #198
It's global, it may work

[2019-05-06 13:32] prashen commented on #198
Thanks @Djinne I have created a article on it that other developer get it from medium channel.
https://medium.com/tutorials4beginners/solution-of-youtube-embed-inside-react-native-render-html-component-which-crashed-on-play-and-e4e2d1518e8f?source=friends_link&sk=7720c52ccaa1011f832d8bd11145fc1b

[2019-05-06 14:33] maximus123123 commented on #198
Haha thanks man,
I completely forgot what the error was, I kind of wrote that fix out of frustration/tiredness after fixing it.
For me it was Vimeo that was causing the problem

[2019-05-06 21:18] maggialejandro-rp opened #260 "Custom render for HTML without surrounding tag"
Hi, I need to create a custom render for the Text that wraps this:

[code]

react-native-render-html: 4.1.2

Thanks in advance!

[2019-05-10 13:04] pawlowskim commented on #211
It also happens when you pass empty string, which is kinda annoying when you have optional data :/

[2019-05-12 05:14] ibnukipa opened #261 "How to ignore trim the value between the tags?"
Asking for the clarity

I've read to README, entirety. I didn't find any question/thread regarding this.
How to ignore trim the value between the tags?

example:

`this is a link <a href="https://google.com" type="link" label="https://google.co">https://google.co</a>  <a href="/user/view/180" type="mention" label="Risal">Risal</a>`

it's the same if I use renderers function or use the default rend

[2019-05-13 01:29] rikkitissier opened #262 "Using Touchable* inside an inline renderer, such as `a`"
### Is this a bug report or a feature request?

Question (maybe feature request?)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

yes

### Have you made sure that your is

[2019-05-14 08:21] nadav2051 commented on #66
Not sure why this issue has been closed - there is an issue on iOS where it crashes while trying to render html pasted from a Word editor or similar other editor, I get the same issue.

**font-variant: normal** on a div produces that error:
Error setting property 'fontVariant' of RCTText with tag #1483: JSON value 'normal' of type NSString cannot be converted to NSArray

**letter-spacing: normal**

[2019-05-14 15:37] mikaoelitiana commented on #141
Here is the patch content you can use with https://www.npmjs.com/package/patch-package

[code]

[2019-05-17 11:16] alexisbronchart commented on #216
I'm having the same issue. It happens in iOS as well. I'll post a repro soon.

[2019-05-17 17:37] intransitorio commented on #188
this post saved my morning. Thanks @magicmiles

[2019-05-18 15:19] chrise86 commented on #260
@maggialejandro-rp did you manage to work it out?

[2019-05-18 15:22] chrise86 commented on #260
For me, styling using `rawtext` was enough.

[2019-05-20 10:43] grnkvch commented on #261
You can replace all whitespaces in your text by this way
.replace(/\/a>\s<a/g, '/a>&shy; <a')
Looks ugly, but it works for me

[2019-05-20 10:51] grnkvch commented on #216
.replace(/\/a>\s<a/g, '/a>­ <a') works as well

[2019-05-20 11:41] alexisbronchart commented on #216
This line https://github.com/archriss/react-native-render-html/blob/928d8e825377181f383934f0b33747ae1315f345/src/HTML.js#L272 could be replaced with:
`const strippedData = data && data.replace(/\s+/g, ' ')`

[2019-05-20 13:31] DiepEsc commented on #216
The regex pattern should be /[\t\r\n ]+/g instead of \s. Because \s is included many types of unicode spaces. There types of space should be rendered in HTML.

Wikipedia page about white spaces:
https://en.m.wikipedia.org/wiki/Whitespace_character

[2019-05-20 15:33] cmejet commented on #188
Saved my bacon by providing this, THANK YOU!!! Worked awesome for phone linking too by providing the `tel:` in the href before the number.

[2019-05-20 23:33] cristianocca commented on #262
Ever found a way/work around this? Have you tried also overwriting <p> tags so they do not render text?

[2019-05-21 00:02] rikkitissier commented on #262
Not yet, no. I did try creating my own `p` renderer that returns a `View`
rather than `Text`, but then text doesn't flow properly. I haven't had a
chance to look into whether I can fix that with my own styles or not, yet.

On Mon, May 20, 2019 at 7:33 PM Cristiano Coelho <notifications@github.com>
wrote:

[2019-05-21 15:38] maggialejandro-rp commented on #260
@chrise86 yeah thanks, I had to add custom renders for `rawtext` and `textwrapper`

[2019-05-21 15:38] #260 closed

[2019-05-22 23:12] chrise86 commented on #203
I'm facing an issue where the images stay as the default (100x100) size and don't enlarge when loaded.

[2019-05-23 00:32] cristianoccazinsp opened #263 "Prevent re-renders/parse if html didn't change?"
### Is this a bug report or a feature request?
Question

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?
Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?
Yes

### Have you made sure that your issue hasn't already been repo

[2019-05-23 01:55] renrizzolo commented on #263
Also facing this - calling `setState` in `alterNode` is causing an infinite render loop.

[2019-05-23 03:50] cristianoccazinsp commented on #263
Right now, "solved" it (not entirely) by wraping the component inside a pure component and being very careful about what props I pass to it. But I still think this should be improved.

[2019-05-23 04:24] hadi13 commented on #258
also links are not working with me !!

[2019-05-23 14:22] cristianoccazinsp commented on #263
Hmm, looks like a re-render is still needed if orientation changes, otherwise all text becomes messed up when used inside a scroll view. However, I would expect just a re-render and not a whole child component rebuild.
I'm trying to have a modal open on press on some of the components, but if the HTML component re-renders, it will close the modal since it will rebuild all its children with new key

[2019-05-23 15:48] cristianoccazinsp opened #264 "How to achieve textAlign style?"
This is just a question. I have some HTML code that includes a ```<td style="text-align: right"><div>...</div></td>```. It seems to render some stuff right aligned on IOS, but not on android. When inspecting the td component, the styles are not there. Do they get propagated/moved into the inner most children? I suspect textAlign should actually be translated into alignSelf or alignItems if using f

[2019-05-26 23:33] hadi13 commented on #257
same for me

[2019-05-27 10:01] MaffooBristol commented on #42
Just as a top tip to anyone seeing this, `html=""` will also cause this warning. It doesn't seem to like empty strings...

[2019-05-28 10:45] mrondra opened #265 "WebView deprecated"
Hi, works fine, just WebView is gonna be deprecated, could you please fix it?

Thanks

[2019-06-05 03:29] dezudas commented on #265
+1

[2019-06-07 02:21] ManigandanRaamanathan commented on #154
This solution worked well.

[2019-06-10 19:21] juniorklein opened #266 "Error when rendering tag with custom tagStyle"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2019-06-11 03:05] successanil commented on #202
Yes that feature is not supported natively by Android OS , thats why react native can't do it from outside but as a workaround you can use webview (kinda dirty solution) .

[2019-06-11 09:25] gunduzcihat commented on #245
why doesn't anyone answer?

[2019-06-11 11:43] gunduzcihat opened #267 "twitter embed doesn't work"
I've added code starting with <blockquote class="twitter-tweet"... but it doesn't show properly, just shows text.

result:

<img width="332" alt="Screen Shot 2019-06-11 at 14 04 53" src="https://user-images.githubusercontent.com/24367679/59267073-f01a3600-8c51-11e9-8dda-08e962f98f87.png">

but expected:

<img width="316" alt="Screen Shot 2019-06-11 at 14 43 37" src="https://user-images.githubuserc

[2019-06-13 12:26] donni106 commented on #262
So no way of having a `TouchableOpacity` for links at the moment?

[2019-06-14 07:32] happylinhdn commented on #257
same for me

[2019-06-14 13:25] jariwalabhavesh commented on #267
@gunduzcihat : Have find any solution I have same issue I am not able to render twitter embedded.

[2019-06-14 13:32] jariwalabhavesh commented on #245
@salhotra :
Have you find any solution? I am facing same issue.

[2019-06-17 08:58] jariwalabhavesh commented on #187
@abhimanyuPathania : Have you find way to get html of specific node in custom renderer?

[2019-06-17 09:01] jariwalabhavesh commented on #91
@saitbnzl : Have you found a solution because I  am facing the same issue in renderer I am only able to get full HTML, not the inner one.
Can you specify how you achieved it?

[2019-06-17 11:37] abhimanyuPathania commented on #187
@jariwalabhavesh No. I ended up not using this package because of that.

[2019-06-17 12:14] saitbnzl commented on #91
@jariwalabhavesh Hi, We've made some changes in the source code and we made it a local component (not npm dependent).

As far as I can remember this was the only change related to this issue:
[code]
Then we access it like below in the renderer:

[code]

[2019-06-17 12:23] saitbnzl commented on #267
We've faced this issue a long time ago :) Have a look at #91

[2019-06-18 09:44] IsraaMoqbel commented on #211
I did this to avoid such a thing
` <HTML html={this.state.data.description || '<p></p>'} />`

[2019-06-18 15:23] idhindsight commented on #94
Any plans to fix this in the future?

[2019-06-19 10:17] Darvey commented on #265
Hi!
The react native doc say about **WebView** component:

The

**WebView** component is used to render the iFrames.
waiting for the fix you can try this:
[code]
then in the plugin folder, go to **src/HTMLRenderers.js**, remove WebView in {..} 'react-native';
and add this line
`import {WebView} from 'react-native-webview';`

[2019-06-19 15:25] Wellington01 commented on #257
same for me

[2019-06-20 09:33] Jensenks commented on #143
@jsamr Any progress on the PR? It would be a great addition to this library 👍

[2019-06-23 09:41] salhotra commented on #245
@jariwalabhavesh I ended up spliting my html into multiple chunks. Each chunk will either be static HTML or an Embed. I am using this library for the static html chunks and using webview for the embeds.

[2019-06-24 14:30] jariwalabhavesh commented on #245
@salhotra : How you are identifying height of embded?

[2019-06-24 14:48] salhotra commented on #245
@jariwalabhavesh I am using react-native-autoheight-webview

[2019-06-24 16:20] jariwalabhavesh commented on #91
@saitbnzl : I had followed your  guide. And able to see embed twitter code. But is covering too many height. Is there any way you had adjusted height of embded. I had rendered inner html inside webview.

[2019-06-24 16:20] jariwalabhavesh commented on #245
@salhotra : Thank you, I will try

[2019-06-24 16:29] saitbnzl commented on #91
@jariwalabhavesh  Yes we had some with height, too. We had a solution with WebView. Try to embed tweets in [this](https://gist.github.com/saitbnzl/b3117cb3a82505a0c84574e2e0be82e3).

[2019-06-25 06:11] nadav2051 commented on #252
Same problem, can we just ignore or throw a warning rather than crash when encountering un-renderable CSS property?

[2019-06-25 08:51] jariwalabhavesh commented on #91
@saitbnzl : Thanks a lot for providing me webview code. I will try and let you know here.

[2019-06-25 12:51] sumudu-dewasurendra commented on #252
@nadav2051 even for the "display" style same happens. Are there any way to fix this problem? Coz using ignoring is not the way to handle this

[2019-06-26 04:06] dezudas commented on #265
works, but is their any plan to make change in the component??

[2019-06-26 09:50] blyscuit commented on #266
I am also facing this problem and have to comment line 193 till 200. What is the fix to this?

[2019-06-26 10:02] sumudu-dewasurendra commented on #257
If anyone can put similar issues in here, at least we can ignore those styles and use this library :-D

[2019-06-26 14:47] gunduzcihat commented on #267
yeah saitbnzl, we figured it out that way.  thanks

[2019-06-26 14:47] #267 closed

[2019-06-26 16:13] eleddie commented on #178
Is this issue still happening on the latest version?

[2019-06-26 16:36] kriskate commented on #178
will try in the following days

[2019-06-26 20:46] brsaylor2 commented on #193
+1

[2019-06-27 10:00] chr314 commented on #265
i created PR #247  2 months ago, still waiting for merge
if you don't want to edit the files you can use the package directly from my fork
in package.json change
[code]
to

[code]

[2019-06-27 10:23] Exilz commented on #265
I don't have enough time on my hands to maintain this plugin as I should.
I will have to find maintainers at some point, I'll keep you posted on that.

[2019-06-27 10:31] chr314 commented on #265
Hey @Exilz
if you can please review the #247 because webview will be extracted from react-native in the next version 0.60 https://github.com/facebook/react-native/releases

the change is very small, have a look when you have time

thanks

[2019-06-29 20:56] cristianoccazinsp opened #269 "Override Image resizeMode ?"
### Is this a bug report or a feature request?
Feature Request

Is it possible to override images resizeMode ? I've tried custom styles and renderersProps but neither reach the Image component.

[2019-06-30 11:35] nadav2051 commented on #252
@sumudu-dewasurendra I agree. I'm also waiting for a more robust solution.

[2019-07-01 06:02] jariwalabhavesh commented on #91
@saitbnzl : Awesome, Thank you so much it works.

[2019-07-01 17:54] jariwalabhavesh commented on #91
@saitbnzl : One more thing I had noticed that twitter embedded works perfectly in debug mode in both android and ios. But when I tried with release version then twitter embedded was not loading in android in ios it is loading fine.

Have you any idea why is it like that in android??

[2019-07-01 18:15] saitbnzl commented on #91
@jariwalabhavesh Yes, I just have noticed this is happening in our app, too. It was fine a while ago. Idk the reason and have no time to investigate currently. Please let me know, if you can find something.

[2019-07-02 09:16] jariwalabhavesh commented on #91
@saitbnzl : sure, I will let you if I find a solution

[2019-07-02 12:39] jariwalabhavesh commented on #91
@saitbnzl : I put webview back with static height and it is working. So I think issue is either with message or javascript that we are injecting in smartWebView.

[2019-07-05 09:30] dmitrydudkin commented on #208
In my case a reason was in borderRadius style in html view container :

[code]

[2019-07-08 21:00] Zjarr commented on #243
[code]

[2019-07-09 07:54] jihyeonjeong11 opened #270 "Image uri with '_' doesn't render anything."
### Is this a bug report or a feature request?

Thanks for great library.
on ios, img tag with '_' on uri won't show.

like this,
[code]

the first renders empty square and the second is ok.
I beleive this is not related with NSSecurity issue, cause second img with same origin render fine.

Thanks in advance.

update:
I found out this is not about special character _.
the problem was a space at fi

[2019-07-09 09:31] pixelize opened #271 "Iframe not working until <HTML /> is rendered within a <ScrollView />"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2019-07-10 07:29] jihyeonjeong11 commented on #270
just removed space from first character.

[2019-07-10 07:29] #270 closed

[2019-07-10 08:07] TommyLeong commented on #264
I realized the text-align does not render / accept by the component, even I tried to do it with <div> tag and without <div> tag.

**Fail path:**
With tag, <div style="text-align:center">
Without tag, I pass value to props **baseFontStyle**={{ textAlign:'center' }}

**Success path:**
At last I gave up using <div> tag and replace with <p>. Hooray, it's now center aligned 😄

[2019-07-11 11:23] priyanka931 commented on #154
Thanks @saadzaman !! Good to go

[2019-07-15 13:14] saikiranoptisol opened #274 "Text is not rendering properly in mobile front end"
Observation A :&nbsp;
<br />&nbsp;&nbsp; &nbsp;Both bulbs &nbsp;will glow with same brightness on frequency&nbsp;<math xmlns=\"http://www.w3.org/1998/Math/MathML\"><mi>f</mi><mo>=</mo><mfrac><mn>1</mn><mrow><mn>2</mn><mi mathvariant=\"normal\">&#960;</mi><msqrt><mi>LC</mi></msqrt></mrow></mfrac></math>
 I was passing above html text. if i use some online editor and check the Tags from

<math xmlns

[2019-07-17 05:52] saikiranoptisol commented on #274
@Exilz  please respond on this

[2019-07-17 06:44] kamalpandey opened #275 "[Help-Wanted] How can i update the height of image?"
[code]

[2019-07-19 07:40] Exilz commented on #274
Make a custom renderer and set its wrapper to `Text` to make sure it's inline. https://github.com/archriss/react-native-render-html#making-your-custom-component-block-or-inline

I read every issue even though I don't have enough time to investigate most of them.

In the worst case, you can still rely on props to alter your content so it's displayed properly.

https://github.com/archriss/react-nati

[2019-07-19 07:43] Exilz commented on #265
The related PR has been merged into master. Until it's properly reviewed and released on NPM by my colleague, you can make your package.json point towards the latest commit of this repo.

[2019-07-19 07:46] Exilz commented on #245
There is no way a webview is rendered with this snippet. It depends on a JS script to display it inside browsers and falls back to a `blockquote` if JS is missing.

This is *nearly impossible* to achieve on this plugin. So you can either make a custom renderer for blockquote (that's what we did, it's hard but it renders pretty beautifuly) or you can find a way to render an `iframe` with your embed

[2019-07-19 07:46] #245 closed

[2019-07-19 11:08] jariwalabhavesh commented on #91
@saitbnzl : Finally I found solution. The main issue was **window.postMessage**. javascript was working fine and height getting fine.

To fix it I had used _[react-native-webview-bridge](https://www.npmjs.com/package/react-native-webview-bridge)_ . I am using react-native-webview-bridge version 0.40.1.

I had done little bit changes to make it work in android. Code base will be [link](https://gist

[2019-07-19 14:34] jamesovens commented on #208
This appears to be a limitation with React Native `<Text>` components:
https://github.com/facebook/react-native/issues/19453

There is a pretty easy workaround though if you want to have a `<Text>` component that has very long content you can convert it to use a `<TextInput>` instead like so:
[code]

In order to get that sort of workaround when using this library though I think that would require

[2019-07-20 06:58] ashu777 commented on #43
Did any one get any way  to support<table> tag

[2019-07-20 07:47] jsamr commented on #43
@ashu777 https://github.com/archriss/react-native-render-html/issues/43#issuecomment-487731497

[2019-07-22 11:16] tomdaniel-it opened #276 "Custom renderer wrapper property being ignored"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-07-23 22:49] Slapbox commented on #230
Quick update, the bug doesn't affect iOS.

[2019-07-24 23:24] guschilds commented on #218
As a heads up for others: I realized that the text that was properly bold and/or italic on Android was being rendered through the System font instead of the custom font we were using for all text. I achieved the same behavior on iOS by adding this to my `tagsStyles`:

[code]

It's not ideal, but in our case, it's better than not being bold or italic at all.

[2019-07-29 18:27] War777 commented on #118
Jajajajajaja thinking so seriously to do the same  and add a style in web to make it look similar.

[2019-07-30 13:53] joshi-anshul opened #279 "How to remove newlines"
Hello,
I'm getting `<p><br></p><p><br></p>` type of response from API side, So how can I remove extra newlines? I already **read your documents** but not getting idea.
Please look into it.
Thanks

[2019-07-31 15:47] saeedtkh opened #280 "I wonder if the component shows math formula in html"
I would like to have the following html rendering in react native using your component. How ever doesn't show correctly.

(<i>a</i> + <i>b</i> + √<i>c</i>)<sup>2<i>x</i> + <i>b</i></sup>

Any idea?

[2019-07-31 22:37] rikkitissier opened #281 "LineHeight is inherited from first component in a paragraph instead of baseFontStyle"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-08-01 15:49] saeedtkh commented on #76
Could you able to fix this problem? Any new?

[2019-08-02 07:34] npaulConnvertex commented on #254
I am also facing the same issue.  when trying to render it shows undefined. PLease help

[2019-08-02 09:41] matteodanelli commented on #76
I'd like to support it too..

[2019-08-06 16:55] jpamarohorta commented on #257
I'm having the same issue. Created a [pull request](https://github.com/archriss/react-native-render-html/pull/282) that fixes it.

[2019-08-06 22:35] AlanQuadros commented on #257
Just add 'display' in ignoredStyles.

Ex.:
`ignoredStyles={['font-family', 'display']}`

[2019-08-06 23:35] jpamarohorta commented on #257
Adding display to ignoredStyles can not always be possible. I have a case when if the display is “none” I want to hide the element for example.

[2019-08-07 06:31] martin-erre opened #283 "Method for ignore font-family"
### Is this a bug report or a feature request?

Feature request

I wonder if it's possible to add a method or property to ignore font-family attribute in tags. Some APIs (i.e. Wordpress) return rendered HTML with this attribute when you only want to get the DOM structure. In this case, the rendering throw an error because the font is not loaded.
Greetings

### Have you read [the guidelines](https:

[2019-08-07 06:57] martin-erre commented on #283
Sorry, there it was-

[2019-08-07 06:57] #283 closed

[2019-08-07 11:01] jpamarohorta opened #284 "react-native-webview changed from dependency to peerDependency"
`react-native-webview` is currently a dependency at `^5.6.0` which can conflict if other version of the library is already being using standalone.

This can lead to errors, for example:
`Unhandled JS Exception: Tried to register two views with the same name RNCUIWebView`

Can the library be changed from dependency to peerDependency? is there a downside for that?

[2019-08-08 05:45] shift2androidios commented on #259
Hi <sup> tag align text to bottom

can you help me with this ?

[2019-08-12 09:32] FrancisLeigh opened #285 "ACCESSIBILITY : Anchor Tags are not accessible on Android & IOS When screen reader is present."
When screen readers are active on my devices (IOS & Android) I cannot seem to select the anchor-tag links that are visible on the page.

Has anyone had similar issues with this? I feel Accessibility is a bit of a dark-art when it comes to React-Native.

[code]

`IOS (Physical) & Android (Emulator)`

[2019-08-13 14:33] orzhtml commented on #208
Rewrite HTML to react-native, github search: react-native-orzhtml-htmlview

[2019-08-13 18:36] mohamedshuaau opened #286 "Issue with bullet RTL"
I first off want to say, great package! I ran in to a bit of a problem and I am not sure how to resolve it.

I have an RTL layout with an RTL language. As React-Native auto aligns RTL languages to the right, my parsed HTML is aligned to the right. But the bullets seems to stay on the left. I have tried `alignText: 'right'` on the `baseFontStyle` with no luck.

Here is the screenshot of what I am g

[2019-08-13 18:48] muskanaul commented on #259
Hey, sup or sub is not working for me. Were you able to do this with a custom renderer/styling?

[2019-08-16 03:51] PhanQuy97 commented on #262
### [`_****_`](

- url

)

[2019-08-17 22:15] vincentzierigen commented on #265
This is still an issue. On RN 0.60 if you try to embed an iframe, it will crash, as WebView is no longer part of RN.

[2019-08-19 17:28] msintaha opened #287 "Rendering html with DOCType and script/link tags doesn't work"
### Is this a bug report or a feature request?

Bug Report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-08-20 11:36] jamesovens commented on #208
I'm not sure why this was closed as this is still an issue in this library. Changing to another library does not fix the issue in this library (and I wouldn't want to change library for this problem when the rest of it works so well in the React Native Web project I am working on).

Really all I think we need is to have the library check when the current node is raw text to check its length. If th

[2019-08-20 12:07] jamesovens commented on #259
So I managed to use a custom renderer for both sub and sup and managed to set it so that sup received textAlignVertical: "top" and also display: "inline-block" for web but display: "flex" for native (as I'm working on a React Native Web project), and for sub it was textAlignVertical: "bottom"

Unfortunately textAlignVertical is an android only property, and not sure about what the plans are for it

[2019-08-20 21:13] annie-elequin commented on #262
I'm also experiencing this because I want to use an inline "TextInput". however, nesting a TextInput inside a Text component doesn't work, and I can't wrap it in a View because of the "no View inside Text" error.

[2019-08-21 14:01] alexsanderg commented on #254
I'm having the same problem. Any solution?

[2019-08-25 07:44] diamont1001 commented on #252
Same problem, any solution?

[2019-08-28 11:46] hai2san commented on #257
I'm having the same issue.

[2019-08-28 12:17] jameskennard commented on #118
Are there any plans to resolve this issue any time soon? Or are workarounds the recommended solution at the moment?

Thanks

[2019-08-29 02:47] nguyenduy2392 commented on #152
are you have sample html ?

[2019-08-30 15:28] arnotixe commented on #152
well, I wrote a function that rewrites
[code]
into Flatlist Items:
[code]
I wrote the chunker so that every piece of fixedContent would only ever contain 1 image, no more. Can't really remember if FlatList takes an object or array, but I hope you get the idea

[2019-08-31 11:55] carylaw opened #289 "Invalid props value from WYCIWYG"
The html content as below:
`<p style="text-align:start;">content here</p>`

reproduct like this:
`<HTML html={'<p style="text-align:start;">content here</p>'}  />`

invalid to error
[https://imgur.com/Y0ikMwn](url)

[2019-09-04 14:30] loikfb commented on #265
This bug was fixed from react-native-webview 5 days ago here https://github.com/react-native-community/react-native-webview/releases/tag/v7.0.1

@Exilz Pleas update your version of react-native-webview asap.

[2019-09-04 14:31] GabrielePrestifilippo commented on #202
As of now, from react-native 0.60, the `justify` works on android too (API >=26) https://facebook.github.io/react-native/docs/text#docsNav

[2019-09-12 05:37] carlmagumpara opened #292 "Invariant Violation: Invariant Violation: Invariant Violation: Invariant Violation: Invariant Violation: WebView has been removed from React Native. It can now be installed and imported from 'react-native-webview' instead of 'react-native'."
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(Write your answer here.)

[2019-09-14 10:45] carlmagumpara commented on #292
okay will close this

[2019-09-14 10:45] #292 closed

[2019-09-16 16:57] thepian opened #293 "Advice/Doc: Decorating onParsed"
Based on the documentation it seems straight forward to add methods/data to nodes in onParsed and used it in alterData. That approach doesn't seem to work however. Is there a recommendation somewhere for how to do it?

[2019-09-17 05:35] kamalpandey opened #294 "Remove the parent and return new node. [Help Wanted]"
Can some help with

[code]

What it is giving me is

[code]

What I want is

[code]

How should i return this?

[code]

[2019-09-19 05:44] ochanje210 opened #295 "new version should be released ASAP"
https://github.com/archriss/react-native-render-html/commit/c16f249166c8355f52573718f040644c4c9c3a27

The commit above is critical for latest React Native versions otherwise you will get this error:
![Screen Shot 2019-09-19 at 2 26 12 PM](https://user-images.githubusercontent.com/16204807/65216486-fee37500-daeb-11e9-81f5-b99719bf9bd8.png)

[2019-09-27 10:25] giacomocerquone commented on #86
wait, if the img tag comes like this:

[code]

it's not working for me. Should it be working or it needs a PR?

[2019-09-27 15:40] Krypternite commented on #279
Hi,
Any progress on this. I am facing the same issue ?

[2019-09-28 10:21] fatiherdogan01 opened #298 "react native 0. 59.1 not work uri"
Hi i'm upgrade react native 0. 59.1 and return nothing
react native 0. 53.0 when  was working

[code]

[2019-09-29 08:25] RWOverdijk opened #299 "Feature request: Whitelist tags"
### Is this a bug report or a feature request?

Feature request

### Description

I'd like to be able to whitelist instead of blacklist tags.

I'll be using custom renderers for a couple of components, and want to disable all the rest instead of the other way around.

This might be weird to want. I am willing to implement this with some pointers.

[2019-10-06 20:14] captaincole commented on #265
@chr314 Thanks for the fork and the PR. I pulled from the latest master branch and attempted to pull from your fork but on both occasions when I need to render a webview from inside an HTML tag (what I use for react-native-render-html), it still throws an error.

```"RNCWKWebView" was not found in the UIManager```

I'm on React Native 61.1

Any thoughts on what might be happening? Are you able to

[2019-10-06 20:33] captaincole commented on #265
To solve my problem above, I just wrote a custom renderer for any iframe tags that came in.

[2019-10-09 08:51] akhilsanker opened #302 "\n not breaking to new line"
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(Write your answer here.)

[2019-10-09 08:52] #302 closed

[2019-10-09 10:43] akhilsanker opened #303 "Content having '\n' not breaking to new line"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-10-11 15:14] lengieng commented on #303
You can use `<br>` for line break in HTML.

[2019-10-14 06:31] akhilsanker commented on #303
@lengieng ,
There are some limitations in providing `<br>` for line break in HTML content. The line break is denoted by `'\n'` in HTML content.

[2019-10-14 13:29] presencewebdesign opened #304 "WebView is depreciated"
WebView will not work with version RN 0.61.0

Update the following file
/node_modules/react-native-render-html/src/HTMLRenderers.js

Add this
import { WebView } from 'react-native-webview';

And remove WebView from this line
import { TouchableOpacity, Text, View, **WebView**, Platform } from 'react-native';

PS: when will this be updated?

[2019-10-15 07:15] Utkarshkataria commented on #304
It worked.. Thanks.

[2019-10-15 11:42] oleksii-lyhun commented on #137
For render video I just remove video tag from ignoredTags list
`import Video from 'react-native-video'
import HTMLView from 'react-native-render-html'
import { IGNORED_TAGS } from 'react-native-render-html/src/HTMLUtils'
`
`<HTMLView
    html={content}
    renderers={{
      video: ({ src }) => (
        <Video source={{ uri: src }} />
      ),
    }}
    ignoredTags={IGNORED_TAGS.filter(tag => ta

[2019-10-15 14:05] lengieng commented on #303
@akhilsanker , what is the reason of using `\n` instead of `<br>`? `\n` is not a valid HTML tag. Therefore, it makes sense that the html parser won't pass it. Does your HTML content contain a code block which should be wrapped by `<pre>` tag?

[2019-10-16 09:38] aaveidt commented on #152
Anyone implement lazyload for component? Since it takes too long to render html string.
I need to notice user that the view is rendering.

I'm using Suspense + lazy:
`const HtmlRender = lazy(props => import('./html.js'))`

But it only works for first time, after the component is imported, it's no longer lazy and continue to block main ui thread and forces user to wait.

[2019-10-16 15:12] tuannguyenhoangit-droid opened #307 "Two nested img tag not in row as html default"
In html like that
<img width="826" alt="Screen Shot 2019-10-16 at 10 06 29 PM" src="https://user-images.githubusercontent.com/56645054/66932505-eec6a300-f061-11e9-82ca-00df68a0d1b3.png">

But it isn't working in react-native-render-html, two image always is in new row

[2019-10-17 08:32] Utkarshkataria opened #308 "Image showing black square box in release build only debug working fine."
<HTML
                  html={
                    this.props.postData[0] &&
                    this.props.postData[0].content.rendered
                  }
                  imagesMaxWidth={Dimensions.get("window").width/1.1}
                  tagsStyles={stylesHtml}
                  alterChildren={this.alterChildren}
                  ignoredStyles={[ "width","height"]}
                  // tag

[2019-10-17 08:56] #308 closed

[2019-10-20 19:55] aashishbarnwal opened #309 "Questions on using this library to fit our use cases"
### Questions on using this library to fit our use cases

I have been trying to understand the feasibility of rendering a HTML with CSS styling in Android/iOS. To give some background, we have web presence where based on some user actions, the HTML is generated and rendered. The HTML contains CSS styles, attributes, tags (div/span/a/svg/path/button), anchor with url and mailto protocol, custom cla

[2019-10-23 07:41] giacomocerquone commented on #309
@aashishbarnwal well actually your questions are even out of the scope of this package, but I'll try to anwser to your doubts.

1. Yes, it's true, lots of css styles aren't supported and you'll have a hard time implementing certain small UI details (shadows for example).
But you must consider that web pages and mobile apps are clearly two different platforms where the styling gets applied and hone

[2019-10-23 08:37] mtnptrsn commented on #304
This is already fixed in master, the issue is that it hasn't yet been released. When can we expect another release?

[2019-10-23 16:37] Stevevelt commented on #37
The image size issue is still a problem for me as well. It seems like this did not get resolved

[2019-10-24 12:01] mi5ha opened #310 "componentWillMount, componentWillReceiveProps are depricated"
These 2 methods should be removed from the code.

[2019-10-28 16:52] jsamr commented on #76
Please vote the feature here: https://react-native.canny.io/feature-requests/p/support-superscript-and-subscript

[2019-10-30 14:57] KristineTrona opened #311 "Image width and height always stays equal to imagesInitialDimensions prop"
### Is this a bug report or a feature request?

This is a bug report.

In ``/src/HTMLImage.js`` the imagesInitialDimensions are never overwriten by the setState call in getImageSize() and always stay to the default prop values.

The reason for this is that ``this.mounted`` is expected to be ``true``, otherwise this.setState is not called. In componentDidMount() the ``this.mounted`` value is set to

[2019-10-30 16:40] jsamr opened #312 "Provide a nestLevel property to list prefix renderers"
### Is this a bug report or a feature request?

Feature Request

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes.

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't alread

[2019-10-31 06:58] Synaric commented on #188
Thanks for your example! Really help me.

[2019-11-01 03:24] achimbaggins commented on #107
Youtube video still not played, is anyone here can embed youtube video and play it?

[2019-11-04 05:30] ramirezjag00 commented on #262
No luck using touchable* but text with onpress is working for me, just read how to use customRenderers for the other properties, I'm on RN 0.59.10:

[code]

[2019-11-04 18:04] maicolsantos commented on #304
When are you planning to launch release?

[2019-11-05 08:50] vomchik commented on #304
@ThomasHenrissat  Could you please release a new version? 🙏

[2019-11-05 09:00] ThomasHenrissat commented on #304
Sorry I'm not in charge of this repo, please use the master branch for now.

[2019-11-05 09:04] vomchik commented on #304
i see, thanks

[2019-11-05 18:34] JoeDuncko commented on #311
I'm having this issue as well, any chance you can make a PR with that fix?

[2019-11-05 18:37] JoeDuncko commented on #311
Actually, https://github.com/archriss/react-native-render-html/pull/253 seems to be a fix for this

[2019-11-07 06:25] egealpay commented on #156
Is it solved?

[2019-11-07 06:41] farimarwat commented on #310
same issue here

[2019-11-07 06:42] zedtux opened #314 "Add a CHANGELOG.md file"
This project lacks a `CHANGELOG.md` file and is very important.

Could you please add one?

[2019-11-07 13:05] IbrahimSheikh24 commented on #310
I am using react-native0.60.5 and getting warning-
"componentWillReceiveProps is deprecated and will be removed in the next major version".

Can I get confirmation to resolve this issue in the next release, so that I could continue using this library without any problem in the next version of react-native also?

[2019-11-13 18:46] Beissner commented on #271
Any news on this? Anyone able to get videos to work?

[2019-11-13 18:59] Beissner commented on #137
This work around doesn't seem to be working. Anyone else have better luck?

[2019-11-14 00:48] dburdan commented on #299
You could implement this using the `ignoreNodesFunction` param.

[code]

[2019-11-14 17:48] amixel commented on #310
same issue here

[2019-11-17 16:06] choukat commented on #307
I have the same problem, did you fix it ?

[2019-11-18 02:58] yrjwcharm opened #317 "Error whie updating property 'display' in shadow node of type:RCTImageView"
![image](https://user-images.githubusercontent.com/34397383/69021273-3d18ea00-09f2-11ea-96eb-107b433c6f7a.png)

[2019-11-18 06:54] yrjwcharm commented on #317
HTML has  'display'    word   is  error

[2019-11-18 07:53] RWOverdijk commented on #299
That's a pretty creative solution you got there. Thanks!

[2019-11-18 07:53] #299 closed

[2019-11-19 09:04] yrjwcharm commented on #317
Big Boss
 help!!!

[2019-11-21 07:56] papercoding commented on #279
You can use ignoredTags to ignore the `<br>` tag. Ex: <HTML ignoredTags={['br']} />. Or you can use some String methods to remove `<br>` from the html string before set it to the <HTML />.

[2019-11-22 12:13] tdoran opened #319 "iOS: CSS border-style=none is invalid - causes RN red screen warning"
iOS native styling can't accept border style as `none`. If HTML containing `style="border-style: none;` is passed in, RN Red-screen warning is shown on RN debug mode:
`Invalid RCTBorderStyle 'none'. should be one of: (dashed, dotted, solid)`

![Simulator Screen Shot - iPhone X - 2019-11-22 at 11 18 45](https://user-images.githubusercontent.com/29519739/69424573-e0367000-0d20-11ea-9098-a0ce5a98c6cd

[2019-11-23 07:23] chiennv97 commented on #141
Try to edit file HTMLImage.js
`validImage (source, style, props = {}) {`
`return (`
            `<Image`
              `source={source}`
              `style={[style, { width: Dimensions.get('window').width, height: this.state.height, resizeMode: 'cover' }]}`
              `{...props}`
            `/>`
       ` );`
  `  }`

Before:
<img src="https://user-images.githubusercontent.com/19644900/69475

[2019-11-23 20:46] ConnectedReasoning commented on #310
.... and same.

[2019-11-25 02:49] ThanhNguyen140797 commented on #317
same error

[2019-11-25 06:02] yrjwcharm commented on #317
@ThanhNguyen140797  react-native-htmlview 这个库可以解决这个问题。

[2019-11-25 14:23] Tugsjin commented on #310
and same issue here

[2019-11-25 19:34] datnordstrom commented on #310
same

[2019-11-27 11:48] harleenarora opened #320 "Is it support on popup?"
I have HTML data and this data got by my custom API and I tried to display this HTML on a popup. But WebView is not working on popup. Is it working on popup?

[2019-12-01 15:23] SergiOnGit commented on #310
@ThomasHenrissat Please update

[2019-12-04 21:37] annieneedscoffee commented on #310
Same here. The issue is in MyProjectName/node_modules/react-native-render-html/src/HTMLImage.js at line 43 and MyProjectName/node_modules/react-native-render-html/src/HTML.js at lines 80 and 88. I added UNSAFE_ to the names on these lines as the warning from React told me. This stops the warning from popping up and seems to work but I'm not sure if this will keep on working if I have to update my

[2019-12-04 21:50] annieneedscoffee commented on #310
It looks like a few people have already added pull requests with fixes for this. See:
https://github.com/archriss/react-native-render-html/pull/136
https://github.com/archriss/react-native-render-html/pull/256/files
https://github.com/archriss/react-native-render-html/pull/297
https://github.com/archriss/react-native-render-html/pull/306
https://github.com/archriss/react-native-render-html/pull/31

[2019-12-09 12:53] chrissnape commented on #320
Do you mean a modal? I have got text to display, but I'm trying to use an iframe vimeo player, it works elsewhere in the app, but it's not displaying in a modal for some reason.

[2019-12-13 08:36] lyqht commented on #312
Agree with this

[2019-12-13 10:53] FabrizioCaldarelli commented on #137
Worked for me!

[2019-12-17 00:36] catmans1 opened #321 "Some styles don't work"
### Is this a bug report or a feature request?
This is maybe a bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?
I have.

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?
I have
### Have you made sure that your issue hasn't

[2019-12-17 06:06] Asim13se commented on #94
Quick workaround is to wrap html view in a view and set maxHeight to 100 which equivalent to 4 line of text approximately:
[code]

[2019-12-17 18:20] ncryer commented on #286
I just had this problem, my solution is below. The issue stems from the way the `ul` renderer is implemented, so overriding the `ul` tag with a custom renderer will likely fix your issue (it did mine). Fundamentally, the problem is that the standard `ul` renderer parses each list item into a `prefix` (bullet or number) and a `child` (text), and rendering order is hard-coded.

 For the example belo

[2019-12-18 06:45] sarang-naico opened #322 "Can I use this library to render html generated by the Rich editors like Quill and draft.js?"
Hi,
We have some HTML content generated by using Quill editor, can I use this library to render that HTML?

[2019-12-23 09:06] RonakPatel0 opened #323 "when I render list it not show. show only one bullet"
when I render dynamics data in react-native-render-html so it's not give proper output.
html data :
[code]

[2019-12-25 17:02] Skylnt opened #324 "ENOENT: no such file or directory."
ENOENT: no such file or directory, scandir '*\node_modules\htmlparser2\lib\node_modules\entities\maps'. I use with Expo. Please help me.

[2019-12-26 10:58] oferRounds commented on #94
+

[2019-12-26 11:00] oferRounds commented on #94
@Asim13se interesting, but I see a problem that `maxHeight` may cut off a work in the middle (while not adding ellipses). Have you experienced it?

[2019-12-26 13:23] gvsakhil opened #325 "Not working in production mode android"
#159 # Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already b

[2019-12-26 13:39] #325 closed

[2019-12-26 13:39] gvsakhil commented on #325
Sorry its my mistake and the issue is with api's

[2019-12-27 22:54] dbarner1 commented on #310
same

[2019-12-29 18:51] bd-arc commented on #310
Fix available in version `4.2.0`.

[2019-12-29 18:51] #310 closed

[2019-12-29 18:51] bd-arc commented on #284
Done and available in version `4.2.0`.

[2019-12-29 18:51] #284 closed

[2019-12-29 18:52] bd-arc commented on #135
Thank you for the PR! It has finally been merged and is available in version `4.2.0`.

[2019-12-29 18:52] #135 closed

[2019-12-30 13:20] andordavoti opened #328 "componentWillReceiceProps and componentWillMount is deprecated"
The lifecycle methods componentWillReceiceProps and componentWillMount are now deprecated. They will be removed in future versions of React. Please update these so the component doesn't stop working.

[2019-12-30 14:08] ravirupareliya opened #329 "Android release build issue with version 4.2.0"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2019-12-30 14:32] a-skuba commented on #329
Since *4.2.0* you have to use `react-native-webview`: [diff 4.1.2..master](https://github.com/archriss/react-native-render-html/compare/4.1.2...master).
Look at commit [c16f249](https://github.com/archriss/react-native-render-html/commit/c16f249166c8355f52573718f040644c4c9c3a27) and commits after.

It would be great to somehow configure to not use iframes, which requires the unpleasant package.

[2019-12-30 16:56] bobjflong commented on #118
One possible workaround I've found, although I can't vouch for it as I haven't tested it fully, is tricking the library into thinking that the text node is not fully whitespace. This seems to prevent the node from being collapsed. Here I add a zero-width character to whitespace data:

[code]

In the cases I've seen, this seems to stop the whitespace from being lost. However I'm not sure if there's

[2019-12-31 04:35] ravirupareliya commented on #329
Does it mean we have to install `react-native-webview` separately? I am not using iframes anywhere, it is just simple html tags like `<br>` and `<ul> <li>`

[2019-12-31 05:21] harleenarora opened #331 "Style is not working?"
I have add style on top on the render html like this,

[code]

But View css ki not working.

[2019-12-31 07:31] a-skuba commented on #329
Yes, you have to install `react-native-webview`.
The PR you are sending is not fixing anything, some more refactor is needed.

[2019-12-31 07:33] ravirupareliya commented on #329
PR I have sent will not require user to install `react-native-webview` additionaly

[2019-12-31 11:54] nithinyell opened #332 "Build Fail Critical"
[code]

FAIL:
`Unable to resolve module `react-native-webview` from `/Users/runner/runners/2.163.1/work/1/s/XXXXXXX/node_modules/react-native-render-html/src/HTMLRenderers.js`: Module `react-native-webview` does not exist in the Haste module map
`

@bd-arc please take a look.

This is happening after your changes happened two days ago.

[2019-12-31 13:37] bd-arc commented on #332
Please read the doc: `react-native-webview` is now a peer dependency and you need to install it yourself.

[2019-12-31 13:37] #332 closed

[2019-12-31 13:44] bd-arc commented on #328
Already done and available in version `4.2.0`.

[2019-12-31 13:44] #328 closed

[2019-12-31 13:45] nithinyell commented on #332
@bd-arc
Will check and get back.

[2020-01-01 13:04] Krypternite opened #333 "Images not showing up and sometimes disappear"
### Is this a bug report or a feature request?

Bug Report

### Environment

  Environment:
    React: 16.9
    React native: 0.61.5
    react-native-render-html: 4.2.0

  Target Platform:
    iOS (10.3)

With React Native 0.61.5 and iOS 13, the images in the html sometimes do not show up at all and sometimes if they do, they disappear after a moment is the focus changes from the view.

![image](h

[2020-01-03 13:36] a-skuba commented on #329
@bd-arc you can close this :)

[2020-01-03 16:41] #329 closed

[2020-01-05 06:42] razorabhu1995 commented on #105
did anybody find a solution to this issue?

[2020-01-06 05:34] minhajul-islam commented on #169
works ,thanks a lot

[2020-01-06 05:54] axu6705 commented on #252
+1

[2020-01-06 16:07] MrLaibin commented on #244
if use  "htmlparser2": "^4.0.0"，Unable to resolve module `stream`
must use "htmlparser2": "^3.10.1"

[2020-01-06 16:34] WLYau commented on #319
I'm experiencing the same issue and tried using ErrorBoundary to capture the error but that didn't work.

[2020-01-07 12:05] yuezonglun commented on #252
+1

[2020-01-07 15:10] rikkitissier commented on #322
Yes. You may need to write some custom renderers and/or tag styles depending on what your content contains, but otherwise that's exactly what this library is designed to do.

[2020-01-07 15:17] gvsakhil commented on #322
Ya @sarang-naico I am using this to display the content generated by Quill editor. Its working awesome. I just added a small tweek for Tables and other than that everything is fine for me.

[2020-01-08 05:55] yuezonglun commented on #154
ignoredStyles={['font-family', 'display','text-align',]}
allowedStyles={["none","flex"]}

[2020-01-09 07:17] gvsakhil commented on #37
@Stevevelt
Try this

<HTML html={textToRender} {...htmlConfig} ignoredStyles={['height', 'width']} imagesMaxWidth={Dimensions.get('window').width} style={{ width: '100%' }} />

Try adding ignoredStyles

[2020-01-13 14:23] f-roland opened #334 "4.2.0 is a breaking change"
Hi,

I removed the issue template cause this isn't a bug with the code itself, but the versioning.

Because of the change to react-native-webview being a peer dependency, the consequence is that projects updating from 4.1.2 to 4.2.0 will break, unless another dependency is being added.

The deed is done, but this is a violation of semver principles.

[2020-01-14 05:08] desis123 commented on #107
@achimbaggins   tmtung144 's solution works perfectly for me

[2020-01-14 05:08] fxbayuanggara commented on #223
You're truly my lifesaver. Thank you so much. Both 'normal' and null is worked for me!

[2020-01-16 21:27] guille-alibrate commented on #188
Excelent.
On question: how could you get the link text, besides the href attribute? The text is valuable info too.

[2020-01-19 15:47] pataar commented on #68
Any solution for this?

[2020-01-21 18:09] Krypternite opened #335 "Weird Rendering when text copied from Wikipedia ."
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2020-01-21 23:41] bbah93 opened #336 ""Start" attribute not working for Ordered List"
### Is this a bug report or a feature request?

Bug Report.

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already bee

[2020-01-22 14:44] matthiaskoenig96 commented on #252
+1
Solution would probably be to cast "start" and "end" to "left" or "right" until react style sheet can handle the new values.

[2020-01-23 12:35] DevAelius commented on #61
How do i increase font size at run time (e.g from state)

[2020-01-24 14:30] hirvin-faria commented on #43
I used the solution of styles of @kartavyaparekh96, but I didn't modify the dependency files.
I used the properties tagsStyles and ignoredTags, to pass constants defined with the settings for the component properties.

[code]

Again these solution works for two column tables as mentioned

[2020-01-28 10:56] ezchen commented on #336
I wrote this to support the `<ol start>` attribute.

[code]

 Just add it as a prop to wherever you need to support the start attribute like so:

[code]

[2020-01-28 13:03] Sadhr opened #337 "After adding attribute to ignore in styles I got an Error"
After adding this attribute to ignoreStyles:

`ignoredStyles={[
              "display",
              "width",
              "height",
              "font-family",
              "padding",
              "font-weight"
            ]}`

### Environment

Environment:
    React: 16.8.3
    React native: 0.58.0
    react-native-render-html: ^4.2.0

### Actual Behavior

![Screenshot_1580215600](https://

[2020-01-30 19:34] seifsg commented on #143
@jsamr this is a must have

[2020-02-01 05:24] altruisticsoftware commented on #143
I'd also love this please! 💯

[2020-02-01 18:24] cmcaboy commented on #94
The maxHeight work around cuts it off on the middle, which is not ideal.

[2020-02-01 20:54] cmcaboy commented on #94
I was able to fix this with [custom renderers](https://github.com/cmcaboy/react-native-render-html/tree/feature/numberOfLines#creating-custom-renderers):

[code]

[2020-02-05 05:13] Razorholt commented on #105
[code]
Don't forget to add: `import { Linking } from "expo";` if you are using Expo

[2020-02-05 09:10] antoniogoulao commented on #143
@jsamr I used yours, included one missing property from the new version and fixed a typo.
`declare module 'react-native-render-html' {
  import { ComponentType, ReactNode } from 'react';
  import {
    StyleProp,
    Text,
    View,
    GestureResponderEvent,
    RecursiveArray,
    Falsy,
  } from 'react-native';
  namespace HTML {
    type HTMLNode = any;
    type NonRegisteredStylesProp<T> = T

[2020-02-05 13:41] jsamr commented on #143
OK I'll do a PR!

[2020-02-06 15:08] zamponotiropita opened #338 "Please remove deprecated PropTypes"
PropStyles (e.g. `Image.propTypes`) are deprecated in the current RN version. Please remove them.
Otherwise compatibility with the current `react-native-web` (1.12.0) is broken as it has completely removed PropTypes

[2020-02-07 17:27] FrancisLeigh opened #339 "Strange background image behind custom rendered component"
I have a custom element called `<coin />` which is rendered via
[code]
This all renders fine apart from a strange background image of what looks like a "file" icon (see attached) - has anyone seen this before?
<img width="111" alt="Screenshot 2020-02-07 at 17 21 58" src="https://user-images.githubusercontent.com/10357801/74051045-24a3e480-49cf-11ea-86b3-cb8a9e64c526.png">

[2020-02-10 07:16] SirishaBellam commented on #108
Failed prop type: Invalid prop `lineHeight` of type `string` supplied to `Text`, expected `number`.
Bad object: {
  "fontSize": 9.1,
  "lineHeight": "normal"
}

Having the same issue.

[2020-02-10 13:36] nikola-kolosek opened #340 "Custom renderers receiving no children as params"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes, I have

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes, I have

### Have you made sure that your issue has

[2020-02-11 19:50] jsamr commented on #143
Done, #341

[2020-02-13 17:15] rufusraghunath commented on #249
There is another typo in `IGNORED_TAGS` where it says `scripts` instead of `script`. This means that actual `script` tags are currently allowed by default, which seems like a significant security issue!

[2020-02-13 17:23] rufusraghunath opened #342 "⚠️ Security issue: script tags are allowed by default due to typo in IGNORED_TAGS"
### Is this a bug report or a feature request?

Bug

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been report

[2020-02-13 17:27] rufusraghunath commented on #342
Please merge [this](https://github.com/archriss/react-native-render-html/pull/272) existing PR to fix the issue.

[2020-02-17 08:52] armagedan commented on #203
@Exilz can we have a fix for this. I am having the same issue. My img tag is wrapped in a p tag currently. I am not sure whats wrong with it. Although my img tag has width and height set already which is 1920x1080

[2020-02-18 12:14] jsamr commented on #143
If you want to see those types landing fast, it would be appreciated if you could test locally and give some feedback in PR #341.
To test, just change your version of `react-native-render-html` to:

[code]

and run `npm i`

[2020-02-20 06:27] DAHUO-Melbourne opened #343 "tagsStyles doesn't re-render"
tagsStyles read the font size from store, and the font size changes with the slider bar value. I am sure that the component re-rendered, and I could get the value from store. But the font size in tagsStyles doesn't changes.

[2020-02-24 13:18] sebk opened #344 "Nested hyperlinks with neighbouring image are styled wrong"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2020-03-04 15:19] wangyannick commented on #343
Same issue there :)

[2020-03-04 15:20] wangyannick commented on #343
Same issue there 😔

[2020-03-04 15:23] wangyannick commented on #343
Same issue there

[2020-03-09 15:03] lyonsv commented on #118
Applying the following replace function to data before passing it to the component works for all our content so far:

```.replace(/[\t\r\n ]+/g, ' ')```

[2020-03-10 07:56] pxmage commented on #100
@Exilz
What if I want specify **fontSize** of different element individually ? They all have different **fontSize**.

[2020-03-10 12:14] woba-ko commented on #264
Could we get a response from the developers whether this is something they intend to fix? The text-align prop does nothing on android (works fine on iOS). It seems that the prop is never used as the text will align center if it can fit on 1 line within the width, but as soon as the text needs 2 or more lines then it will always left-align. Changing all <div> elements to <p> like @TommyLeong sugges

[2020-03-10 13:15] woba-ko opened #347 "TextAlign does not work on android"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2020-03-10 14:25] denissb commented on #338
I opened a PR for this, the approach is a bit hackish but it works until the package migrates to flow or TypeScript: https://github.com/archriss/react-native-render-html/pull/346

[2020-03-12 08:55] xusir2 opened #348 "On android, the last line is missing"
On android 9.0 and above, the last line of rich text is only half displayed, how to resolve.

[2020-03-12 15:45] nschild commented on #348
@xusir2 we are seeing this too. There is a bug in React Native on Android Q here is the issue filed in their repo facebook/react-native#25258 most probable is that we'll need to wait until this is fixed on their end.

[2020-03-12 17:38] nschild commented on #348
@xusir2 this PR seems to fix it. https://github.com/archriss/react-native-render-html/pull/305 Just set textBreakStrategy='simple'

related to https://github.com/facebook/react-native/issues/25258

[2020-03-13 07:10] xusir2 commented on #348
I'm glad that you can reply to my question, but the problem has not been solved yet. I added textBreakStrategy='simple' under the Text, but it still failed to display properly, and react-native 0.59.9 was used

[2020-03-13 12:50] nschild commented on #348
@xusir2 did you apply the changes from the PR I linked?

[2020-03-16 01:30] xusir2 commented on #348
@nschild Thank you for your patience.The problem has been solved

[2020-03-17 09:23] castalonirenz commented on #343
Same here any fix?

[2020-03-18 00:18] edjansantos commented on #343
Same issue here

[2020-03-19 13:40] dkoprowski commented on #143
Still there no typings when downloading from NPM.

[2020-03-19 17:15] harrydema commented on #347
I have the same problem!

[2020-03-20 04:07] castalonirenz commented on #343
i have fix for this, you must declare a key for your render html once the key change it will trigger re-render of your component. hope this help

[2020-03-22 09:06] pxmage commented on #312
Hey guys @lyqht @jsamr and anyone who runs into this problem.

I kind of figure out a work-around to share with you.

You could take advantage of [alterNode Feature](https://github.com/archriss/react-native-render-html#alternode)

try check this
[code]

and you will get output like:
[code]
where there are all parent tags listed inside an array, then you count the number of `ul`s and you get the ne

[2020-03-23 14:25] JaeWangL commented on #141
This really work well!!

[2020-03-24 02:33] yuanbolin opened #351 "Is it using UIWebView?"
App Store Connect:
TMS-90809: Deprecated API Usage - Apple will stop accepting submissions of app updates that use UIWebView APIs starting from December 2020. See https://developer.apple.com/documentation/uikit/uiwebview for more information.

[2020-03-25 01:25] pxmage commented on #351
I am developing with this library as well, if it's true and if there is no update or fix on replacing UIWebView, that would be a disaster to the project I am doing now :(

[2020-03-25 20:13] 5ervant opened #352 "How to render an actual object HTML component like <p>paragraph</p>"
I'm seeing that `react-native-render-html` can render an HTML code **in string format**.
How can I render an actual object HTML component like `<p>paragraph</p>`?

[code]

[code]

I already tried the above code but just getting a *"Warning: Failed prop type: Invalid prop \`html\` of type \`object\` supplied to \`HTML\`, expected \`string\`."*

And do we also need to install `react-native-webview`

[2020-03-26 03:08] #348 closed

[2020-03-26 10:01] pxmage commented on #351
hey @yuanbolin

I just got some clue from google.

I found that in `package.json` of `react-native-render-html`, it declares `'react-native-webview': '*'` as a peer dependency, which you might be using in a low version.

`react-native-webview'` removed UIWebView sinced version `7.0.1`, check here: https://github.com/react-native-community/react-native-webview#versioning

Just my guess :)

[2020-03-26 20:02] asma-rgb opened #353 "How to add an anchor Link"
How can i use an anchor link using react-native-render-html ?
I used Linking.openURL(url) with external link,,
 what about the anchor link ?

[2020-03-27 09:55] ncryer commented on #334
Tagging on here to add that I get the following upon updating from 4.1.2 to 4.2.0:

`Unable to resolve "./Stream.js" from "node_modules/htmlparser2/lib/index.js"`

[2020-03-29 16:41] 5ervant commented on #352
The solution is to use `ReactDOMServer`:

    import ReactDOMServer from 'react-dom/server';
    // ...
        <HTML
          html={ReactDOMServer.renderToStaticMarkup(<Paragraph />)}
          imagesMaxWidth={Dimensions.get('window').width}
        />

[2020-03-29 16:41] #352 closed

[2020-03-30 12:27] a5740 commented on #317
Just add 'display' in ignoredStyles.

Ex.:
ignoredStyles={['font-family', 'display']}
#257

[2020-04-01 16:01] mehul2013 commented on #353
I also want to open an external link. Is there any reference for this?

[2020-04-03 08:59] sjaloomconnect opened #354 "question regarding html tags"
I have a question, I am using this plugin to dislay html and seems to be working fine.
But I am wondering, if I can remove certain style tags from a string before rendering it.

For example:

<p><span style="color:'#000';font-size:16px;">Some text</span></p>

I want to remove the color:'#000' part (keeping the font-size), but not sure if that can be done via this plugin.

Anyone an idea?

[2020-04-07 14:59] gvsakhil commented on #354
Use ignoredStyles

<HTML html={content} ignoredStyles={['height', 'width', 'font-family', 'letter-spacing']} imagesMaxWidth={Dimensions.get('window').width} style={{ width: '100%', marginTop: 40 }} />

[2020-04-07 15:03] gvsakhil opened #355 "HTML text not rendering correctly"
This is my content

`let content = `<div><span class=\"fr-view\"><div><span class=\"fr-view\"><div style=\"font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: 100%;\"><span class=\"fr-view\" style=\"font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: 400; font-stretch: 100%;\"><div style=\"font-family: sans-serif; font-styl

[2020-04-07 15:33] gvsakhil commented on #355
Ok it got fixed when I added these -

ignoredStyles={['height', 'width', 'font-family', 'letter-spacing', 'font-style', 'font-variant', 'font-weight', 'font-stretch', 'line-height']}

[2020-04-07 15:33] #355 closed

[2020-04-08 02:05] mitchdowney commented on #68
@pataar maybe I'll regret this, but a hacky workaround that seems to work for me is to set `marginLeft: -16` on the `ul` custom tag style.

[code]

[2020-04-08 14:10] FrancisLeigh commented on #339
^

[2020-04-09 15:36] vwpo commented on #351
Please make an update on this topic. What should I do if I want to continue work with this library?

[2020-04-13 09:44] huferry commented on #343
I'm not quite sure by declare a key. Can you give me an example? (this is a beginner's question, my apologies) Thanks!!

[2020-04-13 09:47] castalonirenz commented on #343
Yes this is working for me

On Mon, Apr 13, 2020 at 5:44 PM Ferry Utomo <notifications@github.com>
wrote:

[2020-04-13 12:54] Sadhr commented on #107
@tmtung144  Thanks, dude solution works for me perfectly.

[2020-04-15 10:22] aashish-pixere commented on #343
Yes this is working but it's showing some latency while updating the font size.

[2020-04-15 10:42] castalonirenz commented on #343
what do you mean by latency?

On Wed, Apr 15, 2020 at 6:23 PM Aashish Singhal <notifications@github.com>
wrote:

[2020-04-15 13:58] jjg77 opened #356 "React Native Web Warnings"
Components works with React Native Web, but throws a bunch for warnings.  Some examples below:

[code]

[2020-04-16 06:26] aashish-pixere commented on #343
let me explain you again what i am facing issue when i implemented key for html render. Screen always re-rendering, not seems like font size increasing and decreasing smoothly. I hope you got my point and please let me what approach i can use.

If i applied this method forcefully in HTML library (node_modules/react-native-render-html/src/HTML.js ) :

componentWillReceiveProps (nextProps) {

[2020-04-16 10:00] felisio commented on #143
Hi guys, any progress with this? Thanks

[2020-04-16 12:11] jsamr commented on #143
@dkoprowski @felisio Please test the branch as I instructed. @Exilz is waiting for a few user feedback before merging. Report your feedback in #341!

[2020-04-16 20:12] peacechen commented on #343
@aashish-pixere
`componentWillReceiveProps` was replaced by `componentDidUpdate` (for the most part) in React 16.3.
https://github.com/archriss/react-native-render-html/blob/master/src/HTML.js#L86

Try to replace `componentDidUpdate` with `componentWillUpdate`.  Remove your additional `componentWillReceiveProps` callback of course.

If that fixes it, the issue may stem from a feedback loop.  The c

[2020-04-17 03:02] qiaowenwen opened #357 "does not exist in the Haste module map"
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(Write your answer here.)

[2020-04-17 14:53] aashish-pixere commented on #47
Hey! I am tried your code and it's not working means images are disappeared without any error in code. So please let me know if there any change for current library version of HTML ("react-native-render-html": "^4.2.0").

========================
Code :

const defaultRenderer = {
                renderers: {
                    img: (htmlAttribs, children, convertedCSSStyles, passProps) => <Image

[2020-04-20 01:50] kienphan opened #358 "Cannot render .svg image on Html img tag, but .png can be"
Same as title, I saw that my html include .svg img link is not rendered, but .png link was.

[2020-04-20 10:13] vikram-kodag commented on #109
import {Linking } from 'react-native';

[2020-04-20 13:09] AlishahSolanki commented on #353
<HTML html={item.getDefaultValue()} onLinkPress={(ev, href, htmlAttribs) => Linking.openURL(href)}
this way u can acheive it @mehul2013 @asma-rgb

[2020-04-20 13:45] aashish-pixere commented on #172
Is there any solution for this ?

[2020-04-21 09:03] vikram-kodag opened #359 "Html bold tag is not working in iOS"
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(Write your answer here.)

[2020-04-21 11:51] nbastoWM commented on #90
@charleycesar how did you fix this? I'm getting the same problem.

[2020-04-21 13:48] jjg77 commented on #245
@Exilz would you be willing to share the custom renderer for blockquote?

[2020-04-23 05:45] itokun99 commented on #293
same issue, we need more doc or implementation about altering node in this library. please advice

[2020-04-24 13:55] OleksandrFomin commented on #243
It applies to each `<p>` tag of the in your HTML. I receive several `<p>` under separate `<h>`  tags and it shows the number of lines I enter from each paragraph. Is there any way to do that for the whole document in case it is NOT wrapped by any tag?

[2020-04-25 11:46] Yab-kami commented on #188
Any Update on this?

[2020-04-25 18:04] mkamals commented on #343
@huferry Check this
const myHTMLTagStyles = {
        p: { fontSize: 18 },
        body: { fontSize: 18 },
    };

<HTML tagsStyles={myHTMLTagStyles} />

[2020-04-27 23:15] kamalpandey opened #360 "Last pragraph sentence of some html text gets cuts off i.e not shown"
This is problem In smaller device in Android    i.e. Google pixel 2xl or 2a and not problem in larger device. Could somebody tell what is wrong?

[2020-04-30 16:40] twelve17 opened #361 "Invalid css attribute crashes the app"
### Is this a bug report or a feature request?

Bug report

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

Yes

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

Yes

### Have you made sure that your issue hasn't already been

[2020-05-01 16:18] vinhdothe93 commented on #107
You saved my day. Thanks a lot

[2020-05-02 11:50] jjg77 opened #362 "textSelectable not working"
textSelectable prop does not work on Android or React Native Web.  My HTML component is part of a FlatList item, which may have something to do with the problem.

"react-native-render-html": "^4.2.0",

[code]

[2020-05-03 05:28] hussainb commented on #351
any updates on this issue? I was wanting to use this library in my app.
Is there any other way to render html in react native?
https://github.com/jsdf/react-native-htmlview does not use webview, but it seems its not being maintained.

[2020-05-03 06:12] kptac commented on #351
I use this package and launched 2 new apps on AppStore 2 weeks ago without any issues. No email notices on API usage were sent. I did update the SDK to v37 though. This is important because, in v36, I did get the email with API deprecation msgs. But after upgrading, I didn't.

My package.json:
[code]

[2020-05-03 06:15] yuanbolin commented on #351
SDK name?

[2020-05-03 06:15] hussainb commented on #351
Thanks @kptac

[2020-05-04 22:45] luiserd97 commented on #362
I have a similar problem, but my HTML is inside a View, and the textSelectable prop only work just after refreshing the page with ctrl + s in my code.

[2020-05-05 09:23] ohitslaurence commented on #360
Try add this to your props, worked for me.

[code]

[2020-05-05 11:32] Sadhr commented on #107
there is any way to make videos use fullscreen ?

[2020-05-06 10:27] nolife08021 commented on #360
hi,
can you give me full sample?

[2020-05-06 10:32] nolife08021 commented on #360
I tried, it cut off more content. lol

[2020-05-06 12:36] rukmanary commented on #244
How to do that? How to downgrade htmlparser2?

[2020-05-07 11:24] maicolsantos opened #365 "How to bind an image"
I open a PR where it is possible to get the image uri by a method called "onImagePress"

PR #364

[2020-05-07 11:35] rafaelbpa commented on #365
Please approve this when possible. I need this feature too.

[2020-05-07 11:47] marcelofreires commented on #365
Nice. This can help me too

[2020-05-07 11:47] davigurgel commented on #365
I need this feature, please approve.

[2020-05-07 12:48] sergiosilvajr commented on #365
Plz, me too..

[2020-05-08 09:32] andordavoti commented on #143
Any updates on adding type definitions to the npm package?

[2020-05-09 10:00] nolife08021 commented on #360
![Screen Shot 2020-05-09 at 5 59 12 PM](https://user-images.githubusercontent.com/49778835/81470726-f24c9200-921e-11ea-9eda-420310ee2662.png)

[2020-05-09 10:01] nolife08021 commented on #360
@kamalpandey  @ohitslaurence do you guys have any solution on this?

[2020-05-09 10:03] nolife08021 commented on #360
I tried
`                            customWrapper={(content) => {return <TextInput  multiline={true} editable={false} selectTextOnFocus={false}>{content}</TextInput>;}}
`

An error show out.

**Invariant Violation: Nesting of <View> within <Text> is not currently supported**

[2020-05-09 10:51] kamalpandey commented on #360
@nolife08021 No Waiting for some one to reply on this.

[2020-05-09 10:53] nolife08021 commented on #360
@kamalpandey

try this

`<HTML
                  tagsStyles={{p:{ flex:1 }}}
                  allowFontScaling={false}
                  customWrapper={(content) => {return <TextInput style={{backgroundColor:'white'}}   multiline={true}  editable={false} selectTextOnFocus={false}>{content}</TextInput>;}}
                  baseFontStyle={{flex:1, fontSize:14, fontFamily: "System"}} ignoredStyles={

[2020-05-09 11:42] ohitslaurence commented on #360
@kamalpandey Also try adding `lineHeight` to your html tags. Like 1.4x your font size

[2020-05-09 12:36] nolife08021 commented on #360
lineHieght works for me. Thanks

[2020-05-10 22:09] gypsicoder commented on #169
@murshudov But, I am facing another problem. In my html text there are bold tags which fontfamily isn't changing to the given fontFamily for example "Roboto". The normal texts are showing in the correct fontFamily.

[2020-05-11 11:41] kamalpandey commented on #360
@nolife08021  @ohitslaurence
I am using like this
` <HTML
        html={postBody}
        onLinkPress={handleLinkPress}
        imagesMaxWidth={imagesMaxWidth()}
        ignoredStyles={[...IGNORED_STYLES]}
        baseFontStyle={baseFontStyle()}
        alterChildren={node => alterChildren(node)}
        alterNode={node => alterNode(node)}
        staticContentMaxWidth={staticContentMaxWidth()}

[2020-05-11 11:43] ohitslaurence commented on #360
@kamalpandey You can put the `lineHeight` inside your baseFontStyle

[2020-05-11 13:56] kamalpandey commented on #360
@ohitslaurence
I added this
[code]
but still issue persists.

[2020-05-12 08:07] xuezhimin commented on #307
I have the same problem, did you fix it ?

[2020-05-12 12:01] murshudov commented on #169
@gypsicoder I had the same problem with bold text, but unfortunately couldn't workaround it

[2020-05-13 01:47] nolife08021 commented on #360
@kamalpandey

I set the lineHeight in tagStyle.

`<HTML
                  allowFontScaling={false}
                  tagsStyles={{p:{fontSize:18, padding:10, minHeight:60, lineHeight:22 }}}
                  baseFontStyle={{fontSize:scaledSize(18), fontFamily: "System", justifyContent:'center' }} ignoredStyles={["font-family"]}
                  html={JSON.parse(optionText)} {...htmlConfig}/>`

[2020-05-13 12:09] ashusaini commented on #361
@twelve17 I am also getting this issue

[2020-05-15 19:21] maicolsantos commented on #365
I solved it by binding the image using the renderers props

[2020-05-16 10:08] tarifaljnidi opened #367 "Select first paragraph"
### Is this a bug report or a feature request?
Question (maybe feature request?)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(yes)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(yes)

### Have you made sure that your

[2020-05-19 02:25] Gardens18 opened #368 "<OBJECT /> DOES NOT WORK"
html5 OBJECT tag with data="https://webaite.com/index.html" DOES NOT WORK

please support

[2020-05-20 07:44] ankitnasitmit opened #369 "Unrecognized font family"
![Simulator Screen Shot - iPhone X - 2020-05-20 at 13 11 05](https://user-images.githubusercontent.com/54848773/82419721-65b29700-9a9c-11ea-9e09-728ee3fe585e.png)

1.Unrecognized font family 'serif'

[2020-05-20 08:23] ankitnasitmit commented on #369
https://github.com/react-native-training/react-native-fonts

[2020-05-21 13:27] ghost opened #370 "Could not find a declaration file for module..."
After import the module...

`import HTML from 'react-native-render-html';`

i've this warning

[code]

The command "npm install @types/react-native-render-html" return 404

Thanks

[2020-05-21 13:33] sunilprajapatisa opened #371 "How to render 3 images in vertically center?"
Here is sample HTML code for 3 image render should be vertically centred. **And also should be in One Line**

[code]

**What get result:**
![Screenshot 2020-05-21 at 6 57 40 PM](https://user-images.githubusercontent.com/29479459/82563588-fa002500-9b94-11ea-94e8-aeda92bbe5cd.png)

**Want Result:**
![Img_ResultShouldBe](https://user-images.githubusercontent.com/29479459/82563313-79d9bf80-9b94-11ea-9

[2020-05-21 19:10] murilobd commented on #371
try to change the tag for images and add a flexDirection as row
[code]

[2020-05-22 04:14] sunilprajapati714 commented on #371
Not working

[2020-05-22 04:14] sunilprajapati714 commented on #371
Not working

[2020-05-25 14:50] Kaushik1502 opened #373 "Problem rendering table content"
I am trying to render below html which I am getting as a json response

`<figure class="wp-block-table"><table><tbody><tr><td>Former Prime Minister Mohammad Mahathir’s gambit to reinforce his leadership<br><br>mandate &#8212; through a shock resignation last week, in a bid to return to power<br><br>with a planned majority confidence vote in parliament &#8212; has been thwarted.<br><br>Bersatu pres

[2020-05-26 12:46] sunilprajapati714 commented on #371
Any updates on this?

[2020-05-26 13:01] sunilprajapati714 commented on #371
@Exilz , Any update on this?

[2020-05-26 21:16] WilbertJanney commented on #43
I had to change the \n to \r\n to get it work.

I am trying to figure out the tablestyle part that he added now. Anyone know what goes here?

[2020-05-27 02:10] Hieu1906 opened #374 "hi everyone,i want to custom fontsize and font face, can you help me"
### Is this a bug report or a feature request?

(Write your answer here.)

### Have you read [the guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) regarding bug report?

(Write your answer here.)

### Have you read [the documentation](https://github.com/archriss/react-native-render-html/blob/master/README.md) in its entirety?

(Write your answer here.)

[2020-05-27 09:01] Tyki commented on #360
Facing same issues on MIUI and oneplus OS.

Any updates?

[2020-05-28 11:37] caioiglesias commented on #216
Isn't this issue fixed with https://github.com/thoughtis/react-native-render-html/pull/1 ?

[2020-05-31 20:08] vojeda commented on #107
I join the question of @Sadhr does anyone know how to make YouTube videos viewable in full screen on Android?

[2020-06-02 07:19] ssingh1984 commented on #245
@salhotra Will you pls share the code if you have to handle twiiter widget rendering.

[2020-06-03 08:02] kamalpandey commented on #360
@Tyki
For now you can use
[https://github.com/archriss/react-native-render-html/pull/349]()

[2020-06-03 14:53] Gardens18 commented on #368
Any support on this ?

[2020-06-04 15:35] NandoMB commented on #369
I'm with the same problem _**Unrecognized font family 'Arial, Helvetica, sans-serif'**_ and the case is, should I know every font that the user could use and import it to my app?

There's no way to replace an unrecognized font family for another one, like browsers do?

Thanks

[2020-06-07 13:46] LorrisSaintGenez commented on #172
@Exilz Any blocking to this PR https://github.com/archriss/react-native-render-html/pull/315 ? That would hopefully solve this issue

[2020-06-12 07:28] brambang commented on #244
is it solved????
i had same problem when i upgrade to 4.2.0

[2020-06-12 07:41] brambang opened #375 "error: bundling failed: Error: Unable to resolve module `./Stream.js` from `node_modules/htmlparser2/lib/index.js`:"
i upgrade to 4.2.0 because there was a warning in below version about component function.
But now my apps got error.

`error: bundling failed: Error: Unable to resolve module `./Stream.js` from `node_modules/htmlparser2/lib/index.js``

how to solve it??
do we need to install NPM parser by ourself?

[2020-06-12 08:03] brambang commented on #375
i delete node modules & `npm install`.
NOT SOLVED.

i run `expo r -c` just to clear cache.
then i exit and run `npm start` to start Metro bundler.
IT SOLVED.

[2020-06-12 08:04] #375 closed

[2020-06-12 10:00] danvee commented on #339
Also having this issue.

Appears to affect iOS devices only. Not present on iOS10 but presents on 13.x

[2020-06-17 16:26] gilmarsquinelato commented on #343
Hello guys, any update on this issue?
We have an open PR that can fix this issue.

I'm working in a product that is using this library, and I needed to use the key workaround.
Without that workaround, we can't properly enable DarkMode on components that uses this renderer.

Thanks!

[2020-06-19 13:02] vvusts commented on #264
Hi,

Temporary solution worked on IOS and Android:
[code]

[2020-06-19 13:17] woba-ko commented on #264
@vvusts Thanks, I will give this a try and report back if it works in my solution aswell. I assume you can switch the 'p'-element to a 'div'-element if needed, right? like so:

      renderers: {
        div: (htmlAttribs, children, convertedCSSStyles, passProps) => {
          return <Text style={{textAlign: 'center'}}>{children}</Text>;
        },

[2020-06-19 13:19] woba-ko commented on #373
Have you tried this:

[code]

[2020-06-19 13:49] vvusts commented on #264
Yes this way you can implement how each element should render.
I use it to render centered small clickable images for <img/> and <a/> etc.

[2020-06-22 22:57] #365 closed

[2020-06-23 20:31] claudiozam commented on #361
@twelve17 is there a way to prevent app crash? Something like ignore_errors= true? Thanks

[2020-06-24 13:26] Kaushik1502 commented on #373
It is showing [object Object]

[2020-06-25 14:31] msfreit commented on #76
I need it too!! any updates?

[2020-06-26 09:16] sanders-vag commented on #347
Me too, any workaround available?

[2020-06-29 04:05] #373 closed

[2020-06-29 12:32] neXorianus commented on #347
@sanders-vag
a workaround would be to wrap all the html with a `<p style="text-align: center"></p>`:
[code]

Disclaimer: I only testet this with text and BRs.

[2020-06-30 08:00] aje commented on #369
why this issue is closed without any response?

[2020-06-30 10:00] kaiyes commented on #374
Use  `baseFontStyle={{ fontFamily: "your font here"  }}` . So it's gonna look like

`<HTML` html={post} baseFontStyle={styles.paragraph} />`

[2020-07-01 07:09] sanders-vag commented on #347
Thanks @neXorianus! It worked like a charm!

[2020-07-03 11:34] reactdevrocks opened #376 "how to open phone app or email on click from html content which contains phone number or email?"
i have html contents coming from api.

[code]

[2020-07-03 11:37] #143 closed

[2020-07-03 11:43] Exilz commented on #143
This is available as of `4.2.1`

[2020-07-04 09:31] aleixo opened #377 "Re-render html to change colors"
Hello all

I have been using this lib a while now. It does very well the work. But now i have a requirement that is to change the colors of based on the theme.

For that, for now, i have my styles on `classStyles` and `tagStyles` props that will adapt to the theme that i have applied. In order for the styles to be used i have to re-render the complete html that depending on the html size will or n

[2020-07-04 17:09] jsamr commented on #351
I am closing because the issue seems to have been elucidated.

[2020-07-04 17:09] #351 closed

[2020-07-04 17:14] jsamr commented on #370
Typescript declarations have just been merged and release, upgrade to v4.2.1 and your problem will be solved!

[2020-07-04 17:14] #370 closed

[2020-07-04 17:20] jsamr commented on #368
This library does not claim support for `<object>` tags. Objects are very versatile, and thus would require an embedded WebView. We might consider supporting it in the future though. I am closing because this issue did not comply with the [contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md).

[2020-07-04 17:20] #368 closed

[2020-07-04 17:33] jsamr commented on #358
React Native Image component does not support svg files. Your only chance is to define a [custom renderer](https://github.com/archriss/react-native-render-html#creating-custom-renderers) which supports svg rendering through third parties like [react-native-svg](https://github.com/react-native-community/react-native-svg). We might consider support for svg in the future though. I'm closing because t

[2020-07-04 17:33] #358 closed

[2020-07-04 17:35] jsamr commented on #357
This is a typical issue with metro. I'm closing as out of scope.

[2020-07-04 17:35] #357 closed

[2020-07-04 18:25] reactdevrocks commented on #376
so if html content has a phone number or email then how can i open phone app or email app by clicking on them?

[2020-07-04 18:38] jsamr commented on #376
@reactdevrocks We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow our guidelines, it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notified on this tag, and will be happy to help you here.

[2020-07-04 18:38] #376 closed

[2020-07-04 18:47] jsamr commented on #356
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), and it is impossible to investigate without a minimal reproduction. Feel free to post a new compliant issue.

[2020-07-04 18:47] #356 closed

[2020-07-04 18:52] jsamr commented on #354
I am closing because this issue seems to have been resolved.

[2020-07-04 18:52] #354 closed

[2020-07-04 20:23] jsamr commented on #335
@Krypternite We are in the process of cleaning the issue tracker to make it manageable. Do you still have the problem?

[2020-07-04 20:25] jsamr commented on #337
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). We would need a minimum working example and steps to reproduce to help you out here. Feel free to post a new compliant issue.

[2020-07-04 20:25] #337 closed

[2020-07-04 20:27] jsamr commented on #333
@Krypternite Are you still facing this issue?

[2020-07-04 20:28] jsamr commented on #331
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html`  tag. We are noti

[2020-07-04 20:28] #331 closed

[2020-07-04 20:28] jsamr commented on #324
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html`  tag. We are noti

[2020-07-04 20:28] #324 closed

[2020-07-04 20:31] jsamr commented on #323
@RonakPatel0 Are you still facing the issue? By “dynamic data”, do you mean html prop being updated?

[2020-07-04 20:35] jsamr commented on #321
@catmans1 The set of accepted CSS rules is defined by `allowedStyles` and `ignoredStyles`. I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md) which require reproducible demo. Feel free to post a new compliant issue.

[2020-07-04 20:35] #321 closed

[2020-07-04 20:38] jsamr commented on #320
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-04 20:38] #320 closed

[2020-07-04 20:42] jsamr commented on #317
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-04 20:42] #317 closed

[2020-07-04 20:51] jsamr commented on #309
I am closing because this issue seems to have been resolved.

[2020-07-04 20:51] #309 closed

[2020-07-04 20:54] jsamr commented on #307
This is a limitation of the library: block elements cannot be displayed inline. We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/ques

[2020-07-04 20:54] #307 closed

[2020-07-04 20:55] jsamr commented on #304
I am closing because this issue has been resolved in a recent release.

[2020-07-04 20:55] #304 closed

[2020-07-04 20:55] jsamr commented on #298
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). Feel free to post a new compliant issue.

[2020-07-04 20:55] #298 closed

[2020-07-04 20:57] jsamr commented on #303
I am closing this issue because, as commented, `\n` is not interpreted in html.

[2020-07-04 20:57] #303 closed

[2020-07-04 20:57] jsamr commented on #295
I am closing because this issue has been resolved in a recent release.

[2020-07-04 20:57] #295 closed

[2020-07-04 20:59] jsamr commented on #294
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-04 20:59] #294 closed

[2020-07-04 21:04] jsamr commented on #289
See #257. As a workaround, you can ignore the `text-align` style rule with the `ignoredStyles` property.

[2020-07-04 21:04] #289 closed

[2020-07-04 21:08] jsamr commented on #287
@msintaha I think there is a misunderstanding on the scope of this library. This library does not claim support for executing scripts, but only rendering html. Plus, there is no DOM environment on which the script could be safely executed. WebView is what you need here!

[2020-07-04 21:08] #287 closed

[2020-07-04 21:12] jsamr commented on #280
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html`  tag. We are noti

[2020-07-04 21:12] #280 closed

[2020-07-04 21:13] jsamr commented on #265
I am closing because this issue has been resolved in a recent release.

[2020-07-04 21:13] #265 closed

[2020-07-04 21:20] jsamr commented on #262
I am closing because this issue seems to have been resolved.

[2020-07-04 21:20] #262 closed

[2020-07-04 21:22] jsamr commented on #259
@jamesovens Can you share your code here?

[2020-07-04 21:31] jsamr commented on #251
acronym is [not yet supported](https://github.com/archriss/react-native-render-html/blob/c1178fdb20ceb404d9a843a9e273bd6ca6bbb3c1/src/HTMLUtils.js#L16). We would just need to add `acronym` to the list of TEXT_TAGS so that they are rendered inline.

[2020-07-04 21:33] jsamr commented on #250
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. We need a full reproducible example to help you out. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to

[2020-07-04 21:33] #250 closed

[2020-07-04 21:36] jsamr commented on #248
@vUdav This is the expected behavior!

[2020-07-04 21:36] #248 closed

[2020-07-04 21:42] jsamr commented on #230
This is an upstream bug from react-native, see https://github.com/facebook/react-native/issues?q=Expected+to+find+at+least+one+React+renderer+in%3Atitle

[2020-07-04 21:42] #230 closed

[2020-07-04 21:49] jsamr commented on #215
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-04 21:49] #215 closed

[2020-07-04 22:04] #43 closed

[2020-07-05 00:22] jsamr commented on #178
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-05 00:22] #178 closed

[2020-07-05 00:26] jsamr commented on #200
I am closing this issue because it concerns an old version of this library (3.x). If the issue persists on the latest version, feel free to reopen.

[2020-07-05 00:26] #200 closed

[2020-07-05 09:10] jsamr commented on #361
This is a well known issue with unsupported styles translations from CSS to RN styles. We plan to work on it.
@claudiozam Add `'margin-top'` to `ignoredStyles` prop array.

[2020-07-05 09:47] jsamr commented on #216
@caioiglesias It has not been merged on master of *this* repository. The pending PR is #350. We are looking into it.

[2020-07-05 10:24] jsamr commented on #269
Duplicate of #172, closing.

[2020-07-05 10:24] #269 closed

[2020-07-05 10:28] jsamr commented on #172
@LorrisSaintGenez We're working on it!

[2020-07-05 12:12] jsamr commented on #374
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add   the `react-native-render-html` tag. We are not

[2020-07-05 12:12] #374 closed

[2020-07-05 12:18] jsamr commented on #362
Possible duplicate of #193.

I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). We need a full reproduction to help you out. Feel free to post a new compliant issue.

[2020-07-05 12:18] #362 closed

[2020-07-05 12:20] jsamr commented on #321
@catmans1 We will fix this issue with inline CSS in next release. Stay tuned!

[2020-07-05 12:29] jsamr commented on #367
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add  the `react-native-render-html` tag. We are noti

[2020-07-05 12:29] #367 closed

[2020-07-05 12:58] jsamr commented on #340
@nikola-kolosek It is hard to help you since you don't provide the exact html extract that you pass to the HTML component which result in the behavior you are describing.

[2020-07-05 13:03] jsamr commented on #339
@FrancisLeigh Likely a React Native bug. We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `re

[2020-07-05 13:03] #339 closed

[2020-07-05 13:12] jsamr commented on #334
@ncryer See fb55/htmlparser2/issues/499
Have you tried removing node_modules and `npm i`?

[2020-07-05 13:23] jsamr commented on #334
@f-roland I agree with you. We will make sure it does not happen again.

[2020-07-05 13:23] #334 closed

[2020-07-05 13:26] jsamr commented on #359
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). We are working on our free time and need a full reproduction to investigate. You are welcomed to post a new compliant issue.

[2020-07-05 13:26] #359 closed

[2020-07-05 13:29] jsamr commented on #333
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). We are working on our free time and need a full reproduction to investigate. You are welcomed to post a new compliant issue.

[2020-07-05 13:29] #333 closed

[2020-07-05 13:30] jsamr commented on #322
I am closing because this issue seems to have been resolved.

[2020-07-05 13:30] #322 closed

[2020-07-05 13:31] jsamr commented on #314
@zedtux I agree, this would be great. We'll try to add one on next major release.

[2020-07-05 13:42] jsamr commented on #281
@rikkitissier AFAIK, this is the intended behavior, because line-height is [an inheritable property](https://www.w3schools.com/cssref/pr_dim_line-height.asp). If you want to ignore line-height inline style, you can add it to `ignoredStyles` prop array.

[2020-07-05 13:42] #281 closed

[2020-07-05 13:59] jsamr commented on #271
@pixelize Because the iframe rendering highly depends on the WebView you are using, and react-native-webview is now a peer dependency, I suggest you try again with the latest RNWV version. I'm closing now, but you are free to reopen if you have reproduced the issue with latest webview version. In which case, please post a new snack!

[2020-07-05 13:59] #271 closed

[2020-07-05 14:05] jsamr commented on #244
Working on it. related: fb55/htmlparser2#499

[2020-07-05 14:08] jsamr commented on #202
I am closing because the issue is upstream (react native) and has been fixed since release 0.60.

[2020-07-05 14:08] #202 closed

[2020-07-05 14:27] jsamr commented on #244
I tried to reproduce the issue with a blank new project. Here are the steps:

[code]
Then, add `import HTML from 'react-native-render-html'` in your App.js file.
Run:
[code]
And the program runs with no exception. I bet your issue is related to a broken cache, either in metro, or in node_modules.
You could also check in package-lock.json which version of htmlparser2 is retained. And/or delete pack

[2020-07-05 14:32] jsamr commented on #254
`htmlContent` prop is for **raw html**. Use `uri` prop to achieve what you want. See the [documentation](https://github.com/archriss/react-native-render-html#props).

[2020-07-05 14:42] jsamr commented on #279
I am closing because this issue seems to have been resolved.

[2020-07-05 14:42] #279 closed

[2020-07-05 14:46] jsamr commented on #264
We are in the process of cleaning the issue tracker to make it manageable. I suggest you continue the discussion in #347, as this seems to be a duplicate.

[2020-07-05 14:46] #264 closed

[2020-07-05 14:50] jsamr commented on #261
@ibnukipa I think you are referring to this issue: #118. Closing as I believe is duplicate. If you don't agree, feel free to answer.

[2020-07-05 14:50] #261 closed

[2020-07-05 14:58] jsamr commented on #255
We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow](https://stackoverflow.com/questions/ask). Don't forget to add the `react-native-render-html` tag. We are notif

[2020-07-05 14:58] #255 closed

[2020-07-05 15:01] jsamr commented on #203
@chrise86 @armagedan I think you are referring to an issue that will be fixed when PR #311 is merged.
@duansiyu We are in the process of cleaning the issue tracker to make it manageable. Because your issue did not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md), it will be closed. But you can [ask this question on stackoverflow

[2020-07-05 15:01] #203 closed

[2020-07-05 15:47] jsamr commented on #243
I am closing because this will be resolved by #349.

[2020-07-09 23:00] Lucasark commented on #252
I don't not understand why it work with tag <p> and don't with tag <div>.

Example:
[code]
And we have this:

![WhatsApp Image 2020-07-09 at 19 55 08](https://user-images.githubusercontent.com/31750882/87098834-a0c08380-c21e-11ea-8228-e99e940c0da3.jpeg)

Obs.: text and container styles is just color.

[2020-07-10 11:23] jsamr commented on #252
In the next major release, we are considering using https://github.com/styled-components/css-to-react-native to overcome this kind of issues. In the meantime, we might release a hotfix for `text-align` rules.

@Lucasark Please post your question on stackoverflow with the `react-native-render-html` tag, we will be happy to help you here.

[2020-07-10 14:10] jsamr commented on #216
@DiepEsc That is already handled [L277](https://github.com/archriss/react-native-render-html/blob/47b159d4e42de37328609f2bf93f53e299cdc958/src/HTML.js#L277)

[2020-07-13 18:23] #311 closed

[2020-07-13 18:24] #342 closed

[2020-07-13 18:25] #251 closed

[2020-07-13 18:27] #338 closed

[2020-07-14 03:40] Akira-25 commented on #188
You're a legend @davidcort

[2020-07-14 21:35] jsamr commented on #118
I've done some research to see where those collapsing rules are specified. It appears to be the [CSS rule `white-space`](https://www.w3.org/TR/css-text-3/#preserved-white-space). The complete reference algorithm is defined in [the CSS Text Module Level 3](https://www.w3.org/TR/2020/WD-css-text-3-20200429/), sections 3 and 4.

<details>
<summary><b>Full Reference</b></summary>
<br>
<blockquote>
<h4

[2020-07-15 00:31] #314 closed

[2020-07-15 10:58] jsamr commented on #340
I'm closing now, feel free to comment if you are still facing this issue.

[2020-07-15 10:58] #340 closed

[2020-07-15 11:01] jsamr commented on #340
@nikola-kolosek Looking again at your example, it seems that you are misunderstanding the custom renderer API. This first argument is a node attributes argument, and does not contain any children property. [You're looking for the second argument](https://github.com/archriss/react-native-render-html#creating-custom-renderers) provided to the renderer function.

[2020-07-15 14:12] #343 closed

[2020-07-15 14:12] #377 closed

[2020-07-15 16:24] jsamr commented on #347
@woba-ko I am implementing some tests to confirm the issue, and thus far the tests do confirm your assertions. But I am a bit surprised it only applies to Android, or did you meant that you could only test the issue on Android?

[2020-07-16 00:30] hikkary commented on #369
Got the same issue. tried to de delete the node style but style the same.

[2020-07-16 02:37] bear1030 commented on #141
@JaeWangL
You don't need to update their original package code.
You can set the imagesInitialDimensions props like this.

[code]

[2020-07-16 04:13] umairali332 opened #381 "Support for style element"
Just wondering if following HTML can be rendered somehow.

[code]

[2020-07-16 09:24] jsamr commented on #369
@aje It was closed by the author! This error is probably caused by inline style. This is a known issue and we should be better at documenting the caveats; you can add font-style to the list of forbidden rules with the prop `ignoredStyles={['font-family']}`

[2020-07-16 09:37] jsamr commented on #381
@umairali332 We should be better at documenting the scope of this library. This library is not a replacement for a WebView, and thus doesn't claim to support all the standards. Currently, there is no plan nor claim to support such thing as cascading style sheet, unfortunately. What you can do however, is provide your own custom styles associated with classes, with the `classesStyles` prop. The onl

[2020-07-16 09:53] #249 closed

[2020-07-16 11:13] jsamr commented on #254
I could reproduce the issue on the Demo, but your snippet is wrong... I'll reopen.

[2020-07-16 11:51] jsamr commented on #244
Please ignore my previous comment, because I didn't try the production build. he version 4.0 of htmlparser2 removed their own implementation of Stream in favor of node stream, which exactly reflects the error you are having @yasir-netlinks. The upgrade to 4.0 was cause by this commit 6ef90ee4bbb10d6894bb20713188c2bf4d5bc90c, but unfortunately we don't have much information on what exactly this com

[2020-07-16 12:49] hikkary commented on #369
I have found a fix for my issue, i had to delete the styles of any element who had the fontFamily style in it, i used alterChildren props to do so.

[code]
may be that's not the best solution, let me know if there is a better way.

[2020-07-16 14:45] Fred-Reis commented on #188
If you import  Linking from react-native, it's work like a charm.

[2020-07-16 16:36] Ryabchikus commented on #244
@jsamr more information of this commit here: https://github.com/archriss/react-native-render-html/pull/318
Maybe I didn't understand the question?

[2020-07-16 16:50] ankitnasitmit commented on #369
Hello i was closed the bug because i saw this document. https://github.com/react-native-training/react-native-fonts

[2020-07-16 19:48] jsamr commented on #244
@Ryabchikus Well, the commit message claims to fix some issues, but doesn't really explain which issues were resolved by version 4 of htmlparser2, although I understand with the PR that would be related to iframes. That would help if you could tell us :-)

[2020-07-16 20:09] jsamr commented on #244
I went a step further in the investigation. I created a test automation script to run this command for every react native version configured:

[code]

This command is run in a project requiring and using the latest version of this library. So I tested the versions 0.59.2 and 0.63.1 of React Native, and it passed. *Seemingly, the steam module is not resolved by the metro bundler and thus we can kee

[2020-07-16 20:55] jsamr commented on #244
After reading this commit bb63adbcffd1ea1c38b24fb543d3e374c156b2b2, I realized that in version 3.10.0 of htmlparser2, the `stream` require was replaced by `readable-stream`, which was provided as a direct dependency. But version 4 reverted that change when  converting to typescript. See my ticket here https://github.com/fb55/htmlparser2/issues/517.

I believe the impossibility to reproduce this is

[2020-07-16 22:29] neXorianus commented on #347
iOS correctly displays elements with `text-align:center` in the correct, hence centered, way.
on Android, the texts will be left aligned.

[2020-07-17 21:27] #257 closed

[2020-07-17 21:27] #319 closed

[2020-07-17 21:27] #252 closed

[2020-07-17 21:27] #361 closed

[2020-07-17 21:27] #266 closed

[2020-07-18 23:24] jsamr commented on #193
This issue will be fixed soon. I'm implementing tests and reviewing the PR. So far, I understand that Android only considers the first Text element in the tree to apply the selectable attribute. But this library, in some occasions, applies the `selectable` prop deeper. I could confirm this behaviors with snapshots, and this observation matches every example provided in the snack.

[2020-07-18 23:49] #193 closed

[2020-07-18 23:56] #244 closed

[2020-07-19 16:06] jsamr commented on #347
After some investigation, I identified two very distinct issues<sup>1</sup>:

- CSS inline rules which are only translatable to RN `TextStyles` but are provided to HTML elements which are translated with `View`-based renderers get stripped, because RN does not support `TextStyles` on `View` elements. This is certainly something we should support, but it does add a layer of complexity since we must

[2020-07-19 18:30] jsamr commented on #344
@sebk I implemented a test that could reproduce the issue. Will investigate on the cause and provide a fix before 4.2.2 release.

[2020-07-19 19:58] jsamr commented on #216
I'm closing this issue in favor of #118. The solution to this issue is complex, and won't be included before release 6.0.

[2020-07-19 19:58] #216 closed

[2020-07-19 20:17] jsamr commented on #76
This feature, to be fully implemented, requires React Native to support `textAlignVertical: sub` and `textAlignVertical: sup`. As of React Native 0.63, those values are unsupported, and the `textAlignVertical` style rule [is only supported for Android](https://reactnative.dev/docs/0.62/text-style-props#textalignvertical). We do have a limited support for sub an sup, but only on Android. Although t

[2020-07-19 20:59] #353 closed

[2020-07-19 21:03] jsamr commented on #371
Currently this is not supported, because we break the inline formatting context to block when encountering `img` tags. This is because until recently, RN didn't support Views as children of Text nodes. We will allow this in a future release, where you'll be able to have more fine-grained control over layout.

[2020-07-20 13:05] jsamr opened #383 "Anchor elements are translated to Text bloated with the RN HTML props"
### Oath

I swear that I have completed these tasks before submitting:

- [X] I have read the guidelines here: https://git.io/JJchR
- [X] I have read the documentation here: https://git.io/JJcAl
- [X] I have checked that the bug has not been reported yet

### Decision table

- [X] My issue does not look like “The HTML attribute 'start' is not respected”
- [X] My issue does not look like “The HTML

[2020-07-20 13:35] jsamr opened #384 "Image elements are translated to HTMLImage bloated with the RN HTML props"
### Oath

I swear that I have completed these tasks before submitting:

- [X] I have read the guidelines here: https://git.io/JJchR
- [X] I have read the documentation here: https://git.io/JJcAl
- [X] I have checked that the bug has not been reported yet

### Decision table

- [X] My issue does not look like “The HTML attribute 'start' is not respected”
- [X] My issue does not look like “The HTML

[2020-07-20 13:54] #383 closed

[2020-07-20 13:54] #384 closed

[2020-07-20 20:13] jsamr commented on #344
@sebk Unfortunately a fix is non-trivial. The incriminated code is situated here: [src/HTML.js#L370](https://github.com/archriss/react-native-render-html/blob/9702d913f6de239eaa9e3e74adda2ec98db40113/src/HTML.js#L370). Basically, what happens is that text styles which should be inherited to children are force-written into children's `htmlAttribs.styles`, aka inline styles. Because inline styles ta

[2020-07-20 20:42] jsamr commented on #259
I'm closing in favor of #76.
@jamesovens in response to what you suggested, see this commit message: 002b7fbc63731e7050dd3c64509383821b5cf0fd

[2020-07-20 20:42] #259 closed

[2020-07-20 20:43] jsamr commented on #259
If you want this feature, upvote it here: https://react-native.canny.io/feature-requests/p/support-superscript-and-subscript

[2020-07-20 20:46] jsamr commented on #154
I have implemented a bunch of fixes, see #382, which should also fix what you've all encountered here. If you happen to still have an issue after release 4.2.2, please open an new ticket. Closing now, expecting release very soon.

[2020-07-20 20:46] #154 closed

[2020-07-21 00:05] jsamr opened #385 "🚀 Feedback for drafts of v4.2.2"
Dear community,

You might have noticed this (awesome) project hasn't been maintained for a while, and a lot of issues an PRs have piled up. After noticing a few contributions I had made, @Exilz offered me to join the team, and I accepted with great enthusiasm! I am really glad to participate in reviving this project, bring-in great new features and help build a community of collaboration. But bef

[2020-07-22 10:25] jsamr commented on #141
@guregu Thanks you for your proposition! You don't mind if I cherry-pick your patch and integrate it to the next 5.0 release? You'll be credited of course, since I'll be using the  `git cherry-pick` feature.

[2020-07-22 10:58] jsamr commented on #141
@guregu It is my understanding that your solution had a small bug, because  `state.indeterminate` was defined as "style prop has both width and height attributes", whilst ignoring width and height props. See my patch on top of your:

[code]

[2020-07-23 11:13] #276 closed

[2020-07-23 11:33] guregu commented on #141
@jsamr Hello, feel free to use my code however you’d like.
I’m not sure why I ignored the props, might have just been an oversight or perhaps there was some issue with the codebase I was integrating it with. Either way if the changes make it more correct then please go ahead and apply them :)
It’s been a while so I forgot 😅

[2020-07-23 11:35] jsamr commented on #141
@guregu Awesome! Thank you.

[2020-07-23 12:17] #254 closed

[2020-07-24 16:35] jsamr commented on #377
In version 4.2.2, HTML component will re-render on tagsStyles and classesStyles changes, if this is what you meant.
You can test a pre-release version now, see #385.

[2020-07-24 16:35] jsamr commented on #343
In version 4.2.2, HTML component will re-render on tagsStyles and classesStyles changes, if this is what you meant.
You can test a pre-release version now, see #385.

[2020-07-24 16:36] jsamr commented on #342
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:37] jsamr commented on #338
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:37] jsamr commented on #311
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:38] jsamr commented on #257
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:38] jsamr commented on #251
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:39] jsamr commented on #244
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-24 16:39] jsamr commented on #154
This issue will be fixed in version 4.2.2.
A pre-release is already available if you want this fix now, see #385.

[2020-07-25 14:35] #385 closed

[2020-07-25 21:24] jsamr opened #390 "🚀 Feedback for v4.2.3 drafts"
Following the release of version 4.2.2, [a new small pre-release is available](https://github.com/archriss/react-native-render-html/releases/tag/v4.2.3-beta.1) with a few fixes backported from master.

To test this release, simply install the package with the next tag:

    npm i --save react-native-render-html@next

**Please tell us how it works out for you!** Don't forget to mention the exact ve

[2020-07-25 21:45] jsamr commented on #276
The fix has been backported to v4.2.3-beta.1. See the instructions to test and report here #390!

[2020-07-25 21:45] jsamr commented on #254
The fix has been backported to v4.2.3-beta.1. See the instructions to test and report here #390!

[2020-07-27 18:10] pragneshpj commented on #107
Still getting crash with iFrame.
@tmtung144 can you plz tell me in which version iFrame dosen't crash in Android.
my react-native-render-html version is 4.2.2

[2020-07-28 14:38] softmastx opened #392 "Invariant Violation: [6749,"RCTImageView",{"width":0,"height":"<<NaN>>"}] is not usable as a native method argument"
### Bug Report

Invariant Violation: [6749,"RCTImageView",{"width":0,"height":"<<NaN>>"}] is not usable as a native method argument

This error is located at:
    in RCTImageView (at Image.ios.js:127)
    in Image (at HTMLImage.js:107)
    in HTMLImage (at HTMLRenderers.js:65)
    in RCTView (at HTML.js:487)
    in RCTView (at HTML.js:519)
    in HTML (at WordPressPostDetailScreen.js:140)
    in R

[2020-07-28 14:58] jsamr commented on #392
@softmastx This issue is impossible to reproduce because you didn't provide enough information. Can you *at least* give the `<img>` HTML excerpt which is causing this error?

[2020-07-28 15:17] softmastx commented on #392
I've updated the html from WordPress.

[2020-07-28 15:38] jsamr commented on #392
@softmastx OK thank you, I'll take a look very soon. BTW, your message will be easier to read if you use markdown formatting!

[2020-07-28 15:50] softmastx commented on #392
@jsamr Thanks for your prompt reply and looking forward for the fix.
Apology for the messey. I'm quite new for using markdown format!

Thanks again.

[2020-07-28 16:27] jsamr commented on #392
@softmastx You can try to put your html into a web browser and you'll notice the image is not displayed. This is because the domain you're trying to access has a TLS misconfiguration, and the error SEC_ERROR_EXPIRED_CERTIFICATE is raised. I agree that we should handle this failure gracefully though. I am closing, but I am adding a note for the next major to this concern.

[2020-07-28 16:27] #392 closed

[2020-07-28 16:29] jsamr commented on #392
@softmastx You can try my reproduction here: https://snack.expo.io/@jsamr/rnrhtml-392 and use the "web" renderer (panel on the right).

[2020-07-29 00:20] softmastx commented on #392
The link <img src="https://via.placeholder.com/350x150" /> rendering is working fine on the component and turn out that the problem was on WordPress side!

It was the .htaccess not allow unauthorised requests for images!  Possibly, It was redirected to WordPress login page which is not correct image format so,  setting back to public works as expected.

Wondering if I could send an authorization h

[2020-07-29 00:31] jsamr commented on #392
@softmastx Custom headers for image components is a fair feature request! Currently, there is a massive revamp of the image component in the workshop, see #389, but the focus has been consistent scaling behavior.  In the meantime, you can use a [custom renderer](https://github.com/archriss/react-native-render-html#creating-custom-renderers) for `img` tags, and set the headers via `source` prop. Bu

[2020-07-29 00:55] softmastx commented on #392
That's cool!  Thanks for the info.

[2020-07-29 12:23] drb1 opened #393 "Android crash while navigating back to stack screen ."
### Oath

I swear that I have completed these tasks before submitting:

- [X] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [X] I have read the documentation here: https://git.io/JJcAl
- [X] I have confirmed that this bug has not been reported yet

### Decision table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2020-07-29 12:33] jsamr commented on #393
@drb1 Thank your for your report! Can you try out version 4.2.3-beta.1? (see #390 for instructions)
There is an "enhancement" that might actually be a fix

[2020-07-30 07:11] drb1 commented on #393
this is minimal repo for analysis
https://github.com/drb1/DemoForVideoCrashHtml

[2020-07-30 09:47] jsamr commented on #393
@drb1 First of all, congratulations on the reproduction. That is pristine! So I did my little investigation, and this is what I found out:

- Some Android developers [have reported](https://stackoverflow.com/a/42966479/2779871) that this native error can be worked around by disabling hardware acceleration, but eventually at the cost of lower performance (that part is to be verified yet), [accordin

[2020-07-30 10:41] drb1 commented on #393
this solves the problem, but disabling hardwareAccelerated  has serious impact on performance of app, hope it will be fixed soon

[2020-07-30 10:59] jsamr commented on #393
@drb1 I do understand this is problematic. A user in the `react-native-webview` thread I referenced claims that putting opacity at 0.99 for the WebView might do the trick. I tested on your repo, **and it works**. My god, that's so utterly hackish. Here is the patch:

[code]
Can you confirm on your side?

[2020-07-30 11:42] drb1 commented on #393
yes this also solved the issue, i think this is the best method for now.

[2020-07-30 12:07] jsamr commented on #393
I am closing because there is a known workaround and the bug happens upstream.
See https://stackoverflow.com/q/63171131/2779871

[2020-07-30 12:07] #393 closed

[2020-07-31 06:30] zinete opened #395 "How to add a click event to a picture. And know the subscript currently clicked?"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that this enhancement has not been asked yet

### Decision table

- [x] The change I am requesting is not a new prop
- [x] The change I am requesting does not provide supp

[2020-07-31 07:31] zinete commented on #395
This problem has been resolved. I will close it

[2020-07-31 07:31] #395 closed

[2020-07-31 09:12] jeloagnasin opened #396 "Ordered list with child unordered list renders odd numbers only"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2020-07-31 10:01] jsamr commented on #396
@jeloagnasin Thank your taking the time to provide a high-quality report!

The snippet that you provided is not valid HTML, because `ul` is not allowed as children of `ol`. To perform the validation check with w3 tool, copy paste the bellow snippet in the box at this [w3c online check tool](https://validator.w3.org/). Select "Validate fragment" with "HTML4", and you'll see errors like:

![2020-07-

[2020-07-31 10:01] #396 closed

[2020-07-31 10:12] jsamr commented on #396
A valid snippet would be

[code]

[2020-08-03 18:46] jsamr commented on #244
If you encounter similar issues (unable to resolve XXX), check this: https://stackoverflow.com/a/63111913/2779871

[2020-08-04 07:26] vijay-mca commented on #390
i i am using npm i --save react-native-render-html@next i got this error
![Screenshot_1596525949](https://user-images.githubusercontent.com/45515876/89265322-ec195680-d651-11ea-9f2f-f8f049e252a4.png)

[2020-08-04 08:22] jsamr commented on #390
@vijay-mca If you are upgrading from a version earlier than 4.2.0, this is our "fault". We should have published a new major, because react-native-webview became a peer dependency (a dependency you must install by yourself).

Just `npm install react-native-webview` and you should be good to go.

[2020-08-05 17:41] linelson commented on #285
Also experiencing this bug, but on RN 62.2.

[2020-08-05 18:22] jsamr commented on #285
@FrancisLeigh @linelson Accessibility is a very serious matter and I believe we should have first-class support in the Foundry redesign (v6). I am not very knowledgeable in the field, and I would love input on how we can improve things more generally. The best would be that someone takes the time to think about and offers a RFC that we would implement in Foundry.

**I'm calling the community to pa

[2020-08-11 08:35] #390 closed

[2020-08-11 09:28] felansu commented on #244
That error is come back in 4.2.3

[2020-08-11 09:30] jsamr commented on #244
@felansu Have you tried the procedures described in the stackoverflow issue that I posted?

[2020-08-11 09:30] felansu commented on #244
Yes, i always do that,

the exactly error is:

error: Error: Unable to resolve module `./MultiplexHandler` from `node_modules/htmlparser2/lib/CollectingHandler.js`:

None of these files exist:
  * node_modules/htmlparser2/lib/MultiplexHandler(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx|.android.svg|.native.svg|.svg)

[2020-08-11 09:36] jsamr commented on #244
@felansu Please provide a mcve and I'll be happy to help investigate, or a tarball of your project by mail (In which case I swear to just investigate and delete the code afterwards) .

[2020-08-11 12:18] jsamr commented on #244
I am really willing to help, but if no-one shares a reproduction, or send me an archive privately, I just can't. My email address is visible on my github profile, so off you go!

[2020-08-11 14:17] felansu commented on #244
Sorry, i dont have free time for make a project for test that bug, i only report last version crash with that error.

[2020-08-11 14:20] felansu commented on #244
I use minifyEnabled true in app build.gradle, maybe that is related

[2020-08-11 14:44] jsamr commented on #244
I am going to lock this conversation now so that the current solution is visible to visitors. If anybody is facing a similar issue, and has tried the workaround posted here **https://stackoverflow.com/a/63111913/2779871**, including removing the package lockfile, I suggest, considering the difficulty to reproduce this error in new projects, either one of these actions:

- Send me an email with an

[2020-08-12 16:05] megantaylor opened #400 "PropTypes being deprecated"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that this enhancement has not been asked yet

### Decision table

- [x] The change I am requesting is not a new prop
- [x] The change I am requesting does not provide supp

[2020-08-12 18:53] jsamr commented on #400
@megantaylor I thought we had fixed that in #346 which has been merged. Which version of this library have you tried?

[2020-08-13 02:02] megantaylor commented on #400
@jsamr ahhh, we're using 4.2.0. I'll try updating tomorrow!

[2020-08-13 07:39] sunilprajapatisa commented on #371
Please do need full for this issue asap because my app have feature to to display images inline. Also I tried do solved but no get success and I'm stuck in this issue.

[2020-08-13 20:09] maendamedia opened #401 "Ads after first paragraph"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the help guide here: https://git.io/JJ0y3
- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl

------------

I use this module with great pleasure.

The only thing i like to know is, how i can add an ad (for example admob) aft

[2020-08-14 06:03] hi019 opened #402 "Error when inspecting with Expo: "Expected to find at least one React Renderer""
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [see below] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support f

[2020-08-14 09:41] jsamr commented on #402
@hi019 First of all, thank you for your effort to make a good quality, detailed report compliant with our guidelines. React Native housekeeping policies are very annoying, because they use the "stale" bot to bury issues into oblivion. **So keep in mind: if an issue is closed in the react native issue tracker, it is no hint that the problem has been fixed.** We're not doing black magic in this libr

[2020-08-14 09:48] jsamr commented on #401
@maendamedia I suggest you use alterChildren: https://github.com/archriss/react-native-render-html#alterchildren
If you want a complete example, I would recommend you to publish a post in stack overflow tagged with react-native-render-html, and I'll be happy to provide a more complete example. Please provide, in that case, the simplest HTML snippet depicting your challenge.

[2020-08-14 11:00] wikramdas commented on #208
I am having same issue when render a large HTML content then app will be crashed other wise it working fine I am debugging this from almost ten days but did not find any accurate answer.
Can anybody help me please to fix this issue.
Thanks

[2020-08-14 12:13] jsamr commented on #208
@wikramdas I am willing to investigate this to provide a hotfix; to do this I would need a full reproduction though. Could you provide a repro?
[Hints are available here](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug) on how to do so.

[2020-08-14 18:50] megantaylor commented on #400
updated and everything looks great!

[2020-08-14 18:50] #400 closed

[2020-08-14 18:59] jsamr commented on #400
@megantaylor I am glad it worked out!

[2020-08-14 19:52] hi019 commented on #402
I understand. Maybe I'll try to create a reproduction without this library and create a React issue.

[2020-08-14 19:52] #402 closed

[2020-08-14 21:46] amhouel commented on #400
Actually @jsamr with this new version that my colleague @megantaylor installed, we are now getting a typescript error in the `alterNode` function that I'm using as described in your documentation:
https://github.com/archriss/react-native-render-html#alternode

[code]
The error is: `Property 'name' does not exist on type 'HTMLNode'`
Could the type of `node` be fixed?

[2020-08-14 21:48] jsamr commented on #400
@amhouel I'll take a look tomorrow!

[2020-08-14 21:55] amhouel commented on #400
Thank you @jsamr!

[2020-08-15 03:56] xuezhimin commented on #86
Hello，I set ‘imagesMaxWidth={Dimensions.get('window').width} ’， but img width beyond the screen，s there any way? Thanks，

[2020-08-15 09:41] jsamr commented on #86
@xuezhimin This is being worked on in #389. Should be merged in master quite soon, so you'll be able to test it in an unstable release!

[2020-08-15 09:56] jsamr commented on #400
@amhouel The reason is that `name` attribute only appears to HTMLTagNodes while HTMLNode is defined as  `HTMLTagNode | HTMLTextNode;` So you could rewrite:

[code]

[2020-08-17 13:54] amhouel commented on #400
Perfect! Thank you @jsamr for taking the time to look at this!

[2020-08-18 19:01] donni106 opened #403 "navigation.navigate onLinkPress?"
I try for hours to call the app internal `navigation.navigate({...})` with `onLinkPress` instead of `Linking.openURL(url)` to open web references in a web view, but the app is not navigating.
Does anybody did this before? I do not want to open the browser but open my web view component when pressing a link inside of the rendered html.

[2020-08-18 20:59] #403 closed

[2020-08-18 21:00] donni106 commented on #403
sorry, it was my fault. needed a tea and fresh mind.
there is no problem with calling a `navigation.navigate({...})`.

[2020-08-20 04:51] jahead commented on #400
Someone should update the peer dependencies?

[2020-08-29 03:41] AlexJeeee commented on #400
@jsamr Thank you for the solution! but I still have some problems:
[code]
the max-width style doesn't work when I set it with a variable, but works if I set it with a static value such as '300', do you know why? thx~

[2020-09-01 21:02] mkhaledche commented on #86
I used the ignoredStyles property. It worked well for images but still I have the same problem in iframes (e.g. youtube and vimeo embeds)

Here is a snack of the issue:
https://snack.expo.io/@mkhaled.che/iframe-width-not-adjusted

Is there any solution for this?

[2020-09-02 07:17] FrancisLeigh commented on #285
A part-time solution that we came up with of was to show an "appendix of links" below any content block that renders an anchor when the screen reader is enabled.

We achieved this by parsing the incoming HTML for anchor tags, taking the tags content and corresponding links and rendering within a list below the content block.

Obviously not a solid solution but if anyone finds themselves here and n

[2020-09-03 06:52] zhaoyanxiang opened #404 "Long image can not show in full screen on Android."
### Oath

I swear that I have completed these tasks before submitting:

- [√ ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [√ ] I have read the documentation here: https://git.io/JJcAl
- [√ ] I have confirmed that this bug has not been reported yet

### Decision table

- [ √] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for i

[2020-09-08 12:18] jamesawer3 opened #405 "<font color='red'>&#x20b9;&nbsp;270</font>"
### Decision table

- [ ] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Bug Report

The HTML element given inside font is not rendering the color just rendering the content.

#### Setup

##### React Native

[code]

##### Libraries

- react-native-render-html: 6.

[2020-09-08 13:59] jsamr commented on #405
@jamesawer3 This library does not provide a renderer for the `font` tag, but you could write a [custom renderer](https://github.com/archriss/react-native-render-html#creating-custom-renderers). This is a feature request rather than a bug! But we won't access this request because [this tag is deprecated](https://www.w3schools.com/tags/tag_font.asp).

[2020-09-09 08:39] jamesawer3 commented on #405
Thanks for your immediate response!!!
Can you please just give me an example for render this?
```<font color='red'>&#x20b9;&nbsp;270</font>```

[2020-09-09 10:12] Allonsy-Jays commented on #404
same issue +1

[2020-09-09 10:41] jsamr commented on #405
@jamesawer3 Here is a very basic implementation covering the "color" attribute. It makes me realize the API improvement we can make to enhance extensibility! Certainly a feed to craft the v6 API. But I want to emphasize that this is an obsolete tag, [as stated by MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font):

[code]

[2020-09-09 10:41] #405 closed

[2020-09-11 06:18] ankitaptagline opened #406 "Math functions with HTML content."
Hello there,
I am using this library to display an HTML API response.

This is mathjax script tag link I want to apply to display the Math functions.
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js"></script>

**### Expected Result:**
![Expeced Result](https://user-images.githubusercontent.com/68049130/92873083-4a411280-f424-11ea-8359-999f2c4cd728.png)
**### Result:**

[2020-09-11 08:40] jsamr commented on #406
@ankitaptagline If I understood you well, I think your needs would be best met with [react-native-webview](https://github.com/react-native-community/react-native-webview). Our library doesn't provide a DOM API on which you can run arbitrary JavaScript content (thus we don't support script tags), but rather a way to map html elements to React Native elements.

[2020-09-11 14:03] jsamr commented on #406
@ankitaptagline You could also use [react-native-mathjax-svg](https://www.npmjs.com/package/react-native-mathjax-svg) with a [custom renderer](https://github.com/archriss/react-native-render-html#creating-custom-renderers) for span.

[2020-09-11 14:03] #406 closed

[2020-09-14 05:55] ankitaptagline commented on #406
@jsamr, I have one other issue, multiple images are not loading and Table tag content is not showing with this.
My content are something like this,
<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>hshsh</td>
			<td>jsjsjsj</td>
			<td>ajajaj</td>
			<td>jajaja</td>
			<td>ajaja</td>
		</tr>
		<tr>
			<td>hjshsh</td>
			<td></td>
			<td></td>
			<td></td

[2020-09-14 08:48] jsamr commented on #406
@ankitaptagline Please open a new issue with a reproduction, and then I can help!

[2020-09-14 09:00] ankitaptagline commented on #406
@jsamr, I have found your https://github.com/native-html/table-plugin#readme plugin. Thanks for your quick response.

[2020-09-14 15:16] amdrade commented on #343
@jsamr thanks for react-native-render-html!
Is possible re-render on `baseFontStyle` update?

[2020-09-14 16:16] jsamr commented on #343
@amdrade Don't really have much time for this right now, but a PR is welcome!

[2020-09-14 20:56] amdrade opened #407 "TypeError: undefined is not a constructor (evaluating 'new _htmlparser.DomHandler')"
After update to `4.2.3` TypeError: undefined is not a constructor (evaluating 'new _htmlparser.DomHandler')

react: 16.9.0
react-native: 0.61.5
Device: iOS simulator iPhone 8 Plus (13.5)

Simple code:
[code]

On Android works ...

[2020-09-14 22:33] jsamr commented on #407
@amdrade We've seen multiple users stumbling on this with metro or your package manager (#244), if you have not done this already, I suggest you take the actions proposed here: https://stackoverflow.com/a/63111913/2779871
If that doesn't work, feel free to comment!

[2020-09-15 03:31] hoanghuychh commented on #42
that is normal problem, you can check it if props is undefined or null
`<View style={this.props.containerStyles}>
               {this.state.title ?  <HTML html={this.state.title} />: null }
               {this.state.content ? <HTML html={this.state.content} tagsStyles={{ p: { marginTop: 0, marginBottom: 12 }, blockquote: { backgroundColor: "#f1f1f1", padding: 12, paddingBottom: 0, marginTop: 6 }

[2020-09-15 11:16] amdrade commented on #407
Solve!

[2020-09-15 11:16] #407 closed

[2020-09-17 10:29] workhub90 opened #408 "iframes starting with a two forward slashes src attributes are not rendered"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the help https://github.com/archriss/react-native-render-html/issues/137 but does'nt help.

------------
Hello archriss, please help me about this bug or some trouble.
images and text are all displayed successfully. however, only the youtube video link does not appear. any suggestions?

version package react-

[2020-09-17 11:10] jsamr commented on #408
@workhub90 As a starting point to resolve your issue, I suggest you upgrade to the latest 4.2.3 (you'll need to install react-native-webview manually, this was an error on our end breaking semantic versioning!).

If that doesn't work out for you, I invite you to provide a full reproduction, see https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug

[2020-09-17 11:15] #401 closed

[2020-09-17 16:13] workhub90 commented on #408
hai @jsamr thanks for fast response and give

[2020-09-17 18:24] workhub90 commented on #408
hello @jsamr  i've tried your suggestion.
1. upgrade react-native-render-html to newer 4.2.3
2. install manually react-native-webview with this documentation
https://engineering.brigad.co/demystifying-react-native-modules-linking-964399ec731b. i used newer version 10.9.0

is still same error. does'nt work.

i had tested in emulator & real device

![Screen Shot 2020-09-17 at 23 11 07](https://user-

[2020-09-17 18:36] jsamr commented on #408
@workhub90 To help you out, I need to know **what** is the **HTML** code you are trying to render, that is the content of the string you are passing to html prop (this.props.article.description).

[2020-09-17 18:42] jsamr commented on #408
I am starting to understand; I was confused because you said "the video link", so I thought you were talking about anchors (`<a>` elements). You are probably referring to an iframe element. The same remains true, cannot help you without the HTML source! This library support iframes now (will be moved out to a plugin for next major release) so I am unsure what is problematic here.

[2020-09-18 06:22] workhub90 commented on #408
@jsamr here the html i want to display.
![Screen Shot 2020-09-18 at 10 05 55](https://user-images.githubusercontent.com/56101357/93562217-cd77e080-f9af-11ea-838f-2be9c3341bc3.png)

you can see here on web everything shown. text, image and youtube video embeded.
but, when in mobile only youtube video embeded not shown.
![Screenshot_1600401237](https://user-images.githubusercontent.com/56101357/9356

[2020-09-19 12:30] jsamr commented on #408
@workhub90 With all regards, I don't have much time to investigate this issue *as it is* right now. If you can provide a full reproduction in the form of an expo snack or git repository, I'll be willing to investigate further though. I kindly invite you to follow our contribution guidelines here: https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug

[2020-09-20 11:27] deepak-jha-kgp commented on #406
Hey guys, sorry for a dumb question here. How do I get the entire HTML element (entire <span .... </span>  in this case) and it's children element to use in my customer renderer.
I'm trying to use the 'children' prop but seems like it sends children after converting them into native components (<RCTView> etc).
How do I get the entire <span...</span> and it's children to send it some other webview

[2020-09-20 13:56] jsamr commented on #406
@deepak-jha-kgp Would you mind posting your question in SO? I'd like to answer, but I'd rather have the community benefit from the great visibility of SO. https://stackoverflow.com/questions/tagged/react-native-render-html

[2020-09-20 14:16] deepak-jha-kgp commented on #406
@jsamr  Sure thing. https://stackoverflow.com/questions/63979897/extract-entire-html-element-and-its-children-in-react-native-render-html

[2020-09-20 14:48] jsamr commented on #406
@deepak-jha-kgp I posted a sulution: https://stackoverflow.com/a/63980013/2779871
Hope that works out for you. If not, you can comment here! I also suggested changes to your original post, tell me what you think.

[2020-09-20 14:51] deepak-jha-kgp commented on #406
@jsamr Thanks for this. Will try out the solution and ket you know.

[2020-09-20 15:06] jsamr commented on #408
@workhub90 I reviewed this issue a little further, and realized that the `iframe` src attribute is starting with two-forward slashes! Like this `//www...`. I guess we should handle this situation better. I'll try to implement a fix.

[2020-09-20 15:06] jsamr commented on #408
@workhub90 In the meantime, you can "fix" the src attribute with `alterNode` prop.

[2020-09-20 18:39] jsamr commented on #404
This issue probably has nothing to do with this library, but related to flex layout in React Native instead. If you have a ScrollView contentContainerStyle that looks like:

[code]
it will mess up the content, because `flex: 1` also sets `flexShrink` to `1`.
Use this instead:
[code]
And
[code]
It works for me!
See also https://stackoverflow.com/q/43143258/2779871
I'm closing, but if you still havi

[2020-09-20 18:39] #404 closed

[2020-09-20 18:49] jsamr commented on #408
@workhub90 Version `4.2.4-beta.1` has just been released, it should work now!

[2020-09-20 18:49] #408 closed

[2020-09-21 05:20] Allonsy-Jays commented on #404
still same. i think it's problem because android image library, because IOS is really can show really good resolute image.

[2020-09-21 07:21] workhub90 commented on #408
wow great, @jsamr  thank you for your updated. now its work.

[2020-09-21 08:15] jsamr commented on #404
@Allonsy-Jays Can you share a full reproduction so I can help you?

[2020-09-22 11:22] workhub90 opened #409 "Remove No Soup For you at <iFrame"
### Bug Report
Remove No Soup For you at <iFrame

##### Libraries

- react-native-render-html: @4.2.4-beta.1
- react-native-webview: 10.9.0

#### Devices

- Device 1
  * OS:
  * Diagnostic:
  * Environment:
- Device 2
  * OS:
  * Diagnostic:
  * Environment:

#### Reproduction

##### Description

How to remove this.

![Screenshot_1600762926](https://user-images.githubusercontent.com/56101357/93875

[2020-09-22 12:16] jsamr commented on #409
@workhub90 I don't really have a clue about what is happening here. Perhaps youtube is enforcing some kind of checks?

For me to investigate the issue, I need you to provide a minimal reproduction. [**What we mean by that is explained here**](https://stackoverflow.com/help/mcve).

See also [**our contribution guidelines here**](https://github.com/archriss/react-native-render-html/blob/master/CONTR

[2020-09-22 12:16] #409 closed

[2020-09-22 13:21] shalinivathra opened #410 "Some styles not working like text-decoration underline"
Hi,
I have used this library its working fine. But some of the styles its not working in this library. so i used allowed styles tag. But if allow styles also text-decoration is not working.
<html>
<head></head>
<body style="padding: 20px 100px;">

<div><p style="margin-top:0pt; margin-bottom:8pt; text-align:center; line-height:108%; font-size:11pt"><span style="font-family:Calibri; text-decoration

[2020-09-22 16:18] jsamr commented on #410
For me to investigate the issue, I need you to provide a minimal reproduction. [**What we mean by that is explained here**](https://stackoverflow.com/help/mcve).

See also [**our contribution guidelines here**](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc). Best if you could provide an expo snack or git repository; and at minima you need to provide a code snip

[2020-09-22 16:18] #410 closed

[2020-09-24 07:30] workhub90 opened #411 "No soup for you at the bottom content"
How to Remove this !

No Soup For you at bottom content

Libraries
react-native-render-html: @4.2.4-beta.1
react-native-webview: 10.9.0
Devices
Device 1 emulator (Google Pixel 3a)
OS: Android 9.0
Diagnostic:
Environment:
Device 2 simulator (iPhone 11 pro max)
OS: iOS 13.0
Diagnostic:
Environment:
Reproduction
Here the code i used show content
import HTML from 'react-native-render-html';

<-----COD

[2020-09-24 10:25] jsamr commented on #411
@workhub90 As I have already stated, to help you out, I need at least the **HTML code** you are trying to render so that I can reproduce the issue on my end. And I don't really need the source code of react-native-render-html, we already have it on Github!

**Please**, read this https://stackoverflow.com/help/minimal-reproducible-example to grasp how communities of developers help out each other.

[2020-09-25 03:40] workhub90 commented on #411
@jsamr thank you for replying. i has updated html tag for render detail article

[2020-09-25 05:03] KimJeonghun91 opened #412 "imagesMaxWidth not working"
It does not work after changing the RN version from 0.60.3 to 0.63.2.

​    "react": "16.13.1",

​    "react-native": "0.63.2",

​    "react-native-render-html": "^4.2.3",

​    "react-native-webview": "^10.9.0"

[code]

[code]

![KakaoTalk_Photo_2020-09-25-14-01-50](https://user-images.githubusercontent.com/39161206/94228337-ba2cbe00-ff37-11ea-9cdb-cd9b85d6156b.jpeg)

[2020-09-25 10:44] jsamr commented on #411
@workhub90 When I render this html in a HTML component, I don't see the message you're referencing.
But I noticed that this URL:

[code]
This URL requires auth credentials, when you fail to provide them, you'll get this "no soup" message.

I am closing because I could not reproduce the issue with the provided HTML. With all respects, be advised that next time, I will ask you a full reproduction, a

[2020-09-25 10:44] #411 closed

[2020-09-25 11:01] jsamr commented on #412
@KimJeonghun91 Are you sure it's the RN version changes which cause a different behavior? We have proposed a new RFC for [image and moreover media width here](https://github.com/archriss/react-native-render-html/blob/master/rfc/001-A-deterministic-approach-to-images-scaling.adoc). There is a pending PR #389 ready to ship for v5.x. I could merge that to master and publish an alpha for you to test t

[2020-09-25 11:26] jsamr commented on #408
A fix has been released in v4.2.4 a few moments ago.

[2020-09-26 03:06] KimJeonghun91 commented on #412
I am interested.
Would you please merge it and publish the alpha for me?
I will test it on my project.

[2020-09-26 09:37] #141 closed

[2020-09-26 09:37] #172 closed

[2020-09-26 09:46] jsamr commented on #412
@KimJeonghun91 See https://github.com/archriss/react-native-render-html/releases/tag/v5.0.0-alpha.1

[2020-09-26 09:48] jsamr commented on #335
I am closing due to inactivity.

[2020-09-26 09:48] #335 closed

[2020-09-26 09:51] jsamr commented on #275
From version 5.x on, we have a new implementation to scale images. You can read [our RFC here](https://github.com/archriss/react-native-render-html/blob/master/rfc/001-A-deterministic-approach-to-images-scaling.adoc), and see the first pre-release implementing the RFC for images here: https://github.com/archriss/react-native-render-html/releases/tag/v5.0.0-alpha.1.

[2020-09-26 09:51] #275 closed

[2020-09-26 09:53] jsamr commented on #323
I am closing due to inactivity.

[2020-09-26 09:53] #323 closed

[2020-09-26 11:13] jsamr commented on #412
@KimJeonghun91 I tried your code with the latest (alpha.2) and it works!

[code]
Notice that **you don't need to set explicit width to your images anymore**. The crucial step is to provide `contentWidth` prop. If you want to have images max width computed from content width, you'll need to use `computeImagesMaxWidth` prop. A great addition with using `useWindowDimensions` is that **the image will

[2020-09-26 11:13] #412 closed

[2020-09-26 19:37] BryonConley opened #413 "Documenting & Question on handling <Script type and src javascript in the HTML"
Hi,  I am reading the documentation on this great package for the renderingf HTML.  However, I didn't see any specific section on handling tags involving <script  language-, type;,  src= />.  As in my case I have this in my HTML:
<script language="javascript" type="text/javascript" src="https://whsh4u-panel.com:2199/system/request.js"></script>

The code actually operates on the text input HTML wi

[2020-09-26 20:53] jsamr commented on #413
@BryonConley We could do a better job at clearly stating the use case for this library. react-native-render-html **does not** provide a web engine to execute JavaScript in the DOM. It barely translates HTML syntax to a native UI tree. You're probably looking for [react-native-webview](https://github.com/react-native-webview/react-native-webview).

If you need interactive elements and want to keep

[2020-09-26 20:53] #413 closed

[2020-09-30 19:48] sayem314 opened #414 "baseFontStyle is not working with <li>"
[code]

font styles are not applied to li. example html:

[code]

![screenshot-2020-10-01_01 47 02 484](https://user-images.githubusercontent.com/14138401/94732438-181e3300-0388-11eb-9ae9-f9963b63a7e9.png)

* Notice the numbers

[2020-09-30 20:00] jsamr commented on #414
@sayem314 Probably similar to #165, but since it was closed I will keep your issue open! I agree this should be solved.

[2020-10-05 12:54] gazedash commented on #344
@jsamr what can I do now to change the color of a link?

[2020-10-06 10:41] ahmadpy888 opened #415 "error when build android"
hi, i use

"react": "16.13.1",
"react-native": "0.63.2",
"react-native-render-html": "^4.2.4",
"react-native-webview": "^10.2.3",

app/build.gradle -> multiDexEnabled true

error when run-android

`[Tue Oct 06 2020 17:35:07.236]  ERROR    Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might h

[2020-10-06 11:59] jsamr commented on #415
@ahmadpy888 There could be [many reasons unrelated to this library](https://stackoverflow.com/q/56663785/2779871). Actually, this library (version 4.2.4) does not use hooks. Won't be able to help without a reproduction. See [our contributing guidelines here](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug)!

[2020-10-06 11:59] #415 closed

[2020-10-17 09:49] shivamtagline opened #416 "Display Math Functions to the Custom Renderer Method"
Hello,
I am using your library for rendering html content.
I tried to display Math functions which are in <span> tag.
I have reviewed one of your issue, I tried with **react-native-math-view** but could not be able to use custom renderers to render math function.

Ref links:
1. https://github.com/archriss/react-native-render-html/issues/406
2. https://www.npmjs.com/package/react-native-math-view

[2020-10-17 10:10] jsamr commented on #416
@shivamtagline It looks like you are wrapping the latex content with a Text, which you cannot on some older React Native releases. That's just a guess since you have not provided source code, nor given the version used for this library and React Native. Please provide a reproduction and I'll be happy to help. [You are highly encouraged to follow our contribution guidelines for best feedback](https

[2020-10-17 10:10] #416 closed

[2020-10-20 09:00] ally03 commented on #228
same issue with me and I tried this way and it is working fine

const tagsStyles = {
  p: {
    marginHorizontal: 20,
    marginBottom: 16,
    fontSize: 16,
  },
  h1: { marginHorizontal: 20, fontSize: 24,  },
  h2: { marginHorizontal: 20, fontSize: 22,  },
  h3: { marginHorizontal: 20, fontSize: 20,  },
  h4: { marginHorizontal: 20, fontSize: 18, },
};
tagsStyles={tagsStyles}

[2020-10-22 08:20] Saren-Arterius commented on #193
Had the same issue as this and #362, which is <HTML> inside <FlatList>. https://github.com/facebook/react-native/issues/26264 solved it for me.

[2020-10-26 12:22] kenken023 opened #418 "Percentage value for padding and margin crashes the application"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2020-10-27 08:17] Taggotty commented on #414
I managed to change the color using the code to fix the RTL issue #286. By exchanging the background color from black to the preferred color. Hope this helps.

[2020-10-27 17:42] r3dm4n opened #419 "How can I get a paragraph index, and insert some custom view below or above that ?"
- [X ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [ X] I have read the documentation here: https://git.io/JJcAl
- [X ] I have confirmed that this bug has not been reported yet

I am trying to insert some custom views after some paragraphs. Is that something we are able to do ?
How can I get the index of an element?
How can I insert some custom view after or before that, w

[2020-10-27 21:02] gabriel-tentaculo opened #420 "Tag <cite> Breaks HTML component"
I'm on version 4.2.2-beta.2 and if you pass a paragraph in the follwing format
`<p><cite>"He said hello"</cite></p>`
the whole things breaks on Android, saying that old Yoganode problem like the link below shows on S.O.
https://stackoverflow.com/questions/46605376/react-native-cannot-add-a-child-that-doesnt-have-a-yoganode-or-parent-node

Here is a snippet for a component that you can create to re

[2020-10-27 22:01] jsamr commented on #420
@gabriel-tentaculo Next versions will be much better regarding this kind of issue:

- We will document an exhaustive list of supported tags;
- We will warn the user of unsupported tags, unless he provides a list of stripped tags or chooses to remove warnings altogether.

I would need a full reproduction to investigate your issue more closely. I tried the following code, and it didn't crash:

[code

[2020-10-28 09:53] jsamr commented on #420
@gabriel-tentaculo In the meantime, [you can create a block custom renderer for cite tag](https://github.com/archriss/react-native-render-html#creating-custom-renderers).

[2020-10-28 10:41] gabriel-tentaculo commented on #420
Hi @jsamr thank you for the fast response and the suggestion to use the custom render, it actually makes a lot of sense to use that approach, but I wonder what is it that I would have to fix to make that YogaNode error go away since I could not see any output on that page because the page component itself (parent component to the HTML component) did not render.
Do you have any suggestion maybe for

[2020-10-30 16:32] jsamr opened #422 "Allow in-page URL fragment navigation"
See https://stackoverflow.com/q/63770864/2779871

[2020-10-30 19:11] gabriel-tentaculo commented on #420
Quick update on this, updating from ^4.2.2-beta.2 to 2.2.4 did not solve the issue.
I'll get back when I have more details

[2020-10-30 20:14] jsamr commented on #420
@gabriel-tentaculo I'll be happy to take a look when you find the time for a repro :-)

[2020-10-30 20:25] gabriel-tentaculo commented on #420
Sure thing @jsamr
In the meantime, more feedback and a question for you.
So, I was not able to make a custom renderer for this cite tag to start working.
Since I did not figure out a way to view what exactly is going to be the output of the html that contains that tag ( cite is actually nested in a h3 tag in this context) I could not guess what has to be done to create the custom renderer... I tri

[2020-11-01 16:13] r3dm4n commented on #293
Still no docs.

[2020-11-02 10:07] jsamr commented on #293
`onParsed` returns the root elements of the render tree (a temporary structure later translated to react elements). In the [documented example](https://github.com/archriss/react-native-render-html#onparsed), a "mycustomblock" element is added after the fourth root element. This element could also have a children property. There are no exposed functions to help end-user building this data structure

[2020-11-04 03:01] wulaizi opened #423 "大家遇到的问题都是ios图片模糊 我的却是android图片模糊"
我在renderers 返了一个Image组件过去 Image组件自动获取宽高 在ios图像很清楚  可是在安卓端却是很模糊
[code]

[2020-11-04 14:14] jsamr commented on #423
@wulaizi It would be best if you could post your issue in English, unfortunately I can't read Chinese :/

[2020-11-05 10:11] wulaizi opened #424 "Use internal default renderers logic in custom renderers"
Can renderers return a page element? For example, I just want to get attributes through renderers, but don’t want to change the element, but this method must require an element to be returned. If it is a picture, I return Image, which will cause the picture to be blurred (because I have no width and height when I return, I can only get it through Image.getSize Will make the picture blurry) So I do

[2020-11-05 10:12] wulaizi commented on #424
`    tagsStyles={{ p: { fontSize: 14 }, span: { fontSize: 14 } }}
                    html={this.props.content}
                    containerStyle={{ width: '100%' }}
                    imagesMaxWidth={this.defaultImageWidth}
                    imagesInitialDimensions={
                        {
                            width: this.defaultImageWidth,
                            height: this.d

[2020-11-05 10:13] wulaizi commented on #424
renderers={{
                        img: (htmlAttribs, children, convertedCSSStyles, passProps) => {
                            let imageSrc = htmlAttribs?.name || htmlAttribs?.src
                            let newImageUrl = RegHelper.HandleImage(imageSrc)
                            return React.createElement('img',{
                               src: newImageUrl

[2020-11-05 11:23] jsamr commented on #424
@wulaizi If I understand you well, you would like to change the DOM node attributes? If that is the case, you could use [`alterNode`](https://github.com/archriss/react-native-render-html#alternode) :-)

[2020-11-05 11:26] jsamr commented on #424
[code]

And then pass `alterNode` to HTML component!

[2020-11-05 11:27] #423 closed

[2020-11-06 02:39] wulaizi commented on #424
Thank you very much for your answer, very nice, I have a requirement here, before the picture is loaded, use htmlAttribs?.src (preview) After loading, use htmlAttribs?.name, when you click on the picture, give the picture address to "react- native-image-zoom-viewer "may need a method to trigger an image click event

[2020-11-06 02:44] wulaizi commented on #424
I chose “renderers” before because he can upload a "TouchableOpacity" trigger event, but when the renderers return the picture, because my picture is a high-definition large picture, using Image will cause blur, so I gave up using HTML img because the effect is very good, but I don’t know how to go. Trigger event method

[2020-11-06 12:32] jsamr commented on #424
I understand your requirement. **This is unfortunately not yet possible**, but it is an interesting use case for the next version. I am thinking of an API that would look like this:

[code]

[2020-11-09 11:23] kl1703222 opened #428 "Support inline images"
I want to display the icon in the middle of the text, for example below:
<img width="340" alt="a" src="https://user-images.githubusercontent.com/58561076/98535085-1a917800-22b8-11eb-92ad-6d143fc6d0eb.png">
but in my mobile device using <HTML /> it displays the wrong size and not in the same line:
<img width="406" alt="Screen Shot 2020-11-09 at 18 20 48" src="https://user-images.githubusercontent.c

[2020-11-09 21:46] brayanarrieta commented on #118
@fvsch what was the module that you use?

[2020-11-11 09:43] jsamr commented on #428
@kl1703222 Currently, inline images are not supported. Any embedded or block will be hoisted to a new View and break the text flow. This was originally because RN didn't support nesting Views inside Text nodes. It is now *possible*, but with some limitations and prone to bugs. We might add a way in a forthcoming release to whitelist tags which can be embedded in Text nodes.

Known issues regarding

[2020-11-15 19:15] jsamr commented on #118
I am currently developing this behavior as part of a service for [Expensify](https://www.expensify.com/). The new engine following the whitespace RFC is being implemented here: https://github.com/native-html/core. An early release should be available in the upcoming week.

This pre-release will be part of the 6.x release cycle. If you are wondering why we're jumping from 4 to 6, the reason is that

[2020-11-16 22:13] jsamr commented on #118
I've made great progress with the new release! Given this snippet:

[code]

We now have:

<table>
<thead>
<tr>
<th><code>whiteSpace: pre;</code></th>
<th><code>whiteSpace: normal;</code></th>
</tr>
</thead>
<tbody>
<tr>
<td>

![Screenshot_1605564643](https://user-images.githubusercontent.com/3646758/99314193-7bccc480-283f-11eb-82fd-67e75bc210b0.png)

</td>
<td>

![Screenshot_1605564547](https://us

[2020-11-18 10:39] woba-ko commented on #208
@jsamr its quite easy to reproduce.

1. import HTML component from this library
2. Pass a HTML string that is longer than 7000 chars to the html prop

You will now see that the text is not rendered at all and no error is outputted to the console.

A workaround is to split the html string into chunks with a length of 6750 chars and then pass each chunk to a separate html component.

[2020-11-18 13:58] mateusarbex opened #429 "custom wrapper for elements"

[2020-11-18 14:50] jsamr commented on #429
@mateusarbex Would be very much appreciated if you provided a minimal description. What I understand is basically having the option to render the default renderer in a custom renderer, is that it?

[2020-11-18 14:59] mateusarbex commented on #429
Sorry for the minimal description but what I want is a way to use the the parsed html element with a custom wrapper renderer. Since the renderer prop happens before the html is parsed, I can't wrapp the result in a wrapper I designed. For example: I want to wrapp the parsed <img> inside a <TouchableOpacity>

[2020-11-18 15:02] jsamr commented on #429
Would that work out?
[code]

[2020-11-18 15:03] mateusarbex commented on #429
Yes, it would work perfectly!

[2020-11-18 15:04] jsamr commented on #429
@mateusarbex Great. I'll design the next foundry release "renderers" prop with this feature in mind. I'm working on it, expect a first pre-release in a few days ;-)

[2020-11-18 15:05] mateusarbex commented on #429
Thanks!

[2020-11-18 21:46] jsamr commented on #208
@woba-ko OK. I'll be "fixed" in release cycle 6.x "foundry".

[2020-11-20 01:13] jsamr opened #430 "[6.x] 🚀 Welcoming the Foundry release!"
<p align="center">
<strong>Foundry Status</strong><br/>

<img src="https://img.shields.io/npm/v/react-native-render-html/foundry" />
<img src="https://github.com/meliorence/react-native-render-html/workflows/CI/badge.svg?branch=dev%2Ffoundry" />
<img src="https://codecov.io/gh/meliorence/react-native-render-html/branch/dev%2Ffoundry/graph/badge.svg" /><br/>
<a href="https://github.com/meliorence/r

[2020-11-20 10:00] VaraderoCuba opened #431 "Array of around 30 to 40 pictures doesn't be rendered."
#### Devices

- Device 1
  * OS:
  * Diagnostic:
  * Environment:

##### Description

(Write your steps here:)

1. this is my very simple code like below.

[code]

My array which named 'arrDatadt' would include tones of pictures like 30 to 40 with each picture's width and height about 950x1200, 190kb.
Even though my array loaded, all of my pictures doesn't renders at scrollview but around 10 to 15

[2020-11-20 10:51] jsamr commented on #431
@VaraderoCuba It is impossible to investigate performance issues without a full reproduction, including the images you are trying to load, and which classes of devices are affected by the "slow rendering". Also, you didn't provide a version used for this library. I am going to close as this report doesn't follow our template. Feel free to comment if you have edited your issue to comply with [our g

[2020-11-20 10:51] #431 closed

[2020-11-20 14:44] FFMerlin-aracom commented on #94
Unfortunately this doesn't work on all cases, especially for android. If your description contains some other html tags this will cause a crash on android, because you can't have nested views inside a <Text>.  On iOS this works just fine.

[2020-11-20 14:47] M1ck0 opened #432 "Error while updating property padding in shadow node of type: RCTView"
## Description
Few things are bugging me here.

This crash is happening at random times, in development, and when the app is built for production.

Content is loaded from WordPress using `react-native-render-html` and app is crashing because some styles are set inline in API response. I tried overwriting it with custom styling div tag like this

[code]
But it didn't work as expected

![image](http

[2020-11-20 15:20] jsamr commented on #94
This issue will be fixed in 6.x release, where you'll be able to use a special style property for that purpose.

[2020-11-20 19:34] jsamr commented on #432
@M1ck0 All those inline issues will be fixed in the Foundry release, see #430. In the meantime, you can disable the padding rule with `ignoredStyles=['padding']` prop.

[2020-11-22 09:12] M1ck0 commented on #432
Okay great. Thank you a lot :)

[2020-11-23 07:47] M1ck0 commented on #432
Apparently, this is not a fix. After setting 'padding' to ignored styles I got this error

![image](https://user-images.githubusercontent.com/19279947/99938630-823fcc80-2d68-11eb-999e-3dfe3d0c86ec.png)

[2020-11-23 09:00] jsamr commented on #432
@M1ck0 It is not obvious that the error is raised by this library. If you can provide a reproduction, I'll be happy to investigate. See [our contributing guide!](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc)

[2020-11-23 09:09] M1ck0 commented on #432
I will give you a reproduction as soon as possible.

What can I say is that data I set into `html` comes from WordPress, and after investigating the response I saw few `<div>` tags have `padding: 19% 0` (as shown in first error), and after setting padding in `ignoredStyles` second error happens.

I also have `width` and `height` in the ignored styles array, and they work perfectly.

[2020-11-23 09:10] jsamr commented on #432
@M1ck0 If you're willing to give me the wordpress link, or share privately, I can test it in the new engine! Are you using renderers prop?

[2020-11-23 09:16] M1ck0 commented on #432
Where can I send you the link for API?

I am using renderers prop for the image only, to wrap them in a custom component for optimization.

[2020-11-23 09:16] jsamr commented on #432
@M1ck0 Go on my GH profile, you'll see an email address ;-)

[2020-11-23 09:20] M1ck0 commented on #432
@jsamr Sent

[2020-11-23 23:05] KhimGurung commented on #369
if you want to ignore the font-family,
<HTML html={htmlContent} contentWidth={ contentWidth } ignoredStyles = {['font-family']} />

[2020-11-25 18:06] vinhtran6921 opened #433 "Click to open url"
I cant click to open url. How can I implement function class openURL ?
Thanks for your help

Also when font-size is 0.75rem it not show. Maybe "rem" isn't support

[2020-11-25 20:19] jsamr commented on #433
@vinhtran6921 As per your questions:

1. To implement custom renderers, you can use renderers prop, see [Creating custom renderers](https://github.com/archriss/react-native-render-html#creating-custom-renderers);
2. `rem` are not supported in the v4 and v5, but is supported in v6, which first prerelease will be available today, see #430

I am closing because this report does not follow our guideli

[2020-11-25 20:19] #433 closed

[2020-11-26 15:59] jsamr commented on #150
This is fixed in the Foundry release, you can try it out now! See #434.

[2020-11-26 16:09] jsamr commented on #156
This issue has been solved in the Foundry release! You can try it out now. See #434. Below is a screenshot with the provided snippet

![Screenshot_1606406920](https://user-images.githubusercontent.com/3646758/100372863-a4478200-2fe8-11eb-9598-32d2c8c113b5.png)

[2020-11-26 16:19] jsamr commented on #419
This feature is available in the new Foundry release! Check out this PR #434, section *Example of "Children Tampering"*. The steps to test this new release are available in thread #430.

[2020-11-26 16:29] jsamr commented on #371
Closing in favor of #428

[2020-11-26 16:29] #371 closed

[2020-11-26 17:38] jsamr commented on #428
This feature is available in the Foundry release! Try it out now. Check #430 for instructions. There is a specific example available in the Foundry Playground app, "Model tampering". Just check the source code in the Foundry Playground for an example. Below is the result:

![Screenshot_1606412178](https://user-images.githubusercontent.com/3646758/100380125-f2fb1900-2ff4-11eb-8bd3-fa5cd5422825.png)

[2020-11-26 17:54] jsamr commented on #369
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-26 17:54] jsamr commented on #432
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-26 17:55] jsamr commented on #418
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-26 17:55] jsamr commented on #344
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-26 17:58] jsamr commented on #414
<table>
<tr>
<td valign="top">

This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

</td>
<td width="300">
<img width="300" src="https://user-images.githubusercontent.com/3646758/100381340-90574c80-2ff7-11eb-8289-2a435a2e0798.png" />
</td>
</tr>
</table>

[2020-11-26 18:00] jsamr commented on #420
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-26 18:00] jsamr commented on #156
This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

[2020-11-27 08:49] M1ck0 commented on #432
This is great. Thank you for your time and I am sorry for any inconvenience I caused.

Thank you so much.

[2020-11-27 08:54] jsamr commented on #432
@M1ck0 No worries :-) You're welcome. Feel free to post for feedback, either here or on the #430 post!

[2020-11-27 09:18] M1ck0 commented on #432
I am not sure where to post this, but I have a question.

By default `head` and `script` tags are ignored. Is there a way to override this?

In my case, the client is using an external player for the video that is loaded with a `script` tag.

@jsamr

[2020-11-27 09:46] M1ck0 commented on #432
Quick question.

In some responses, I have a `script` tag that loads certain video player. Is there a way to extract `src` from that script tag?

I need to use that src and load it into `iframe`.

Is this achievable? I am trying to use `renderers` to extract the `script` tag but I can't get it to work. It is not outputting `children` in `console.log()`.

[2020-11-27 11:12] jsamr commented on #432
@M1ck0 Good point, `script` and `styles` elements are special nodes handled differently by the underlying `htmlparser2` library, and the current version of `@native-html/transient-render-engine` doesn't handle those special nodes. Can you open a separate feature request ticket so that I keep track of the feature?

When the script tag is supported, its `contentModel` will still be `HTMLContentModel

[2020-11-27 14:11] jsamr commented on #118
<table>
<tr>
<td valign="top">

This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

</td>
<td width="300">
<img width="300" src="https://user-images.githubusercontent.com/3646758/100457694-43c84b80-30a1-11eb-9124-7e870a88dd8a.png" />
</td>
</tr>
</table>

[2020-11-27 14:13] jsamr commented on #151
<table>
<tr>
<td valign="top">

This issue has been fixed in the Foundry release. Try it out now! See #430 for instructions.

</td>
<td width="300">
<img width="300" src="https://user-images.githubusercontent.com/3646758/100381340-90574c80-2ff7-11eb-8289-2a435a2e0798.png" />
</td>
</tr>
</table>

[2020-11-27 15:47] psegalen opened #437 "Support cascading styles"
Hello, I haven't found anywhere any pointer about this particular issue yet: in the HTML code I receive from the server I sometimes have things like that `<i><strong>Text</strong></i>`
Problem, I have a custom font throughout the app and I haven't found a way yet through `tagsStyles` to specify a thing like:
[code]
Is it event possible?

[2020-11-27 16:34] jsamr commented on #437
@psegalen Not at the moment! Cascading styles are complex and not yet supported. It could be a feature of a future release though! With the foundry refactor, that might be more feasible.

[2020-11-27 16:37] psegalen commented on #437
Thanks for the quick answer!
Since you flagged it as a feature request, I'll let this issue open.

[2020-11-27 16:55] jsamr commented on #437
@psegalen If you don't want to specify the font style with the name, and instead use `fontFamily: MyFont`, check out how to achieve that on android here by declaring a font.xml in your res folder: https://github.com/facebook/react-native/pull/23865
For iOS, I don't remember how to achieve the same result be I remember I did in a past project. Be careful though not to hit this bug https://github.co

[2020-11-27 16:57] psegalen commented on #437
Thanks a lot @jsamr, I'll dig into it!

[2020-11-30 08:10] M1ck0 opened #438 "Adding support for extracting src from script tag"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that the feature request has not been offered yet

### Decision table

- [x] The change I am requesting does not concern performance
- [x] The change I am requesting does

[2020-11-30 08:10] M1ck0 opened #439 "Adding support for manipulating script tag"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that the feature request has not been offered yet

### Decision table

- [x] The change I am requesting does not concern performance
- [x] The change I am requesting does

[2020-11-30 08:31] #438 closed

[2020-11-30 08:32] M1ck0 commented on #438
For some reason, GitHub added 2 of the same issues, so I'll close this one

[2020-11-30 14:05] psegalen commented on #437
Thanks again @jsamr, with a little more work it solves my problem!
For the record: I haven't found a way to use this font on Android so I ended up [overriding the default font for my app](https://www.coderefer.com/blog/android-custom-font-entire-application/).
Also, on iOS it just works out-of-the-box: I just referenced "FontName-Regular" on my HTML body (that I dynamically add if there is none) a

[2020-12-01 08:30] M1ck0 commented on #430
For some reason, `iframe` is not rendered at all. Youtube embed is inside iframe, and it is not loaded. Any ideas what could be the problem?
@jsamr

[2020-12-01 09:32] jsamr commented on #430
@M1ck0 Yes, iframes rendering is being extracted to a plugin (similar to tables), because we don't want to require consumers to depend on WebView. You can check the status of the work here: https://github.com/archriss/react-native-render-html/pull/434

[2020-12-01 09:54] M1ck0 commented on #430
@jsamr Is there a way to make them work with the current state of the package?

I tried downgrading it and it works, but then I am losing some bug fixes that are introduced in the Foundy release, which is not optimal solution

[2020-12-01 10:22] M1ck0 commented on #430
I made it work using custom renderers. I extracted URL from `iframe` and loaded it into `WebView` like this
[code]

I also needed to specify `width`, `height`, and `flex` for `WebView` because it wouldn't work on Android for some reason.

[2020-12-01 10:41] jsamr commented on #430
@M1ck0 You could write a custom renderer (it scales automatically to available screen width, given you provide `contentWidth` prop to the `RenderHTML` component). Example with this html:

[code]

<table>
<tr>
<th  width="300">Code</th>
<th >Rendered</th>
</tr>
<tr>
<td>

[code]
Then, make sure you pass `renderers` as a prop to the `RenderHTML` component.

</td>
<td valign="top" width="300" >

<img

[2020-12-01 16:45] psegalen commented on #437
Okay, it worked until it was deployed on the store beta program... :'(
I had to scratch my head until I searched inside react-native source code and PRs and finally found what I needed: the ReactFontManager class!
I reverted the default font override and just added `ReactFontManager.getInstance().addCustomFont(this, "Srisakdi", R.font.srisakdi);` in my app's `onCreate`!

[2020-12-04 04:10] JodiRaina opened #440 "Not Render Tag <label>"
Tag label not render, anyone help?

[2020-12-04 05:44] JodiRaina commented on #90
how u solve that tag label?

[2020-12-04 08:59] jsamr commented on #440
Please read the "custom renderers" documentation here: https://github.com/archriss/react-native-render-html#creating-custom-renderers

[2020-12-04 08:59] #440 closed

[2020-12-04 14:58] SelvaraniAlagumuthu opened #441 "Large content is not loaded in html"
Hi,
how to load large content in Html content . If we load large content in <Html html={largecontent}> app getting crash in all three platform Android , iOS and Window. Thanks

[2020-12-05 17:16] jsamr opened #442 "[5.x] 🚀 A new "Legacy" Major"
In #430, I have introduced the new "Foundry" release, which is a complete rewrite of this library. This release is yet experimental, and not scheduled for stable before the first trimester of 2021. Although I recommend anyone to try out the Foundry release, I wouldn't recommend it for users already using this library in production. You should expect a lot of breaking changes , and I would suggest

[2020-12-05 17:24] jsamr commented on #258
This feature has been shipped in the new [@native-html/iframe-plugin](https://github.com/native-html/plugins/tree/master/packages/iframe-plugin#readme) package, ready for react-native-render-html v5.0.0. Thank you for your contribution!

[2020-12-05 17:24] #258 closed

[2020-12-05 17:25] jsamr commented on #241
This feature has been shipped in react-native-render-html v5.0.0, via the new `defaultTextProps` prop! See #442

[2020-12-05 17:25] #241 closed

[2020-12-05 17:27] jsamr commented on #188
In react-native-render-html v5.0.0, `onLinkPress` defaults to a function invoking `Linking.openURL`, so there won't be a need for documenting this! See #442

[2020-12-05 17:27] #188 closed

[2020-12-05 19:16] jsamr commented on #441
Hi @SelvaraniAlagumuthu! This issue didn't follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug), and I am going to close. Feel free to post a new issue while filling the required template, and providing a reproduction.

[2020-12-05 19:16] #441 closed

[2020-12-09 03:00] thuongtv-vn commented on #118
Hi @jsamr
I could not apply "whiteSpace". I got this warning message:
```Failed prop type: Invalid props.style key 'whiteSpace' supplied to 'Text'``
Could you please tell me how can I apply it? Thanks

[2020-12-09 08:55] jsamr commented on #118
@thuongtv-vn Are you sure you're using the foundry pre-release? Best to continue the discussion on [our discord](https://discord.gg/dbEMMJM), the foundry thread (#430) or a separate issue, thank you !

[2020-12-10 04:30] harveyconnor commented on #414
@jsamr any plans to also support `list-style-type: "lower-roman" | "upper-roman"` ?
Cheers

[2020-12-10 09:34] jsamr commented on #414
@harveyconnor not a priority but it should happen at some point!

[2020-12-14 08:45] wikramdas commented on #208
@jsamr in my case I am facing this issue on android devices which are less than 7.0 android version. I am loading a big html like wikipedia's article and showing it in the app whenever it renders my app goes stuck and after 5 seconds it crashed.
This is the issue I am facing.

[2020-12-15 10:17] sankar9659 opened #444 "How to give number of lines based on the condition. (How to show "Read more" when using numberOfLines property?)"
Hi, I 'm working on a react native project. I am using react native render html package for convert the html tag contents to normal text. I have to add a show more/less functionality in this content. I dont know how to give the number of lines dynamically based on the condition. The below condition is not working. Please reply this issue. Thanks in advance.
my code is,

``<HTML  html={`An iOS/Andr