[2020-12-15 15:28] jsamr commented on #444
@sankar9659 This is a general question about React Native, and this place is not appropriate for such questions. I suggest you ask for help in one of the communities identified in the official website: https://reactnative.dev/help

Wish you success in your project!

[2020-12-15 15:28] #444 closed

[2020-12-16 11:13] ahtisham09 commented on #118
solved this issue using following code:

[code]

[2020-12-16 12:27] Koushik26011997 commented on #188
tu log pagla hai

[2020-12-16 16:55] micheilsgrey opened #445 "Css Style support"
Hello i have css style for my html. I am trying to convert it to react style and not everything getting my new custom style.

Code:

[code]

this is my css:

[code]

So everything working fine but styles like '.separator b a' or  '.news-content a' not working. What should I do to make those styles work?

[2020-12-18 09:59] maltoze commented on #445
I think you need to add another class to  `a` .

[2020-12-28 09:06] ymj commented on #429
That option would be highly appreciated. I would love to have the option to use a custom renderer for elements with certain attributes, and defer to the default rendered if those attributes are not present.

[2020-12-29 07:27] Aparus opened #449 "blockquote tagsStyles and br renderer issue"
Hi. Thank you for great library.
Yes I read docs and issues here...

**Envirompment**:

[code]
I'm using expo 40 clients: web and android.
And trying to restyle default styles. Everything  was good before I met blockquote, where I stuck...

## Web: style written for blockquote appears on each tag inside it.

I have an html:
[code]
And tagsStyles:
[code]
It renders  wrong in web client (Expo):
![Sc

[2020-12-29 07:53] Temirtator commented on #113
+

[2021-01-05 12:58] nbastoWM commented on #373
Did you manage to render it properly?
I am having also a problem rendering a simple table with images.

[2021-01-05 13:21] Kaushik1502 commented on #373
You can't render a table directly as it is in `IGNORED_TAGS` in `HTMLUtils.js`. I have used [this plugin](https://github.com/native-html/plugins/tree/master/packages/table-plugin#readme)

[2021-01-14 18:33] vinpez commented on #149
Why?

[2021-01-14 19:37] brayanarrieta commented on #430
Hello @jsamr in the case I want to use the version with the whitespace fixed, what version need to use?

[2021-01-14 19:51] jsamr commented on #430
@brayanarrieta Just install the package with the foundry tag:

[code]
Be aware, this is still an unstable version subject to API changes. There are quite a lot of breaking changes with the previous release, read the full post above for an overview https://github.com/meliorence/react-native-render-html/issues/430#issue-747058610

[2021-01-14 19:52] brayanarrieta commented on #430
thanks @jsamr

[2021-01-16 18:09] jsamr commented on #94
With the new foundry pre-release (see #434), you can define a custom renderer as such:

[code]

[2021-01-16 18:14] jsamr commented on #187
This feature has been available in the v5 release. Just use `domNodeToHTMLString` exported utility over 'domNode` (in `passProps`).

[2021-01-16 18:14] #187 closed

[2021-01-16 18:17] jsamr commented on #293
I am closing because the `onParsed` utility will be discontinued in the foundry release (v6).

[2021-01-16 18:17] #293 closed

[2021-01-16 18:20] jsamr commented on #263
This feature has been implemented in the foundry pre-release (#434). You can now use `triggerTREInvalidationPropNames` prop that is an array of prop names which should trigger re-renders.

[2021-01-16 18:36] jsamr commented on #360
So this bug has reportedly appeared with React Native on Android Q (https://github.com/facebook/react-native/issues/25258). Since v5 release, you can use `defaultTextProps` and set `textBreakStrategy` to `highQuality` in order to circumvent this bug. I'm closing this thread now as there is an easy workaround and the bug is upstream.

[2021-01-16 18:36] #360 closed

[2021-01-17 15:12] jsamr commented on #445
@micheilsgrey `classesStyles` prop keys are the name of CSS classes, not CSS selectors. Cascading styles are not supported yet, but there is an open issue for this feature (#437). I am therefore closing in favor of the latter.

[2021-01-17 15:12] #445 closed

[2021-01-20 14:10] robfuncken opened #452 "Targetting plain text with tagsStyles"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that the feature request has not been offered yet

### Decision table

- [x] The change I am requesting does not concern performance
- [x] The change I am requesting does

[2021-01-22 11:22] jsamr commented on #452
@robfuncken This feature is already available in the foundry pre-release (see #434), via the `baseStyle`prop. This prop supports text-targeting style rules. Thus I am going to close this issue!

[2021-01-22 11:22] #452 closed

[2021-01-26 19:05] sayem314 opened #453 "[Bug] Crash on 6.x"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-01-26 20:35] jedahan commented on #299
Would you mind if I made a PR to document this solution in the readme?

[2021-01-26 21:33] systemride commented on #68
This should still be open, there's still no way to override the `li` element styles.

[2021-01-27 13:31] sayem314 commented on #453
Another warning.

![screenshot-2021-01-27_19 21 45 943](https://user-images.githubusercontent.com/14138401/105996773-f8e4a780-60d4-11eb-8ed5-66914057aac2.png)

[code]

#### Reproducible Demo

https://snack.expo.io/@sayem314/742275

[2021-01-27 19:33] jsamr commented on #299
@jedahan Yes, you are welcome to do so!

[2021-01-27 21:28] jsamr commented on #453
@sayem314 Thanks a lot for pointing out that issue. I believe this happens when the `list-style-type` is not supported by the renderer. In the meantime, I have reworked the list renderer. Please try-out the alpha-11 I have just released!

[2021-01-27 22:02] jsamr commented on #68
@systemride You should be able to set margins for lists in the foundry pre-release, see #430 for instructions on how to try it out.

[2021-01-28 06:31] kh71 opened #454 "fail render figure"
fail render figure. how to set tag style

`<figure id=\"attachment_6129\" aria-describedby=\"caption-attachment-6129\" style=\"width: 800px\" class=\"wp-caption alignnone\"><img loading=\"lazy\" class=\"wp-image-6129 size-full\" src=\"https://i2.wp.com/orkunsantepheap.com/wp-content/uploads/2021/01/564000000747001.jpg?resize=696%2C464&#038;ssl=1\" alt=\"\" width=\"696\" height=\"464\" srcset=\"htt

[2021-01-28 10:55] jsamr commented on #454
This report does not follow [our contribution guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#tickets) and I will close it as a consequence. Please feel free to reopen a new ticket while following the template and our guidelines.

[2021-01-28 10:55] #454 closed

[2021-01-29 08:30] dzpt opened #455 "Can't style with class"
[code]

`<figure class='image'><table><tr><td><img src="..."/></td></tr><tr><td> </td></tr></table></figure>`

won't apply to `td` tag

[2021-01-29 14:37] Aparus commented on #442
Hi. Thank you for your work.

Yesterday I faced, that custom renderer doesn't see changes in setState (useState) value of  react root component.

I think it is important and should be noticed somewhere in documentation. (I've read it carefully as well many issues).

Please, can someone give me an advice what to do?

this is my html - it is a quiz with options for answer.

[code]
Before any variant

[2021-01-29 14:45] jsamr commented on #442
@Aparus The 5.x release is somehow limited to the legacy architecture, in which the "renderers" prop is not reactive (doesn't trigger re-renders). To overcome your issue, I suggest you test your case with the new foundry pre-release, in which custom renderers are react components. You can then use context, redux, or any other shared state API to share state between your root and custom renderers i

[2021-01-29 14:53] sayem314 commented on #453
New Error!

![screenshot-2021-01-29_20 51 31 09](https://user-images.githubusercontent.com/14138401/106289808-eb195880-6273-11eb-8bd1-a58f83d165dd.png)

[2021-01-29 15:31] jsamr commented on #455
This is a duplicate of #437, this library doesn't claim support for cascading style sheets (yet). Closing now.

[2021-01-29 15:31] #455 closed

[2021-01-29 15:32] sayem314 commented on #453
Yes sorry now it's working.

[2021-01-29 15:33] sayem314 commented on #453
However.. unrelated to this topic. <li> <ul> is ignoring base text style.

![screenshot-2021-01-29_21 32 04 676](https://user-images.githubusercontent.com/14138401/106294655-a09ada80-6279-11eb-9cfb-7dfaddbf9fb6.png)

[2021-01-29 15:35] jsamr commented on #453
@sayem314 Thanks again for your feedback, it is with reports like yours that the library can become each day a little bit better. Closing now, but feel free to open new reports if you encounter any issues.

[2021-01-29 15:35] #453 closed

[2021-01-29 15:47] sayem314 opened #456 "[Bug] Not rendering properly"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-01-29 15:49] sayem314 commented on #456
Also.

<li> li is ignoring base text style

![screenshot-2021-01-29_21 32 04 676](https://user-images.githubusercontent.com/14138401/106294655-a09ada80-6279-11eb-9cfb-7dfaddbf9fb6.png)

[2021-01-29 15:54] sayem314 commented on #456
Working example with a different modules.
https://snack.expo.io/@sayem314/f80ec5

[2021-01-29 17:15] Aparus commented on #430
I'm trying to refactor [my code from v5](https://github.com/meliorence/react-native-render-html/issues/442#issuecomment-769842562) in new way .... but I have so many errors and questions.

In custom renderer:
What should i use instead of `htmlAttribs ` --  `tnode.attributes` ?
What should i use instead of `children` (2nd argument of renderer). From where should I get it? I've tried `tnode.children

[2021-01-29 17:34] jsamr commented on #430
@Aparus I totally understand that refactoring custom renderers is not obvious, and a thorough guide will be provided for the stable release. The `children` key of `tnode` object is not an array of react elements, but an array of transient nodes!

So you should use `TNodeChildrenRenderer` to render transient children nodes instead of `children`.

[code]

Absolutely!

Yes!

## Important remarks

Whe

[2021-01-29 17:49] dzpt commented on #455
@jsamr oh, i'm using table plugin, so this is the wrong package report.
it has `cssRules` attribute

[2021-01-29 18:07] sayem314 commented on #456
Another issue I have came across when using.

[code]

![screenshot-2021-01-30_00 05 10 439](https://user-images.githubusercontent.com/14138401/106311281-12c9ea00-628f-11eb-89f3-fc21d35ba50a.png)

[code]

[2021-01-29 18:08] jsamr commented on #456
@sayem314 To help you properly, I'll ask a reproduction that doesn't rely on a web service, but rather hardcoded HTML. That'll help me investigate the HTML and which rendering issues we're facing. Please also note that this is not a Web engine, but rather a tool to translate HTML into native views. However, we try to follow the HTML and CSS standards as the default rendering logic.

[2021-01-29 18:09] sayem314 commented on #456
Sure I will produce some hardcoded HTML and reproduce it now.

[2021-01-29 18:13] jsamr commented on #456
Yes, because it is not a Web engine, we don't provide default renderers for SVG tags. But one SVG renderer might be implemented at some point in the https://github.com/native-html/plugins project (I can also be hired for a paid job regarding this feature). Also, make sure the [react-native-webview](https://github.com/react-native-webview/react-native-webview) library would not be a better fit for

[2021-01-29 18:24] sayem314 commented on #456
Here is reproducible code updated with hard coded HTML.
https://snack.expo.io/@sayem314/2ee97b

[2021-01-29 18:27] sayem314 commented on #456
And here is working one with a different library.
https://snack.expo.io/@sayem314/a8065f

[2021-01-29 18:29] sayem314 commented on #456
Regarding SVG, yes it would be nice to have but take your time. I wish I could donate enough to you for maintaining this project. It's all personal work. Hope I can donate or hire you in the future If I do make a good profit.

[2021-01-29 18:56] jsamr commented on #456
@sayem314 Okay, nothing unexpected, I'll explain all steps. But before that, I noticed you didn't use the foundry release in the example!

If I put your plain HTML in a browser, here is how it's rendered:

<img width="368" alt="image" src="https://user-images.githubusercontent.com/3646758/106314362-eea7e200-6269-11eb-96dd-cb8aecd0b0b2.png">

With react-native-render-html (foundry):

<img width="28

[2021-01-29 19:10] jsamr commented on #456
I'm always welcoming even very little contributions to my github sponsor page :-)

[2021-01-29 19:12] jsamr commented on #455
@dzpt No worries :-), feel free to resubmit in the appropriate issue tracker.

[2021-01-29 19:12] sayem314 commented on #456
Thank you very much for taking the time to explain. Appreciate the effort you put into this project.  :heart:

[2021-01-29 19:12] #456 closed

[2021-01-29 19:27] Aparus commented on #430
@jsamr , thank you! I did it. Now code looks more messy. But somehow it works. And rerendering works! 👍
I will learn more. And if I stuck somewhere I hope you don't leave me.

![Peek 2021-01-29 22-21](https://user-images.githubusercontent.com/1222611/106318470-0b9bdf80-6281-11eb-9531-f2ff1b8d21dc.gif)

[2021-01-30 00:49] Aparus commented on #449
in v5 it also exist.
in `"react-native-render-html": "^6.0.0-alpha.11",`  -- doesn't exist, everything is ok.

[2021-01-30 01:05] jsamr commented on #449
@Aparus thanks for pointing that out, very much appreciated :-) Still a serious bug for the v4 and v5! I don't have bandwidth to track the bug on the legacy branch but I'm open to PRs!

PS: regarding your list rendering concerns, you can try the demo app (just clone the project from the dev/foundry branch and `yarn start`); you'll see one of the example being lists. Feel free to open a new ticket

[2021-01-31 20:22] jsamr commented on #437
Tracking this library as candidate to build the feature https://github.com/fb55/css-select

[2021-02-02 21:21] jsamr opened #457 "passProps.domNode is undefined in custom renderer"
`passProps.domNode` is undefined in custom renderers.

### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute

[2021-02-03 13:52] jsamr commented on #449
I tried to reproduce briefly in version 5.0.1, and below is the result:

![screenshot](https://user-images.githubusercontent.com/3646758/106756128-b3146b80-660d-11eb-95f1-88cc4de7680c.jpg)

Full reproduction:

[code]
Closing now, as it seems like this issue only affects legacy 4.x versions.

[2021-02-03 13:52] #449 closed

[2021-02-03 15:55] aamiryameen opened #458 "android app crash on back press please resolved it"
### Oath

I swear that I have completed these tasks before submitting:

- [ ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [ ] I have read the documentation here: https://git.io/JJcAl
- [ ] I have confirmed that this bug has not been reported yet

### Decision table

- [ ] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-02-03 17:06] jsamr commented on #458
See my comment in https://github.com/native-html/plugins/issues/29

[2021-02-03 17:06] #458 closed

[2021-02-04 12:46] jsamr commented on #107
Probably an instance of this `react-native-screens` bug: https://stackoverflow.com/a/63171413/2779871

As for version 5 of `react-native-render-html` with `@native-html/iframe-plugin`, you can set `allowsFullscreenVideo` like so:

[code]

[2021-02-04 14:02] florinleu opened #459 "iframe with youtube video is not rendered"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

Installed libraries:
"react-native": "0.63.4"
"react-native-render-html": "^5.0.1"
"react-native-webview": "^11.2.1"

Html conte

[2021-02-04 14:37] jsamr commented on #459
@florinleu Please follow closely our template. [There is a note on our HELP document regarding iframes, in the "Common issues" section](https://github.com/meliorence/react-native-render-html/blob/master/HELP.adoc#common-issues). Closing!

[2021-02-04 14:37] #459 closed

[2021-02-07 19:23] jsamr commented on #227
This feature is available in the foundry pre-release (see #430 for instruction on how to try it out). You can now use `source.baseUrl` prop to achieve that purpose.

[2021-02-07 19:27] jsamr commented on #429
This feature is available in the foundry pre-release (see #430 for instruction on how to try it out). You can use `TDefaultRenderer` prop for that purpose. Also, note that `TDefaultRenderer` will always support `onPress` prop, whether it renders a `Text` or `View`. See for example this snippet: https://github.com/meliorence/react-native-render-html/blob/682a9b91f21b39b63561cf69670cbf5e8142aaf9/dem

[2021-02-08 15:49] dstaley opened #460 "<img> tags do not render their image content on 6.0.0-alpha.12"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-02-08 18:57] jsamr commented on #460
@dstaley I've marked this bug as upstream because alpha.12 is using the `URL` constructor described by [the WHATWG standard](https://url.spec.whatwg.org/), which react-native JavaScript engine doesn't follow closely, see https://github.com/facebook/react-native/issues/30914. This is why the bug does not occur on react-native-web.

I'm going to publish a patch today, probably depending on a more re

[2021-02-08 19:30] #460 closed

[2021-02-11 19:23] jsamr commented on #285
This issue should be fixed in the Foundry pre-release (alpha.15), but please let me know if there are still problems remaining. See #430 for instructions on how to try it out.

[2021-02-11 19:42] jsamr commented on #424
@wulaizi You can now reuse the `img` component internal logic in the Foundry pre-release (6.0.0-alpha-15). See #430 for more information on how to try out this pre-release. Below is an example:

[code]
You can therefore chose what to render depending on the internal state of this component. The fields accessible in the `state` will depend on `state.type`.

[2021-02-12 08:03] jimbofoo opened #461 "Passing uri in source fails this check"
https://github.com/meliorence/react-native-render-html/blob/77b7599d8ebd5c0863f73f8c98779159f99ce8ec/src/HTML.js#L206

Should probably be:

} else if (uri) {
...
}

[2021-02-12 10:05] #461 closed

[2021-02-12 10:55] nsantacruz commented on #343
@jsamr I see that @amdrade's PR for this (#436) was merged but I don't believe it was ever released. I'm not seeing his commit on master. I'm using v5.0.1

[2021-02-12 11:34] jsamr commented on #343
@nsantacruz The dev/4.x branch had diverged from master at that point. I've ported the feature in the [5.1.0](https://github.com/meliorence/react-native-render-html/releases/tag/v5.1.0) release!

[2021-02-12 11:35] jsamr commented on #461
@jimbofoo Should be fixed in  the [5.1.0](https://github.com/meliorence/react-native-render-html/releases/tag/v5.1.0) release.

[2021-02-14 07:30] Aparus commented on #223
it didn't help me. fontFamily doesn't effect in tagsStyles  :(

[2021-02-14 11:01] jsamr commented on #223
@Aparus If you're using foundry, set the `systemFonts` prop to an array with all the fonts your app is using. This is required because the style engine doesn't want unsupported font to cause a crash from inline styles. Unfortunately, there is not yet a distinction between how inline styles and provided styles are handled. I believe it should be better handled.

[2021-02-14 11:15] Aparus commented on #223
Thank you. Before this your message I updated foundry to latest, and now there is another issue (expo web client):
[code]

[2021-02-14 11:21] jsamr commented on #223
@Aparus I suggest we continue this discussion on discord if you don't mind! https://discord.gg/dbEMMJM

[2021-02-14 18:19] jsamr commented on #160
@rok5ek This library uses `htmlparser2` to create a DOM. `htmlparser2` has utility libraries to do just that (see [domutils](https://github.com/fb55/domutils)). Especially, check the [querying functions](https://github.com/fb55/domutils/blob/master/src/querying.ts), `find`, `findOne`, `findOneChild`, `findAll` ...

[2021-02-14 18:19] #160 closed

[2021-02-14 18:24] #442 closed

[2021-02-14 18:31] jsamr commented on #232
@orhanveli  This library uses `htmlparser2` to create a DOM. `htmlparser2` has utility libraries to do just that (see [domutils](https://github.com/fb55/domutils)).

[code]

[2021-02-14 18:31] #232 closed

[2021-02-15 10:54] jsamr commented on #86
@mkhaledche Now there is, see https://github.com/native-html/plugins/tree/master/packages/iframe-plugin#readme

[2021-02-15 22:12] jsamr opened #462 "What do you dislike or believe is missing in Foundry?"
Hello folks,

I've been working quite a lot this last month on the foundry release (see #430), which is still in alpha. As I'm getting close to having implemented all features required for a final release, I wanted to ask you what do you like or dislike about its new API and features. This is also the place to suggest improvements and features. I'm not expecting a precise template for your message

[2021-02-15 22:19] jsamr commented on #430
**A note to participants:**  If you have ideas, suggestions or you dislike something in this pre-release, you're invited to comment in this thread:  [What do you dislike or believe is missing in Foundry?](https://github.com/meliorence/react-native-render-html/issues/462)

[2021-02-16 12:26] egor-sorokin opened #463 "Property 'index' does not exist on type 'PassProps{}>'"
### Oath

I swear that I have completed these tasks before submitting:

- [x ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x ] I have read the documentation here: https://git.io/JJcAl
- [x ] I have confirmed that this bug has not been reported yet

### Decision table

- [ x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for i

[2021-02-16 12:37] jsamr commented on #463
@egor-sorokin I don't know which exact 4.x version you are using, but I just checked typings for 4.2.5 and the field should be `nodeIndex` instead of `index`.

[2021-02-16 12:41] egor-sorokin commented on #463
@jsamr I just simply logged nodeIndex and index inside of `(_htmlAttribs, _children, _convertedCSSStyles, passProps)`
Seems `nodeIndex` is having an incorrect value

<img width="160" alt="Screenshot 2021-02-16 at 13 39 28" src="https://user-images.githubusercontent.com/13828339/108064033-65abeb80-705c-11eb-88a0-f906bde43d61.png">

[2021-02-16 12:52] jsamr commented on #463
@egor-sorokin The 4.2.5 version you are using is unmaintained and we won't provide fixes. I suggest you switch to v5 (very few breaking changes, see #442) and if the issue still persists, I'm willing to provide a fix.

[2021-02-16 12:57] egor-sorokin commented on #463
@jsamr thank you for the clarification, I will take a look!

[2021-02-16 13:01] egor-sorokin commented on #463
@jsamr I just tried that out, and it's also an issue in v5

[2021-02-22 03:35] twisger commented on #430
## 1.list marker invisible
### Current behavior
The default background color of ul list marker is white, So the `Disc` marker is invisible when background is white.
### Requested Change
Marker default background color is black.

## 2.list marker alignment
### Current behavior
When a list item has a large font size, the marker will align with top line of font. It is different with web implementatio

[2021-02-22 04:15] vasuchawla commented on #119
I am using v5.0.1 and still facing this problem. was this removed?

[2021-02-22 10:33] jsamr commented on #119
@vasuchawla This fix required a rearchitectural design.  The foundry release fixes this issue, see #430

[2021-02-23 04:55] twisger commented on #430
@jsamr Thanks for your reply!

1. I test the ul list marker issue again on alpha.20 and found it still exist.I already remove alll tagStyle and classStyle.
<img width="455" alt="WX20210222-225136@2x" src="https://user-images.githubusercontent.com/12410710/108803275-4c2d0700-7568-11eb-88b5-775086aafe03.png">
I have to add a tag style to fix it.

[code]

<img width="424" alt="WX20210222-234820@2x" s

[2021-02-23 10:18] jsamr commented on #430
@twisger Good catch, I'll fix that too!

[2021-02-24 14:12] kshitijsharma6325 commented on #76
wrapping` <sup>` `<sub>` tag within` <div>` did the work for me
`<p>water is H<sub>2</sub>O</p>` --> `<p>water is H<div><sub>2</sub></div>O</p>`

[2021-02-24 14:26] jsamr commented on #76
@kshitijsharma6325 I bet that would only work on Android, see https://github.com/meliorence/react-native-render-html/issues/76#issuecomment-660702309

[2021-02-26 03:52] LimanASL opened #465 "lineHeight for <ul> and <ol> is not work."
### Oath

I swear that I have completed these tasks before submitting:

- [✓] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [✓] I have read the documentation here: https://git.io/JJcAl
- [✓] I have confirmed that this bug has not been reported yet

### Decision table

- [✓] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-02-26 15:43] infinitbility commented on #109
Implement link in react native render Html complete example

https://infinitbility.com/how-to-open-any-link-from-react-native-render-html

[2021-03-02 06:20] xXCHINNAXx opened #466 "web page from url is not loading css and angular web sites are also not getting loaed"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that the feature request has not been offered yet

### Decision table

- [x] The change I am requesting does not concern performance
- [x] The change I am requesting does

[2021-03-03 10:26] jsamr commented on #466
@xXCHINNAXx This library has no pretension to replace `react-native-webview`. The two libraries fit different purposes. `react-native-render-html` bare goal is to render the HTML markup into native views. On the other hand, `react-native-webview` is a full featured embedded system web widget, shipped with a web engine of [over 2,1 millions of lines of code](https://www.openhub.net/p/v8-js), comply

[2021-03-03 10:26] #466 closed

[2021-03-05 11:37] blazk0 commented on #89
@baoanhng  Man THANK YOU, i had an issue about changing number of lines in text component not rerendering.
This solved it. Thanks alot.

[2021-03-08 06:40] hotaryuzaki commented on #360
`defaultTextProps={{ textBreakStrategy: 'highQuality' }}`
not worked for me, set to simple not worked too.

[2021-03-08 08:31] hotaryuzaki commented on #360
sorry, mine was v4 so i need to update to v5.
now it works, but i had to set to **simple**, not highQuality
`defaultTextProps={{ textBreakStrategy: 'simple' }}`

[2021-03-15 11:31] YeaseonZhang commented on #347
I have the same problem!

[2021-03-16 06:57] sankar9659 opened #467 "How to handle more text functionality?"
Hi, I m using the react-native render-html package to convert the html contents to react-native text.
I have changed the html text using this package. And also i need to handle a more text functionlity. (If i have contents more than 10 lines, first i need to show the first 5 lines only) Then i have an text like more..., if i click that, i need to show all of the contents.
I have tried like below b

[2021-03-16 11:03] jsamr commented on #467
@sankar9659 This submission doesn't follow [our guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#opening-tickets) and especially the required template. Closing now. Feel free to resubmit with the appropriate template, or post a Stack Overflow post with `react-native-render-html` tag. Also, I suggest you use markdown block quotes for sharing blocks of

[2021-03-16 11:03] #467 closed

[2021-03-17 21:02] dennisbouwpas commented on #430
Is it possible to make a custom bullet with the new API? Trying to do something like this but don't know what to do next
[code]

[2021-03-17 21:20] jsamr commented on #430
@dennisbouwpas Not yet! But the feat is scheduled before stable.

[2021-03-17 21:23] dennisbouwpas commented on #430
@jsamr Thanks for the quick reply !!
Ok, I see. Do you have any ideas when the stable version will be ready?

[2021-03-17 21:30] jsamr commented on #430
@dennisbouwpas As for now, you can at least chose the default bullet given an nest index thanks to `useInternalRenderer` hook. I listed the currently supported values in the below example:

[code]

As for a release data; that will depend on my bandwidth! But certainly before this summer.

[2021-03-17 23:14] dennisbouwpas commented on #430
@jsamr Hmmm 🤔 that's better yes, but is it possible to style them a bit? For example, I need to make them a bit bigger and different color. Or is it possible to use an asset image to replace that bullet, like in regular CSS?

[2021-03-17 23:32] jsamr commented on #430
@dennisbouwpas Not yet!

[2021-03-18 08:40] dennisbouwpas commented on #463
Have this issue too
@egor-sorokin Did you find solution?

[2021-03-19 07:56] ajaysaini-sgvu commented on #361
Any way to handle `<HTML />` component so app will not crash with invalid css or content ?

[2021-03-19 09:59] jsamr commented on #361
@ajaysaini-sgvu On the 5.x branch, we handle unsupported CSS on a "blacklist" basis, so there are misses. On the 6.x, every CSS rule and value is validated or discarded by a separate CSS processor (see https://github.com/native-html/core/tree/master/packages/css-processor#readme). So the 6.x is expected to be much more resilient on that regard. See #430 to try it out.

[2021-03-22 12:19] hotaryuzaki opened #469 "sometime text/content not render"
### Oath

I swear that I have completed these tasks before submitting:

- [ V ] I have read the help guide here: https://git.io/JJ0y3
- [ V ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [ V ] I have read the documentation here: https://git.io/JJcAl

------------

sometimes (1) it wasn't rendered the content or (2) rendered strangely like space-between in each alfabet, i do

[2021-03-22 13:29] jsamr commented on #469
@hotaryuzaki Hi, and thank you for your submission! You need to provide a reproducible example for us to help you, see [our contribution guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#a-contributors-guide).

[2021-03-23 04:12] hotaryuzaki commented on #469
i dont know i can make reproducible example or not, i think this was happened because lag of connection or maybe this is problem in specific OS (android 10)
- not always occur
- not all phone (i found it  in android 10; Oppo, Realme, OnePlus)

[2021-03-23 09:40] jsamr commented on #469
@hotaryuzaki With no reproduction, it's very hard to tell if the issue comes from this library or your code. Do you perform a request on a webservice before rendering? If that is the case, this is issue is likely unrelated to this library...

[2021-03-23 12:04] msageryd opened #470 "JSON value 'thin' of type NSString cannot be converted to NSNumber"
I'm using react-native-render-html for rendering email bodies.

When I get the following in the html i get "JSON value 'thin' of type NSString cannot be converted to NSNumber".
[code]

I suppose this is just a dev-warning, because it's dismissable. But I also suppose that the "thin" border will be omitted.

Is this the way the librart shows me that an attribute is not supported?
No biggie, since i

[2021-03-23 12:34] hotaryuzaki commented on #469
version:
platforms: android

yes, we get the description from API:

[2021-03-23 12:38] jsamr commented on #470
@msageryd I suppose you're using version 5.1.0. This issue is already addressed in v6.x with the separation of CSS parsing in a new package, `@native-html/css-processor`. The v6 is still in alpha. See #430

[2021-03-23 12:38] #470 closed

[2021-03-23 12:44] jsamr commented on #469
@hotaryuzaki I'm sorry, I am going to close this issue now because of a missing reproducible example. This could be a timeout or other network related issues that don't have nothing to do with this library. Still, you could take a look at #348 as it's the only issue I know of related to missing content. If you manage to create a reproduction, you're very welcome to resubmit or comment in this thre

[2021-03-23 12:44] #469 closed

[2021-03-23 13:26] msageryd commented on #470
Thanks!
Thats great news. I'm already thrilled about finding this library. It solves so many problems for me.

Thank you for your work!

[2021-03-24 06:17] amialone commented on #430
update text style when theme or color change

[code]

[2021-03-24 09:36] jsamr commented on #430
@amialone You should use `triggerTREInvalidationPropNames={['baseStyle']}`

[2021-03-24 12:20] amialone commented on #430
@jsamr it works! thx 🙏

[2021-03-24 13:41] and18aa commented on #430
I am trying to get figure tag with iframe working but i couldn`t find any solution till now.
This is my code:
[code]
Thank you for help

[2021-03-24 14:02] jsamr commented on #430
@and18aa Would you mind providing [a snack](https://snack.expo.io/)? Especially, I would need to know
- The html content
- The exact desired output
I suggest we continue this discussion [in our discord channel](https://discord.gg/dbEMMJM) to avoid notifying all subscribers to this ticket, thank you :smiley:

[2021-03-25 09:10] dennisbouwpas opened #471 "Component rerenders when scrolling the page"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-03-25 10:50] jsamr commented on #471
@dennisbouwpas This is not obvious in your example, but:

- are `tagsStyles` declared in the body of your component, or is it invariant? If it is instantiated on each render, you should instead memoize it to avoid triggering re-renders.
- same goes for onParsed. I can see it is an inline arrow function, which means every render of the controlling component will trigger a re-render of the `HTML` co

[2021-03-25 11:57] dennisbouwpas commented on #471
@jsamr Thanks for the answer!

[2021-03-25 11:57] #471 closed

[2021-03-25 12:28] jsamr commented on #471
@dennisbouwpas You're welcome!

[2021-03-29 15:53] thekalko opened #472 "Linked image fails at render"
I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),
- [x] My i

[2021-03-29 15:59] thekalko commented on #430
#472

[2021-03-29 16:45] jsamr commented on #472
@thekalko The foundry release as it is now requires `react-native@0.63.0` which provides `Pressable` component... I should add a fallback to `TouchableOpacity` for older versions... Which React Native version are you using?

[2021-03-29 17:04] thekalko commented on #472
I use react-native: 0.61.5
I would be thankful to you If you add `TouchableOpacity` for backward compatibility. I upgraded to foundry release because it fixes another error about `li` elements. At this moment I cant upgrade RN version.

[2021-03-29 20:09] ao-tigran commented on #243
I wouldn't consider this one as resolved. Yes this solution works when you have text-only content, but in case there are nested block elements the view is getting corrupted. The reason is that View element cannot be nested into Text element.

[2021-03-30 01:06] jsamr commented on #472
@thekalko Should be fixed in `6.0.0-alpha.22`!

[2021-03-30 10:38] jsamr commented on #243
@ao-tigran With the powerful new foundry API (#430) you can do something like this (Typescript):

[code]

Result:
![Screenshot_1617100675](https://user-images.githubusercontent.com/3646758/112976155-e1ed2080-912a-11eb-981c-0d9b25994818.png)

Note that the `TNodeChildrenRenderer` API is not guaranteed to be stable yet, but the feature is here.

[2021-03-30 11:34] jsamr commented on #347
This issue has been fixed in the foundry release, available in alpha (see #430 for detailed information). The new transient render engine handles CSS properties inheritance, which allows a view-based renderer to have a `text-align` style and pass it to its children while avoiding injecting the corresponding react-native style (since `textAlign` cannot be applied to `View` elements).

[2021-03-30 14:02] thekalko commented on #472
@jsamr It works well, thank you! I don't know how can I thank you, but if I can do anything, let me know.

I also fund one thing:
HTML styles negative margins could not be transferred to native ViewStyles, I created a render to test is, and I realised that, the positive margins are included into the render provided styles, but the negatives not. In case of If I add a negative margins at render it

[2021-03-30 14:12] jsamr commented on #472
@thekalko Thank you :-) You can always start [a little sponsorship if you will :-)](https://github.com/sponsors/jsamr/). As per the margin issue, I believe it's a bug; would love a repro in a separate ticket!

[2021-04-02 16:23] jsamr commented on #286
I've been exploring this issue a little bit for the foundry release (see #430), below are my findings.

## I. RTL in the Web

The Web standards offer basically two ways to handle RTL typography.

1. The HTML element `dir` attribute, with values `ltr`, `rtl` and `auto` (determined by text content).
2. The inheritable CSS property `direction`, with values `ltr` and `rtl`. When both `dir` attribute a

[2021-04-07 04:24] hanzoow commented on #263
What if i want to html tags in renderers props re-calculate props like function passed from parent component ? I mean i pass close function with purpose is check if checkbox is checked or not with useCallback function then in HTML component have a  close button, when click on close button it will trigger close function but the checkbox status not update even when checkbox's status is changed. How

[2021-04-07 05:06] hanzoow commented on #263
Solution for update checkbox status is use useRef

[2021-04-07 08:53] hanzoow commented on #89
This will force HTML re-calculate in DOM and render itseft

[2021-04-07 10:44] jsamr commented on #263
You should probably use [React context](https://reactjs.org/docs/context.html) for that. Context state changes will trigger re-renders of any consumer component.

I'm locking the discussion now; if you need advise, please visit [our discord channel](https://discord.gg/dbEMMJM) or post on Stack Overflow :-)

[2021-04-13 00:58] jsamr commented on #286
Good news folks, I have made great progress regarding lists in general, and RTL in particular. I've just released a standalone component, **[`@jsamr/react-native-li`](https://github.com/jsamr/react-native-li/tree/master/packages/react-native-li#readme)** which can handle 47 presets including RTL languages (Arabic, Hebrew, Farsi) and has premium RTL support. **I'll integrate this component in the f

[2021-04-13 01:01] jsamr commented on #430
For those of you who are interested in CSS counter styles (roman, arabic...), [**good news are reported here!**](https://github.com/meliorence/react-native-render-html/issues/286#issuecomment-818347185)

[2021-04-13 13:06] jsamr commented on #414
@harveyconnor Good news, support for roman is on its way: https://github.com/meliorence/react-native-render-html/issues/286#issuecomment-818347185

[2021-04-13 13:29] Milrer commented on #168
Hello,
Is the functionality still there in the latest version? I'm trying to format my <pre> tags but I get the same result as the author.

[2021-04-13 14:47] jsamr commented on #168
@Milrer Should be working in versions 5.1.0 and 6.x (#430). Would you mind providing a snack reproducing your issue?

[2021-04-13 15:06] Milrer commented on #168
@jsamr Of course with pleasure : [](https://snack.expo.io/@milrer/spunky-blueberries)

Maybe I've missed something entirely?

I'd rather not upgrade to v6 for production at this time if possible.

[2021-04-13 16:17] jsamr commented on #168
@Milrer The renderer is confused by the embedding of `<code>` inside `<pre>` (see https://snack.expo.io/@jsamr/rnrh-pre). It works in browsers because `white-space: pre` rule is inheritable, so `code` should inherit it. But the v5 doesn't support `white-space` CSS rules. Instead, there is a hard-coded exception: https://github.com/meliorence/react-native-render-html/blob/d4a550ca9869fcf2262d5905ba

[2021-04-14 03:06] chien-pro opened #475 "ruby rb tag is not working"
### Oath
<ruby>今日<rt>きょう</ruby>

Above code is not working in html
### Decision table

[2021-04-14 07:36] Milrer commented on #168
Indeed with v6, it works wonderfully well.
Your work is really crazy, I think you can't imagine how much what you offer helps thousands and thousands of developers, thank you!

Maybe you have an idea for syntax highlighting of the code?

[2021-04-14 10:52] jsamr commented on #475
@chien-pro I am missing information regarding which version you are using.

As per your issue, I would really like to have the best internalization support possible in this library (see https://github.com/meliorence/react-native-render-html/issues/286#issuecomment-818347185), but we are somehow limited to what the React Native engine can offer.

There is no [`display: ruby` style](https://www.w3.o

[2021-04-14 15:57] jsamr commented on #168
@Milrer Thank you so much for the feedback, it really makes a difference :heart:

Well, yes! I'm preparing a v6 demo which will also acts as a "discovery" app. And I needed a fast syntax highlighter, since `react-native-syntax-highlight` is pretty slow. So I made one, but it's still unpublished. However, You can find it in the tree here: https://github.com/meliorence/react-native-render-html/blob/

[2021-04-14 16:24] Milrer commented on #168
@jsamr Oh that's great! Can't wait to get this published, thanks for the work!

[2021-04-15 02:10] chien-pro opened #476 "<table>, <td>, <tr> tag is not working"
### Oath

<p align=center\">ｘｘ自動車学校料金表</p><p>規定時間</p><table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" width=\"641\"><tbody><tr><td style=\"width:128px;\"><p>&nbsp;</p></td><td style=\"width:128px;\"><p>免許のない方</p></td><td style=\"width:128px;\"><p>&nbsp;</p></td><td style=\"width:128px;\"><p>自動二輪免許のある方</p></td><td style=\"width:128px;\"><p>&nbsp;</p></td></tr><tr><td style=\"width:128px;\"><

[2021-04-15 04:42] kelokchan opened #477 "How to display html in just 1 line"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-04-15 10:19] jsamr commented on #476
See https://github.com/meliorence/react-native-render-html/blob/master/HELP.adoc#common-issues, "How to render tables".

[2021-04-15 10:19] #476 closed

[2021-04-15 10:25] jsamr commented on #477
@kelokchan Several options here. But this is not a bug: each `li` creates a new text container, within which the max number of line is 1, which is respected.

- You could add an `overflow: "hidden"` rule on the container style.
- You could [alter the DOM nodes](https://github.com/meliorence/react-native-render-html#altering-content) to filter what you wish to show.

[2021-04-16 07:58] Milrer commented on #134
@jsamr Hello ! I have done amazing things thanks to you, thank you for what you do!

The only thing I've been struggling with for the past few days is that when I want to embed an iframe, it doesn't display (and leaves an empty space) if it's embedded inside a paragraph.

If it is not in a paragraph or in a division, it is displayed.

Maybe there is a solution to this?

This works:
`<iframe src='h

[2021-04-16 10:57] jsamr commented on #134
@Milrer On which version of react-native-render-html this is happening? Which version of the plugin?

[2021-04-16 11:09] Milrer commented on #134
Oh sorry for that:
- "react-native-render-html": "^6.0.0-alpha.22",
- "react-native-webview": "^11.0.0",
- "@native-html/iframe-plugin": "^2.2.0"

[2021-04-16 11:26] jsamr commented on #134
OK! Share me a snack and I'll be happy to take a look

[2021-04-16 12:14] Milrer commented on #134
Great thanks!

Here is the snack: https://snack.expo.io/h9hM6LUMX
There seems to be a problem because on snack, the video doesn't appear either even if it's not in a paragraph, while on the app it works.

[2021-04-16 14:37] adderly commented on #430
@jsamr
Hello,

I can't seem to be able to use it in my code.

It's giving me this error:
[code]

I used a striped down version of the examples just to try to make it work.

[code]

[2021-04-16 15:31] jsamr commented on #430
@adderly It's unlikely (though not impossible) that we have a hook misbehavior since the project is covered with the rules of hooks Eslint rules. [The most likely causes are explained here.](https://reactjs.org/warnings/invalid-hook-call-warning.html). If however you're confident that the problem comes from this library, please share a reproduction in the form of a [snack](https://snack.expo.io),

[2021-04-16 15:34] Milrer commented on #134
@jsamr No worries, thanks

[2021-04-16 20:21] adderly commented on #430
You are correct @jsamr , i created a new project and it worked.

But in my current codebase it just doesn't work.

[2021-04-16 20:26] jsamr commented on #430
@adderly Probably a duplicated `react` package, happened to me on a yarn 2 monorepo. If you're using yarn, you can try `yarn why react`; with npm `npm ls react` to identify the origin of the duplicated module. [See this guide.](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react). I'd rather not continue this discussion here to avoid spamming all subscribers. Feel free to j

[2021-04-17 21:06] jsamr commented on #134
@Milrer I've tried to reproduce again; I believe the issue was that you wrapped `RenderHTML` component into a `Text` element... this is not supported (although I admit undocumented). In this slightly simplified reproduction, it works on both iOS and Android: https://snack.expo.io/@jsamr/project-demonstration-with-iframe-and-react-native-render-html
As you mentioned, it does not work in Expo Go for

[2021-04-17 21:55] jsamr commented on #286
**🚀 Experimental support for `ol` and `ul` RTL mode has been shipped in the last foundry pre-release (6.0.0-alpha.23)**
See #430 for install instructions.

[code]
Remarks:

- Notice the required `dir="rtl"` attribute. CSS rule "direction: rtl" will also work.
- Default UA styles set padding left for ol and ul.

<details>
<summary><b>SHOW RESULT</b></summary>

![Screenshot_1618695613](https://user-

[2021-04-17 22:02] jsamr commented on #336
**🚀 This feature has been shipped in the last foundry pre-release (6.0.0-alpha.23)**
See #430 for install instructions.

[code]

<details>
<summary><b>SHOW RESULT</b></summary>

![Screenshot_1618696865](https://user-images.githubusercontent.com/3646758/115127764-78389780-9faf-11eb-8055-26a06981086b.png)

</details>

[2021-04-17 22:14] jsamr commented on #465
@LimanASL This library is somehow limited to what React Native Yoga layout engine can do. It is not a Web engine. If you can produce a satisfactory example with React Native components, it means it is doable ; but I honestly doubt. If you need to have a strictly complying web engine, use `react-native-webview` library instead. Closing now as I don't see how we could possibly work around Yoga limit

[2021-04-17 22:14] #465 closed

[2021-04-17 22:45] jsamr commented on #208
I have tried a 7000 **words** (not characters) in Android Emulator, with Android version 7.0 and 11.0 and didn't notice any issue **with foundry pre-release** (see #430). React Native version I have tested is 0.63.4. See the video below.

https://user-images.githubusercontent.com/3646758/115128593-44f90700-9fb5-11eb-9254-f8a2224ffbc2.mp4

The bug comes either:

1. From the older versions of this l

[2021-04-18 00:15] #477 closed

[2021-04-18 08:20] Milrer commented on #134
@jsamr Wow, indeed, I am quite surprised, the problem was indeed with the Text component.

I thank you very much for helping me to find out where this problem came from, I think it will be very useful for other people who will come across this.

[2021-04-18 15:39] jsamr commented on #208
I'm closing now as the most likely causes are 2. and 1. which can be mitigated by either upgrading react-native or this library. Feel free to fill a new report if you're still facing this issue after upgrading.

[2021-04-18 15:39] #208 closed

[2021-04-19 07:55] nadav2051 commented on #430
Hi! Thanks for the great job! not sure where to open bugs regarding Foundry issues, but I've tried to test the RTL with 6.0.24-alpha and it's not 100%,
My code:
`		return (
			<HTML
				source={{ html: this.props.htmlSource }}
				imagesMaxWidth={Dimensions.get('window').width}
				alterChildren={this.alterChildren.bind(this)}
				textSelectable
	                        WebView={WebView}

[2021-04-19 11:00] jsamr commented on #430
@nadav2051 It's totally appropriate to comment in this thread for Foundry bug reports! I however prefer snacks as it's very fast to reproduce. Also, it would be nice to add in which platform the bug appears. On my end, I didn't manage to reproduce the RTL issue neither on Android (10), nor on iOS (14.4). See the repro I used here: https://snack.expo.io/@jsamr/rnrh-alpha24-rtl-repro

As per the cen

[2021-04-21 14:02] gnattu commented on #404
I'm facing this as well. Want to let a long image to take the __FULL WIDTH__ of the screen, but the image ends up only takes a very small potion of screen width and not responding to width setting on tagStyles

[2021-04-21 14:15] gnattu commented on #404
Looks like the size calculation is having some problem by looking at `imageBoxDimensions` passed to `renderImage`

on iOS, the images has their sized calculated right and width equals to screen width:

[code]

However, on Android, we are getting a ridiculously low width:

[code]

Same image, same props. I'm wondering what caused this.

[2021-04-21 14:36] gnattu commented on #404
Looks like the method `fetchPhysicalImageDimensions ` is not getting the correct size of the image, hence the wrong rendering:

[code]

[2021-04-21 17:51] gnattu commented on #404
The root cause is that FaceBook's fresco library actively downsamples the images which is considered "too big", and returns the down sampled size. Even though you managed to set the correct size, react native's image component will render that downsampled version which will be very blurry. Solving this is out of the scope of this lib as it would be very complicated.

[2021-04-21 17:54] jsamr commented on #404
@gnattu Thank you for your thorough investigation. Indeed, that looks like an upstream limitation; worth adding a note regarding this issue in the help section!

[2021-04-23 08:29] aqos156 commented on #58
@Exilz  Hi one of the proposed fixes by react-native community for this issue is to use [this](https://github.com/facebook/react-native/issues/13938#issuecomment-520590673) fix, but we are unable to make it work with `defaultTextProps`.

![0-02-05-ae8121ea5fd71c2cee1f18735135acf546bcca003c6b12251ccb0409e5ff4327_1c6da327771a89](https://user-images.githubusercontent.com/11147374/115842808-7b53dd80-a

[2021-04-23 16:48] alfonsocj opened #478 "Return type for alterChildren is wrong on Typescript"
### Bug Report

I believe the return type for the function passed as the prop `alterChildren` is wrong, it should be `HTMLNode[] | Falsy` but it is declared as `HTMLNode | Falsy` instead.

According to the documentation, the function should return the children (`HTMLNode[]`) instead of just one node.

It happens on the version
- react-native-render-html: 5.1.0

[2021-04-23 16:54] alfonsocj commented on #478
Here's a PR that fixes the issue #479

[2021-04-26 23:07] tkserver commented on #415
I realize this topic has been closed, but I ran into the same issue.  In case this helps anyone, my problem was that I had the <HTML....> wrapped  inside of a <TEXT>.

Bad:

`       <View style={{flex:1, flexDirection: 'column'}}>
          <Text style={styles.topic_title}>{title}</Text>
         <Text><HTML source={{ html: content }} ignoredStyles = {['font-family']} /></Text>
        </View>`

G

[2021-04-28 04:01] danhab99 opened #480 "classStyles not being respected"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-04-28 11:11] jsamr commented on #480
@danhab99 Versions 4.x of this library are not maintained anymore. Upgrading to v5 will require little to no changes in your codebase. I'm leaving it open while you confirm the issue still exists on v5.x. Please let me know.

[2021-04-28 22:11] danhab99 commented on #480
Upgraded to `^5.1.0`. No change

![Screenshot_20210428-180856_scrollforruqqus](https://user-images.githubusercontent.com/13894263/116478962-ed785800-a84c-11eb-9a98-6443cdf773be.png)

^ This image as defined by my [HTMLMarkdown.tsx](https://github.com/danhab99/scroll-for-ruqqus/blob/2069234693da4997afdbfed31cd472ae1e9c8bd6/components/HtmlMarkdown.tsx) component should be 1x1 dpi (exaggerated test).

[2021-04-28 22:26] danhab99 commented on #480
I figured it out. In [this line](https://github.com/danhab99/scroll-for-ruqqus/blob/12a2acfa993c1159387ba51464e42657fd4c369e/components/HtmlMarkdown.tsx#L189) I was accidently destroying the class attribute which caused my problem. I fixed it with lodash.

This took me months to find.

[2021-04-28 22:26] #480 closed

[2021-04-28 23:02] jsamr commented on #480
@danhab99 I'm glad you find out, good luck with your ruqqus client!

[2021-04-30 20:46] danhab99 commented on #480
@jsamr I have one last question to ask. Can we choose for a custom tag renderer to choose whether or not it will be wrapped by a "View" or a "Text" based on the presents of a class?

[2021-05-04 19:29] adderly commented on #430
Solved it with this. I think it is related to react-native-web coming from expo.

https://github.com/facebook/react/issues/13991#issuecomment-830308729

[2021-05-05 20:12] Shummy1991 commented on #206
For those who are still trying to solve this:
You can create a component for the img tags and use the contentWidth as width.
After that get the aspect ratio of the image with Image.getSize (when online).
After that store the ratio in a redux store.
Next time (actually first time also) check if the url is in the store or not, and if it is in the store, then you can use the ratio from there.
This wa

[2021-05-07 08:14] aneena-thomas opened #481 "Square bullet and Alphabetical list not showing"
### Bug Report
Square bullet and Alphabetical list not showing. Only circle bullet and number list showing

<ul style="list-style-type: square;">
<li>j</li>
<li>hu</li>
<li>mj</li>
</ul>

the above one always render like a circle bullet in react native app

Vesrion: react-native-render-html "^5.1.0"

[2021-05-07 11:32] jsamr commented on #481
@aneena-thomas `list-style-type` support has been implemented in the foundry release (#430). As of alpha.24, the following list-style-types are available:

[code]

Thanks to the new `customListStyleSpecs` prop, you can even use directly one of the 47 presets from [@jsamr/counter-style](https://github.com/jsamr/react-native-li/tree/master/packages/counter-style#readme) which allows declaration of [

[2021-05-07 12:14] aneena-thomas commented on #481
Thank you @jsamr  for the reply, so version 5.1.0 has no feature like this right. We need to wait for 6.0.0

[2021-05-07 12:55] jsamr commented on #481
@aneena-thomas You can already try it out, see #430 for instructions. The API won't evolve much and we're very close to beta-release with a frozen API. The only thing that might yet change are the `alter*` props to tamper the DOM. So if you're not using them, you shouldn't fear trying the alpha right now. I'll start the beta release when a minimal version of the documentation website will be ready

[2021-05-10 05:22] castalonirenz commented on #439
no update on this library?

[2021-05-11 08:53] Tanuja0049 opened #482 "Text decoration style is not getting decoded"
### Oath

I swear that I have completed these tasks before submitting:

- [ ] I have read the help guide here: https://git.io/JJ0y3
- [ ] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [ ] I have read the documentation here: https://git.io/JJcAl

------------

Hi,

We are using this library to decode the html content in react native code. We have one issue where we are gettin

[2021-05-11 10:49] jsamr commented on #470
@castalonirenz Good catch; that's an edge case since usually percent sizes are translatable in React Native sizes. I'll have a look.

[2021-05-11 15:17] dzpt opened #483 "Crash on android if get back on navigation with table"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x ] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-05-11 16:18] Tanuja0049 commented on #482
Hi,

below are more details for issue:

Platform: Android and IOS
Versions used:
     "react-native-render-html": "^5.1.0"
     "react-native": "0.63.2",

Please let me know if more information is needed for this issue.

Thank you

[2021-05-12 06:30] Tanuja0049 commented on #482
Thank you. I will check this. We are actually making use of custom renderers so I will have to check functionality for those as well.

[2021-05-12 18:04] jsamr commented on #470
@castalonirenz The issue has been fixed in the latest css-processor release https://github.com/native-html/core/releases/tag/%40native-html/css-processor%401.8.1. You can explicitly install it, or wait for the react-native-render-html@6.0.0-alpha-25 which should be released within a few days.

[2021-05-13 08:39] dzpt commented on #483
@jsamr hi, this is my repo.
https://github.com/dzpt/test-render-html
crash on android similator too.

[2021-05-13 12:32] jsamr commented on #483
@dzpt looking into it

[2021-05-13 16:58] jsamr commented on #483
@dzpt I could reproduce your issue without the need to involve react-native-render-html, see https://snack.expo.io/@jsamr/rnrh-webview-screens

I'll let this issue open and mark it as upstream-bug. When I'll find the time after releasing the beta of v6, I'll investigate workarounds again. Looks like a regression on `react-native-screens` part.

[2021-05-14 12:39] jeancatarina opened #484 "[Question] How renderers: img works?"
Hello, i am trying to download all images, after that show my HTML with the local images that i previous downloaded. Create a regex to find all the possibilities that a image can be showed its hard. But the renderer works perfectly and finds all image that i need. My question is, how i can find all images, like the renderer, without using the renderer? I need to download the images before render m

[2021-05-14 17:12] jsamr commented on #484
@jeancatarina If I understood you well, you'd like to query images in the DOM before rendering happens, right? If that's the case, the next Foundry alpha (.25, which should be the last before beta release cycle) will address that requirement ;-) I'll post an update here on how to achieve this when it is available.

[2021-05-16 15:37] jsamr commented on #484
This is how it will look like in pre-release 6.0.0-alpha.25 (**not released yet**). The use case is covered thanks to 3 new features:

- `RenderHTMLSource` component which, in addition to previously supported uri and html fields, allows to render a DOM object from `htmlparser2`.
- `TRenderEngineProvider` and `useAmbientTRenderEngine` which allows to share an instance of the transient render engine

[2021-05-17 14:48] sbin1211 opened #485 "includeFontPadding crashed at android as it convert boolean to string type "false" or "true""

[2021-05-17 19:29] jsamr commented on #485
Hi @sbin1211!
You are advised to follow [our guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug) to submit bug reports. Especially, we can't process reports which don't contain version information. If this issue happened in version 5.x, there is a good chance it has been fixed in the Foundry release, yet in alpha (see #430), which uses

[2021-05-17 21:50] ritwik-boringnews opened #486 "I want to use "!important" flag on some color tag but not able to do after different methods and trials also i am unable to use that."
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have checked that the feature request has not been offered yet

### Decision table

- [x] The change I am requesting does not concern performance
- [x] The change I am requesting does

[2021-05-17 23:17] jsamr commented on #486
@ritwik-boringnews Important directives are not supported, although they might in the future, and I will keep that issue open for the record. If you provide a code snippet and a use case, I might be able to help you out with tricks to get around this limitation....

[2021-05-18 07:05] ritwik-boringnews commented on #486
Thanks sir for humble response
The data i am getting through an api call looks like
[code]
and i want my classes and tags style should overlap all inline styles because i will render whole html but style should be different as per mobile screen .
I hope you understood the problem .

[2021-05-18 08:20] castalonirenz commented on #430
onLinkPress is not working on the foundry version.

im trying to console the function.

![image](https://user-images.githubusercontent.com/13584669/118617124-e95cac00-b7f4-11eb-9867-e3bcbca63b9e.png)

[2021-05-18 10:54] jsamr commented on #486
@ritwik-boringnews You have a lot of options depending on which version you use.

## v5

- whitelist specific CSS properties via `allowedStyles` or none with an empty array (CSS properties in kebab case);
- use [`alterNode`](https://github.com/meliorence/react-native-render-html#alternode) prop to delete inline styles in the DOM. It offers you the advantage to control under which conditions to del

[2021-05-18 11:22] jsamr commented on #430
@castalonirenz `onLinkPress` has been moved to `renderersProps.a.onPress` [since version 6.0.0-alpha.23](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-alpha.23)

[2021-05-18 11:56] castalonirenz commented on #430
@jsamr Hi, only the attributes ref is being get from the props. How can i get the text that has been press by the user?

[2021-05-18 13:03] jsamr commented on #430
@castalonirenz Not an obvious solution at the moment, although we could pass the `TNode` instead of attributes, so that you can freely inspect its children. Right now, you could mangle the dom via dom visitors, and setting a `data-text` attribute:

[code]
Now you will have a `data-text` attributes passed to your `onPress` callback.

[2021-05-18 15:46] castalonirenz commented on #430
i will try this one and will give you an update in the next day. thanks for the reply appreciate it!

[2021-05-18 15:54] castalonirenz commented on #430
@jsamr Where would i put this function inside my components? sorry i'm bit confused.

[2021-05-18 16:14] castalonirenz commented on #430
this is working see my screenshot

![image](https://user-images.githubusercontent.com/13584669/118686933-0dd97800-b837-11eb-88b5-05abab7e24ea.png)

**Console:**
![image](https://user-images.githubusercontent.com/13584669/118687001-1fbb1b00-b837-11eb-841a-04b6b8befcbe.png)

[2021-05-18 16:47] ritwik-boringnews commented on #486
sir can you help with  this types of tag
[code]

[2021-05-18 16:48] jsamr commented on #486
@ritwik-boringnews Pseudo-elements are not supported yet, unfortunately ...

[2021-05-18 17:59] ritwik-boringnews commented on #165
thaks man

[2021-05-18 18:00] ritwik-boringnews commented on #165
@houke thaks for the solution

[2021-05-18 20:34] jsamr commented on #165
This issue has been fixed in the Foundry release for a while now (#430). I'm going to lock the discussion, but feel free to ask for help in our Discord channel!

[2021-05-18 21:02] ritwik-boringnews commented on #486
@jsamr no worries sir ,i just solved all the problems where i was stuck previously and thanks for the trick...pseudocode one i have solved with creating one custom element

[2021-05-19 04:55] castalonirenz commented on #430
Is there any numberOfLines for this?

[2021-05-19 15:49] jsamr commented on #430
@castalonirenz See https://github.com/meliorence/react-native-render-html/issues/243#issuecomment-810114785

[2021-05-19 16:32] castalonirenz commented on #243
This is not working on <span> tags

[2021-05-19 16:45] castalonirenz commented on #430
This is not working with <span> but working fine on <p> tag.

[2021-05-19 17:23] castalonirenz commented on #243
![image](https://user-images.githubusercontent.com/13584669/118856622-bce68400-b909-11eb-9453-162d02a0c258.png)

On some of my <p> tags its working but as you can see on the image it doesn't work on the next item.

[2021-05-19 17:42] jsamr commented on #243
@castalonirenz If will only work for direct children of `<p>` tags, since your tampering with the children in the ParagraphRenderer. i understand that it is a bit complex to grasp, I'm currently working on the documentation website which will, I hope, help clear some blur.

**PS**: Your problem is yet a bit ill-defined, but I am available for counseling if you or your company is willing to hire me

[2021-05-25 16:38] pallaviMN opened #487 "Unable to install via NPM"
![image](https://user-images.githubusercontent.com/16952390/119535564-c490a780-bda5-11eb-8581-b874ba3ee121.png)

[2021-05-25 16:45] pallaviMN commented on #487
was able to install after removing package.json

[2021-05-25 18:20] jsamr commented on #487
@pallaviMN Probably a bug with npm on Windows. Closing now!

[2021-05-25 18:20] #487 closed

[2021-05-31 05:24] ThomasTeoSY opened #488 "Custom Font Family being implement is not working correctly in Android but is working fine in IOS"
const DEFAULT_PROPS = {
      classesStyles: {
        "category-type": {
          fontSize: 15,
          color: appGlobal.COLOR_42,
          letterSpacing: 2,
          lineHeight: 30,
          fontFamily: "ProximaNova-Semibold"
        },
        "discount-percentage": {
          fontSize: 18,
          color: appGlobal.COLOR_42,
          fontFamily: "Trirong-Italic",
        },
      },

[2021-05-31 13:42] jsamr commented on #488
Hi @ThomasTeoSY !
You are advised to follow [our guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug) to submit bug reports. Especially, we can't process reports which don't contain version information. If this issue happened in version 5.x, there is a good chance it has been fixed in the Foundry release, yet in alpha (see #430), which

[2021-06-02 04:09] ThomasTeoSY commented on #488
Hi @jsamr thank you so much the for quick response. The version I am using currently is 5.x as show in below.

"react-native-render-html": "^5.1.0",

[2021-06-02 10:12] jsamr commented on #488
@ThomasTeoSY It's hard to tell without a reproduction. How do you load those fonts?  Can you confirm you have been able to use this font on Android, without RNRH?

[2021-06-03 03:18] ThomasTeoSY commented on #488
Hi @jsamr , yes, I can confirm the font is being implemented correctly in android. In my first comment, the 2nd image I am showing is using normal <Text> component with style, without RNRH.

[2021-06-03 10:21] jsamr commented on #488
@ThomasTeoSY The only place in the v5 source space where `fontFamily` is referred to, is in this whitelist of supported styles for text blocks:
https://github.com/meliorence/react-native-render-html/blob/819e06e175b8fa664724bec9519bb50f2da33bec/src/HTMLUtils.js#L258

And for the `pre` tag, where `fontFamily| is forced to mono.

https://github.com/meliorence/react-native-render-html/blob/819e06e175

[2021-06-04 21:10] jsamr commented on #430
@nadav2051 Regarding the centering issue, there is unfortunately nothing I can do since `textAlign` will only target `Text` elements, and the marker box where the counter is printed is wrapped in a `View`... consider this a "React Native barrier".

[2021-06-04 21:20] #478 closed

[2021-06-04 21:29] #463 closed

[2021-06-08 01:16] #94 closed

[2021-06-08 01:16] #118 closed

[2021-06-08 01:16] #151 closed

[2021-06-08 01:16] #285 closed

[2021-06-08 01:16] #312 closed

[2021-06-08 01:16] #424 closed

[2021-06-08 01:16] #228 closed

[2021-06-08 01:16] #336 closed

[2021-06-08 01:16] #344 closed

[2021-06-08 01:16] #369 closed

[2021-06-08 01:16] #414 closed

[2021-06-08 01:16] #418 closed

[2021-06-08 01:16] #419 closed

[2021-06-08 01:16] #420 closed

[2021-06-08 01:16] #432 closed

[2021-06-08 01:16] #472 closed

[2021-06-08 01:28] jsamr commented on #482
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:28] #482 closed

[2021-06-08 01:28] jsamr commented on #484
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:28] #484 closed

[2021-06-08 01:28] jsamr commented on #481
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:28] #481 closed

[2021-06-08 01:29] jsamr commented on #286
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #286 closed

[2021-06-08 01:29] jsamr commented on #347
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #347 closed

[2021-06-08 01:29] jsamr commented on #243
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #243 closed

[2021-06-08 01:29] jsamr commented on #429
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #429 closed

[2021-06-08 01:29] jsamr commented on #227
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #227 closed

[2021-06-08 01:29] jsamr commented on #156
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #156 closed

[2021-06-08 01:29] jsamr commented on #150
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:29] #150 closed

[2021-06-08 01:30] jsamr commented on #144
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:30] #144 closed

[2021-06-08 01:30] jsamr commented on #263
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:30] #263 closed

[2021-06-08 01:30] jsamr commented on #428
Closing now since the stable beta which fixes this issue [has just been released](https://github.com/meliorence/react-native-render-html/releases/tag/v6.0.0-beta.0).

[2021-06-08 01:30] #428 closed

[2021-06-08 01:31] #485 closed

[2021-06-08 01:31] #462 closed

[2021-06-08 18:23] jsamr opened #489 "[6.x] 🚀 Announcing Foundry Beta Release"
## Check-out [**our blog announcement**](https://meliorence.github.io/react-native-render-html/blog/2021/06/07/foundry-announcement).

[![](https://meliorence.github.io/react-native-render-html/img/foundry-announcement.png)](https://meliorence.github.io/react-native-render-html/blog/2021/06/07/foundry-announcement)

## Comment in this thread if you face any issue.

[2021-06-08 18:27] jsamr commented on #430
Hi everyone! Good news, **The Beta is out!** [Check this ticket](https://github.com/meliorence/react-native-render-html/issues/489).
I'm closing this thread; and I want to say a big thanks to anyone participating in the alpha :heart:.

[2021-06-08 18:27] #430 closed

[2021-06-08 18:33] jsamr commented on #488
I am closing because a reproduction was not provided and I can't do much with the actual report. But I'm open to reopening if a reproduction is provided, thanks!

[2021-06-08 18:33] #488 closed

[2021-06-09 03:39] sogangCSmaster opened #490 "onLoadStart, onLoad, onLoadEnd support"
Hello.

Is there any method like onLoadStart, onLoad, onLoadEnd?

Thanks

[2021-06-09 09:34] jsamr commented on #490
@sogangCSmaster We have [`onHTMLLoaded`](https://meliorence.github.io/react-native-render-html/api/renderhtmlprops#onhtmlloaded). Can you be more specific? Are you talking about fetching for remote URI sources?

[2021-06-11 17:52] jsamr commented on #262
Since the foundry release (v6), every custom renderer can use `onPress` prop! [See this example](https://meliorence.github.io/react-native-render-html/docs/guides/custom-renderers#minimal-example).

[2021-06-15 03:36] sizhe-eb opened #492 "Ellipsis ending?"
Is there any way display on one line with an ellipsis ending?

[2021-06-15 10:28] jsamr commented on #492
Hi @sizhe-eb!

Please note that this kind of question if best suited for Stack Overflow or our Discord channel, but I'll give you an answer here ;-)

The short answer is *yes*, but it will depend on how you identify which element should have its text limited to one line. Is it a specific tag? Children of one tag? Elements identified by class names?

In this following link, you'll find an example w

[2021-06-17 13:45] jsamr commented on #492
@sizhe-eb Cool! I'm going to close now, best luck with your work.

[2021-06-17 13:45] #492 closed

[2021-06-18 07:22] rdtf1230 opened #493 "how can i render gif??"
When there is a base64 encoded gif in the html, it does not move on the screen and comes out statically. How can I make the gif output normally?

[2021-06-18 10:23] jsamr commented on #490
Closing due to inactivity

[2021-06-18 10:23] #490 closed

[2021-06-18 10:32] jsamr commented on #493
On Android, you need to activate GIF support explicitly: https://reactnative.dev/docs/image#gif-and-webp-support-on-android

[2021-06-18 10:32] #493 closed

[2021-06-20 11:02] tcagkansokmen opened #494 "Tagsstyle doesnt work"
I'm using like that;

[code]

But it doesnt work.
What's wrong with it?

I read all documentation and couldn see, how to assign css styles for html elements

[2021-06-20 11:17] jsamr commented on #494
@tcagkansokmen `tagsStyles`must be a record of objects, not arrays! Quoting from the docs:

See https://meliorence.github.io/react-native-render-html/api/renderhtmlprops#tagsstyles

The warning is also repeating in the **styles** guide; but perhaps the docs are missing something. If you find that you read something misleading, please tell me. I could also enforce the type a bit more strictly at ru

[2021-06-20 11:27] jsamr commented on #494
you can use |`StyleSheet.flatten`](https://reactnative.dev/docs/stylesheet#flatten) to work around the issue:
[code]

[2021-06-21 06:47] aprilmintacpineda opened #495 "`text-decoration` on `a` tags does not take effect"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-06-21 06:57] aprilmintacpineda commented on #495
Okay, I have tested all sorts of combinations and none of them worked.

[code]

RESULT: DID NOT WORK.

[code]

RESULT: DID NOT WORK.

Seems nothing works when it comes to `text-decoration`

[2021-06-21 06:59] aprilmintacpineda commented on #118
You guys managed to make `text-decoration` work? https://github.com/meliorence/react-native-render-html/issues/495 can't make it work on mine.

[2021-06-21 09:16] jsamr commented on #495
`text-decoration` is a shorthand CSS property for `text-decoration-line`, `text-decoration-color`, `text-decoration-style`. The longhand properties will work in V5. Generic shorthands properties support has landed on V6. So the easiest workaround is to use those longhands.

I won't implement a shorthand support in V5 but I'm open to PRs (make sure the PR is against dev/5.x).

[2021-06-21 19:22] jsamr commented on #494
Closing now, but feel free to comment if you still have questions.

[2021-06-21 19:22] #494 closed

[2021-06-22 03:01] aprilmintacpineda commented on #495
I tried `text-decoration-line: none;` but still did not work. I switched to `@next` instead.

[2021-06-22 11:14] jsamr commented on #495
@aprilmintacpineda You could also have tried `tagsStyles` and target `a` elements that way... anyway, going to close now since this "bug" is affecting an older version of this library.

[2021-06-22 11:14] #495 closed

[2021-06-22 21:36] mydesweb opened #496 "Invalid NSUnderlineStyle"
My HTML received from an external source contains many inline styles with invalid values. If I load the content as it is I see the following Error on iOS

![IMG_5043](https://user-images.githubusercontent.com/5901386/123002540-b2148880-d3ba-11eb-8452-1a064d55bbf1.PNG)

HTML content
`<p style="font-variant-ligatures: normal; font-variant-caps: normal; orphans: 2; text-align: start; widows: 2; -webk

[2021-06-22 22:35] jsamr commented on #496
@mydesweb V6 (`@next`) solves this issue (it has its own CSS processor which strictly validate native-translatable CSS properties); if you're not ready to [migrate](https://meliorence.github.io/react-native-render-html/docs/migration-guide), there is still the `ignoredStyles` prop at your disposal, where you can provide an array of CSS properties you wish to ignore.

Closing since similar issues h

[2021-06-22 22:35] #496 closed

[2021-06-23 05:50] tanoto-the-explorer commented on #149
Does anyone figure out this?

[2021-06-23 10:06] jaydips2020 commented on #369
Hey it's working thanks!

[2021-06-23 14:40] zjhiphop opened #497 "Support `background-image` CSS property"
### Bug Report

#### Setup
##### React Native

[code]

##### Libraries

- react-native-render-html: "^5.1.0",
- react-native-webview: "^11.6.4",

#### Devices

- Device 1
  * OS:
  * Diagnostic: reproduction
  * Environment: development

#### Reproduction

##### Description

1.  Build static html fragment with image background included
2. Use he HTML component to render this static html
3. Nothing

[2021-06-23 14:50] jsamr commented on #497
@zjhiphop Hi, and thanks for your report! Two important notes regarding your example:

1. `style` tag and cascading style sheets are not supported. Only inline styles and styles provided via `tagsStyles`, `classesStyles` ... etc are available. See https://meliorence.github.io/react-native-render-html/docs/guides/styling
2. `backgroundImage` is not a valid React Native style property. Although we c

[2021-06-25 01:11] fungmo opened #498 "Examples without complex cases, such as internal styles, inline styles cannot meet the needs"
![image](https://user-images.githubusercontent.com/16655229/123353981-4b979200-d595-11eb-9f7c-59b3660fca88.png)

[2021-06-25 08:21] fungmo opened #499 "I just want to render a local image, it seems it can’t"
![image](https://user-images.githubusercontent.com/16655229/123394006-3e989400-d5d1-11eb-931e-64418da703b4.png)

[2021-06-25 10:23] jsamr commented on #498
@fungmo Sorry, what is the feature request?

[2021-06-25 10:30] jsamr commented on #499
@fungmo Dear fungo, that will not work, because `src` attribute of img expects an URL (this is part of the HTML standard), and `require` doesn't return an URL (but rather a module identifier handled by metro). But you can use a [custom renderer](https://meliorence.github.io/react-native-render-html/docs/guides/custom-renderers#component-based-custom-rendering) for that purpose. Closing now since t

[2021-06-25 10:30] #499 closed

[2021-06-25 11:35] jsamr commented on #498
If you mean support the `<style>` tag, there is already a feature request open, see #381
Closing now. I suggest you [don't ignore our template and guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#tickets) and post your question on our Discord channel next time!

[2021-06-25 11:35] #498 closed

[2021-06-26 08:42] amansaxenalapa11 opened #500 "table scroll"
table scroll is not smooth if i scroll table horizontally then it stuck and not as smooth as in vertical slide

[2021-06-26 11:20] jsamr commented on #500
Hi @amansaxenalapa11! You need to follow [our guidelines](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug) if you want us to be able to help you. Our policies detail that issues missing templates (especially when no reproduction is provided) will be closed without notice, and thus I will have to close this one. But feel free to resubmit a new i

[2021-06-26 11:20] #500 closed

[2021-06-26 13:50] veenedu commented on #483
Any updates on this??

[2021-06-28 06:09] nangongmoyan opened #501 "Can it support both inline images and no inline images in the same html?"
I want to display the icon in the middle of the text, for example below:
![image](https://user-images.githubusercontent.com/48037565/123587911-8f9ac900-d819-11eb-9282-1c50b675cb0b.png)
my code:
[code]
my question: when i need inline images, i set my code:
[code]
but i set p lingHeight value, second images will cover prev text

[2021-06-28 08:09] ShivamJoker commented on #381
It would be awesome if we will be able to extract the styles, convert it to native and apply it automatically.

[2021-06-28 10:27] jsamr commented on #501
@nangongmoyan I understand the need here. This is currently a limitation of the Transient Render Engine (quoting the docs):

What will likely happen in a future major is support for `display: inline` and `display: block`. The content model will then be derived from this style which would address the feature you requested.

[2021-06-28 12:39] aneena-thomas opened #502 "Mark property not working"
not showing highlight on text

[2021-06-28 15:02] jsamr commented on #502
@aneena-thomas Just use `tagsStyles` to customize style:

[code]

[2021-06-28 15:02] #502 closed

[2021-07-02 03:45] narendra87 opened #504 "Crash on android if video url is not correct"
Steps for reproduce:

Put any incorrect video url in Html content and try to render it.
In my case incorrect url is  https://youtu.be/rP61K8-04K4?rel=0
below is the html content:
<iframe width=\"\" height=\"\" src=\"https://youtu.be/rP61K8-04K4?rel=0\" frameborder=\"0\" allowfullscreen title=\"VACCINE TALK\"></iframe>

Thanks

[2021-07-02 08:32] ClementDunstanSiaffu opened #505 "The component does not respond well on the <sup></sup> as well as <sub></sub>"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://git.io/JJcAl
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless
  we claim support for it),

[2021-07-02 12:17] jsamr commented on #505
@ClementDunstanSiaffu See https://stackoverflow.com/questions/68136402/balise-sup-is-displaying-like-sub-in-react-native-render-html-custom-rendere

[2021-07-02 12:17] #505 closed

[2021-07-02 12:21] jsamr commented on #504
Dear @narendra87
I'm closing because this issue does not follow [our contribution guidelines](https://github.com/archriss/react-native-render-html/blob/master/CONTRIBUTING.md). We are working on our free time and need a full reproduction to investigate. You are welcomed to post a new report in compliance with our guidelines.

[2021-07-02 12:21] #504 closed

[2021-07-06 14:47] jsamr commented on #152
The easiest approach I know of is indeed using a **FlatList** component. That way, only a subset of the render tree is rendered at a time. Thanks to `initialNumToRender`, the content will show up in a few milliseconds. You'll find a v6-compatible implementation here:

https://github.com/jsamr/rnrh-blog/blob/90c8f43878e33d671e873d258e89eff01eb96465/web/ArticleRenderer.tsx#L16

And you can [try out

[2021-07-06 14:47] #152 closed

[2021-07-08 12:25] jsamr commented on #501
I've just added this feature to our new Feature Requests Tracker (canny) : [Support "display: inline" and "display: block" for dynamic content models](https://native-html.canny.io/features/p/support-display-inline-and-display-block-for-dynamic-content-models). Closing now as feature requests should now-on be submitted in our canny.

[2021-07-08 12:25] #501 closed

[2021-07-08 12:30] jsamr commented on #497
I've just added this feature to our new Feature Requests Tracker (canny) : [Support background-image CSS property](https://native-html.canny.io/features/p/support-background-image-css-property). Closing now as feature requests should now-on be submitted in our canny.

[2021-07-08 12:30] #497 closed

[2021-07-08 12:36] jsamr commented on #486
This feature will not be implemented per se, here is why: CSS sheets will never be supported, because parsing requires creating a syntax tree, which requires a third party library and would most certainly add a lot of overhead. However, we might **provide a build tool**, at some point, to convert CSS stylesheet to react-native-render-html compatible code. This tool *might* eventually support **imp

[2021-07-08 12:36] #486 closed

[2021-07-08 13:11] jsamr commented on #437
CSS sheets will never be supported per se, because parsing requires creating a syntax tree, which requires a third party library and would most certainly add a lot of overhead.

However, I opened a feature request in our new Canny to convert CSS stylesheets to react-native-render-html compatible code. [You can upvote this feature here.](https://native-html.canny.io/features/p/a-build-tool-to-stati

[2021-07-08 13:11] #437 closed

[2021-07-08 13:13] jsamr commented on #381
Style elements will not be supported per se, because parsing requires creating a syntax tree, which requires a third party library and would most certainly add a lot of overhead.

However, I opened a feature request in our new Canny to convert CSS stylesheets to react-native-render-html compatible code. [You can upvote this feature here.](https://native-html.canny.io/features/p/a-build-tool-to-sta

[2021-07-08 13:13] #381 closed

[2021-07-08 13:24] jsamr commented on #439
We are now migrating feature requests to our new canny. Closing, but [you can track this feature here.](https://native-html.canny.io/features/p/support-script-tags).

[2021-07-08 13:24] #439 closed

[2021-07-08 13:30] jsamr commented on #137
We are now handling feature requests in our new Canny. Closing, but [you can track and upvote this feature here.](https://native-html.canny.io/features/p/video-plugin)

[2021-07-08 13:30] #137 closed

[2021-07-08 14:02] jsamr commented on #422
Feature won't be implemented as it has been proven very specific to the underlying HTML structure. Refer to the SO post for suggestions.

[2021-07-08 14:02] #422 closed

[2021-07-15 09:42] shameersn opened #506 "List item(OL/UL) text align center is not working as expected."
### Oath

I swear that I have completed these tasks before submitting:

- [X] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [X] I have read the documentation here: https://meliorence.github.io/react-native-render-html/
- [X] I have confirmed that this bug has not been reported yet

### Bug Report

- While applying text align center or right to `ol,ul or li` elements the actu

[2021-07-16 14:29] lyseiha commented on #506
+1

[2021-07-17 13:51] jsamr commented on #506
@shameersn The thing is, there are no pseudo elements in React Native. The markers are rendered inside `Views`. In the web, the `::marker` pseudo-element displaying list prefixes will honor `text-align: center`, so I will not attempt to implement a hacky workaround here. However, you should be able to have a similar outcome by aligning `ol` to center:

[code]
I tested on **v6** (see screenshot), n

[2021-07-17 15:07] shameersn commented on #506
@jsamr Thanks for the help and update.
But seems to now the content is missing. Please see the attachment.
![Simulator Screen Shot - iPhone 12 Pro Max - 2021-07-17 at 20 30 39](https://user-images.githubusercontent.com/10277908/126041140-c20e474e-3e5d-42c3-a533-01017d941460.png)

[2021-07-17 15:21] jsamr commented on #506
@jsamr Have you tested with v6?

[2021-07-17 15:41] shameersn commented on #506
Will test in v6, thanks

[2021-07-17 15:49] shameersn commented on #506
@jsamr Thanks for this wonderful library and the support 🙌.
Works perfectly in "react-native-render-html": "^6.0.0-beta.8".

[2021-07-17 15:49] #506 closed

[2021-07-17 16:04] jsamr commented on #506
@shameersn I'm glad that worked out for you! If you'd like to help us, [you could consider writing a review on Openbase :wink: ](https://openbase.com/js/react-native-render-html)

[2021-07-17 18:45] jsamr commented on #483
### I've reported the issue here: https://github.com/software-mansion/react-native-screens/issues/1015

Not much more I can do, hopefully it will be fixed upstream at some point.

### [In the meantime, you can check workarounds proposed in this StackOverflow post.](https://stackoverflow.com/a/63171413/2779871)

[2021-07-19 09:45] Thanhal-P-A opened #507 "TypeError: undefined is not an object (evaluating 'domelementtype_1.ElementType.Tag')]"
By just importing the package
 **import RenderHtml from 'react-native-render-html'**
it shows following error

**[Error: Requiring module "node_modules\react-native-render-html\src\index.ts", which threw an exception: TypeError: undefined is not an object (evaluating 'domelementtype_1.ElementType.Tag')]**

![MicrosoftTeams-image](https://user-images.githubusercontent.com/42827490/126138492-6aaa7d7

[2021-07-19 11:00] jsamr commented on #507
Hi @Thanhal-P-A! Please don't take this personally, but we require [issues to follow a set of guidelines to be accepted](https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug). Without any reproduction, we are unable to investigate your issue. Closing now, you're welcome to resubmit an issue following our template and including a reproduction. Thank

[2021-07-19 11:00] #507 closed

[2021-07-19 13:17] Ainias opened #508 "Update react-native to ^0.64.0 in peerDependencies"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://meliorence.github.io/react-native-render-html/
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (u

[2021-07-19 13:55] jsamr commented on #508
@Ainias Hey thank you for your report, good catch! That's probably due to how npm 7 works (I'm using 6.x locally); I'll fix that today.

[2021-07-19 18:34] jsamr commented on #508
@Ainias Thought I fixed in release 6.0.3. I added a CI step to avoid regressions, see https://github.com/meliorence/react-native-render-html/actions/runs/1046261556 but it failed again, investigation going on ...

[2021-07-19 19:04] jsamr commented on #508
@Ainias I think it's fixed in 6.0.4; could you try it out? CI still fails but it worked locally...

[2021-07-19 19:26] jsamr commented on #508
@Ainias Found out that it would fail with npm@7.7.6 but succeed with npm@7.20.0, because in the former, `*` in peerDependencies would be resolved __to the latest__ instead of __whichever__; which would conflict with `react-native` → `react` requirement. That was an npm bug!
See https://github.com/meliorence/react-native-render-html/runs/3107443720

Closing now, feel free to comment if you're still

[2021-07-19 19:26] #508 closed

[2021-07-19 21:03] SergiOnGit opened #509 "How to style list bullets in v6?"
### Oath

I swear that I have completed these tasks before submitting:

- [x] I have read the contribution guidelines here: https://git.io/JJ0Pg
- [x] I have read the documentation here: https://meliorence.github.io/react-native-render-html/
- [x] I have confirmed that this bug has not been reported yet

### Decision table

- [x] My issue does not look like “The HTML attribute 'xxx' is ignored” (u

[2021-07-19 21:59] jsamr commented on #509
@SergiOnGit Hi! It's true that the API has been totally reworked for list prefixes. You can now take advantage of `renderersProps.ul` like below:

[code]
`textMarkerStyle` refers to the textual component (even if it's using a `View`, it will adapt to `color`, `fontSize`... etc) while `textBoxStyle` refers to the container. Refrain from using any margins in the later, as that could break some featu

[2021-07-20 08:08] Stevemoretz commented on #286
setting textAlign: "left" on base style fixes other kind of problems with other tags e.g. span, ...

[2021-07-20 08:31] SergiOnGit commented on #509
It works. Thank you! Should be great if you improve docs with such examples.

[2021-07-20 08:31] #509 closed

[2021-07-20 11:52] jsamr commented on #286
@Stevemoretz would be very helpful if you shared an example of those issues ; perhaps on Discord?

[2021-07-20 11:53] jsamr commented on #509
Yes good point! Thanks.

[2021-07-31 11:47] shrenikTrukky opened #511 "You seem to update props of the "TRenderEngineProvider" component in short periods of time, causing costly tree rerenders"
I am getting this warning when I use react-native-render-html with Flatlist.

[2021-07-31 12:04] jsamr commented on #511
@shrenikTrukky This warning is triggered by this library, this is not a bug! It means your `RenderHTML` component updates too often; if you share a code snippet of your component I can help you out. It means that you pass inline literal props from a component which renders multiple times in short periods.

[2021-07-31 12:06] #489 closed

[2021-08-02 10:04] ArchanaUshaVijayan opened #512 "<b>dddd</b><div><b><br></b></div>😄 the above html content showing in 5 lines"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-02 14:45] jsamr commented on #512
@ArchanaUshaVijayan This look reasonable since `div` elements will always be displayed as block elements in React Native (which only supports "flex" btw). Note that you missed some critical information in your report (React Native Render HTML version), so I assumed you used the latest. Also, you didn't provide screenshots comparing Web vs RNRH so I'm only guessing. Don't want to appear rude, I'm r

[2021-08-02 14:45] #512 closed

[2021-08-03 05:07] ArchanaUshaVijayan commented on #512
@jsamr Sorry for the confusion and missing details in the question. Issue I am facing is in my html content I have <div><b></b></div>and a smiley. the div and b tag creating two empty line before smiley. How can I remove this empty line. Is there any way for that

[2021-08-03 18:01] jsamr commented on #512
@ArchanaUshaVijayan You might want to clean up the HTML via dom tampering, see https://meliorence.github.io/react-native-render-html/docs/guides/dom-tampering

[2021-08-05 14:14] Lucashfonseca123 commented on #134
@jsamr it's works for me! Thanks.

[2021-08-05 14:24] amoiseenko-sc commented on #483
This solution worked for me - https://github.com/react-native-webview/react-native-webview/issues/1161

You should hide WebView (or other heavy content) before navigate to another page

[2021-08-05 22:44] jsamr commented on #511
I'm closing due to inactivity

[2021-08-05 22:44] #511 closed

[2021-08-06 07:43] cjhines commented on #511
@jsamr I'm also getting this warning a lot with what seems like a pretty simple component. I would hugely appreciate some direction.

[code]

[2021-08-06 08:27] jsamr commented on #511
@cjhines Each time `WebText` re-renders, `tagsStyles` and `systemFonts` change, causing the transient render engine and transient render tree to be rebuilt from scratch. Because `WebText` is not memoized, each time the parent component re-renders this `WebText` also re-renders. You could try either : wrap `WebText` in `React.memo`, or extract `tagsStyles` and `systemFonts` outside of the function

[2021-08-06 19:26] parasharrajat opened #514 "Inline `<a>` tag taking full horizontal width on Web."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-07 00:11] jsamr commented on #514
@parasharrajat Interesting case; react-native-web seems to set `align-items` to `stretch` which causes the spanning. If we force it to `flex-start`, the intended behavior is reinstated. You are right about the alluded change in behavior :
https://github.com/meliorence/react-native-render-html/blob/02aa624f0af1d685cced5c8144c557f2d3cbff85/packages/render-html/src/TPhrasingRenderer.ts#L36-L42

This

[2021-08-07 11:57] parasharrajat commented on #514
Thanks @jsamr , I will try that.

[2021-08-07 19:17] parasharrajat commented on #514
This seems to work fine. Please let me know if you have plans to fix this issue in the core library. I can track this issue and upgrade the lib as soon as it's done.

[2021-08-07 20:46] jsamr commented on #514
@parasharrajat Sure, I'll let you know!

[2021-08-09 16:22] cjhines commented on #511
@jsamr Thank you for your response. I've managed to avoid these warning nows.

For those that are curious, the component now looks like this:

(Note the React.memo export)

[code]

[2021-08-12 20:15] parasharrajat commented on #514
Another side-effect of that change. Check out the first `Inline code block` behaving like a code block.

![Screen Shot 2021-08-13 at 01 43 47](https://user-images.githubusercontent.com/24370807/129263401-bdb051af-d497-4ab5-9d8b-151165d2e483.png)

[2021-08-13 20:53] jsamr commented on #514
@parasharrajat  is that an effect of `alignItems` or of the removal of the wrapper?

[2021-08-13 21:04] parasharrajat commented on #514
I think Removal of the wrapper. Inside flex-container inline node is behaving block. I added `Text` inside the `TDefaultRenderer` which fixed it.

[2021-08-15 21:17] jsamr commented on #514
@parasharrajat If you're willing to provide a reproduction for this second issue, I'd be happy to investigate.

As per your first issue, I think a better solution would be to only target the `body` tag:

See https://snack.expo.dev/@jsamr/rnrh-web-bug

[2021-08-16 07:25] neneji opened #515 "Anonymous tag text color"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-16 07:40] #515 closed

[2021-08-16 10:33] jsamr commented on #515
@neneji You need to provide an HTML snippet in your reproduction, otherwise we are unable to ... reproduce!

[2021-08-17 06:31] varungupta85 opened #516 "The line breaks are rendered with too much vertical space"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-17 23:59] Slapbox commented on #509
@jsamr thanks for your hard work on this project!

Is there a plan for a way to pass a custom character so we can use a dash (- or —) as our list marker for both `<ul />` _and_ `<ol />`?

We've ported a lot of our changes over to 6.x today, but my heart sank a bit when I saw there's nothing we can do to replicate, or even emulate, the styles we were using in 5.x. I love the changes overall; a lot

[2021-08-18 00:11] Slapbox commented on #484
@jsamr are there some docs we should look at for what gets passed to `RenderHTMLConfigProvider`, if anything? [The commit notes](https://github.com/meliorence/react-native-render-html/commit/7d50e72bb3dcf585e96bd80d475f9c9170be427b) mention to see the TypeScript defs for `TRenderEngineProvider`.

I found the same for the `RenderHTMLConfigProvider` [here](https://github.com/meliorence/react-native-

[2021-08-18 00:12] Slapbox commented on #489
@jsamr are there some docs we should look at for what gets passed to RenderHTMLConfigProvider, if anything? The commit notes mention to see the TypeScript defs for TRenderEngineProvider.

I found the same for the RenderHTMLConfigProvider here - but I'm wondering if this is somewhere in the docs already or if it's not added yet?

Thanks again for your great work on RNRH!

[2021-08-18 10:30] jsamr commented on #489
@Slapbox Hi! Thanks for the feedback. Props for `RenderHTMLConfigProvider`:  https://meliorence.github.io/react-native-render-html/api/renderhtmlconfig
For `TRenderEngineProvider`: https://meliorence.github.io/react-native-render-html/api/trenderengineconfig
[There is a quick guide in the docs](https://meliorence.github.io/react-native-render-html/docs/flow/rendering).

[2021-08-18 10:37] jsamr commented on #509
@Slapbox You already can, see https://meliorence.github.io/react-native-render-html/docs/content/lists#defining-and-customizing-markers-pseudo-elements You'll need to create [a cyclic counter renderer](https://github.com/jsamr/react-native-li/blob/master/packages/counter-style/docs/counter-style.counterstylestatic.md) with one character.

[2021-08-18 10:41] jsamr commented on #516
@varungupta85 Thank you for your detailed report! I'll take a look as soon as I can.

[2021-08-18 21:47] parasharrajat commented on #514
@jsamr Here you go https://snack.expo.dev/@parasaharrajat/rnrh-web-bug.

There is another issue that I am facing. https://github.com/Expensify/App/issues/4733

[2021-08-18 22:12] parasharrajat commented on #514
For now, I suggest that you revert those changes as it causing a lot of issues and then carefully migrate. I would like to keep the latest v6 due to stability and some good feature.

[2021-08-19 08:45] jsamr commented on #514
@parasharrajat I am probably going to provide a 6.0.6-beta.0 **with a prop to disable this behavior** so that you can quickly provide a "fix", and after that take some time to investigate further the implications of that change. I can't revert the behavior without introducing a breaking change and potentially disrupting many consumers. I must stress that many bugs exist with nested text in React N

[2021-08-19 09:23] parasharrajat commented on #514
Thanks for prompt action @jsamr. It sounds great. I will look into the codebase to understand it and try to put up a PR to disable this behaviour behind the flag. Could you please link me to the PR where you made this change or the commit? It would help me quickly get familiar with the main area.

[2021-08-19 10:17] jsamr commented on #514
Here it is: https://github.com/meliorence/react-native-render-html/commit/dad450db8d79c85ba8ab4a8d585d889d033d2234
If you have any "lively" question, ping me in our Discord!

PS: a better name for the prop: `preserveAnonymousTPhrasingNodes` and a description:
[code]

[2021-08-22 12:58] jsamr commented on #516
@varungupta85 I found out the issue. The current implementation doesn't follow [that part of the spec](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-br-element) (emphasis mine):

My understanding is that would mean those line breaks must not be printed. I'll work on a fix.

[2021-08-22 14:38] jsamr commented on #516
## Findings

Ignore my previous comment regarding the HTML standard. The issue stems from how React Native renders an empty `Text` element inside a `View` :

[code]
![image](https://user-images.githubusercontent.com/3646758/130357044-db16f329-4554-4e7d-81b3-3d9fbae4c40f.png)

Instead of an zero-height line.

Similarly,

[code]
![image](https://user-images.githubusercontent.com/3646758/130357085-22

[2021-08-22 14:50] jsamr commented on #514
@parasharrajat Not sure what is the expected behavior _versus_ what is observed? I can't find anything surprising in this snippet (Web), what did I miss?

![image](https://user-images.githubusercontent.com/3646758/130359551-59e7e650-d746-4a30-8623-074c0c7f63e3.png)

[2021-08-22 18:15] claudiozam commented on #516
Thanks @jsamr !!!

[2021-08-22 20:04] parasharrajat commented on #514
Previously, the second code block used to wrap same as first code block where border and background also wrap with text. It used to behave inline but now it is block. Text is wrapping but border and background is surrounding whole text and its not breaking on each line.

[2021-08-22 20:10] jsamr commented on #516
I believe this is actually a bug in React Native, I've reported it here: https://github.com/facebook/react-native/issues/32062
What I will do is provide a prop to implement the "inferred rules" that I described in the previous post for those who want to circumvent this bug. It's going to be opt-in to prevent the introduction of breaking changes.

[2021-08-22 20:16] jsamr commented on #514
@parasharrajat Got you, I tried your example with alpha-20:
![image](https://user-images.githubusercontent.com/3646758/130368847-da100543-a486-4a9d-8b93-923835efa274.png)

[2021-08-22 20:21] #514 closed

[2021-08-22 20:26] jsamr commented on #514
@parasharrajat You can now set `bypassAnonymousTPhrasingNodes` prop to `false` in version 6.1.0-alpha.0; hope that will help!

[2021-08-22 21:55] parasharrajat commented on #514
Thanks, I will take a look.

[2021-08-24 03:49] 1280103995 opened #517 "On iOS, the underline color of <a> is different from the text"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-24 06:31] thame commented on #517
This can be modified on iOS by setting `textDecorationColor` to the desired color.

[2021-08-24 14:04] varungupta85 commented on #516
@jsamr Thanks a lot for the workaround.

[2021-08-25 02:13] 1280103995 commented on #517
Perfect

[2021-08-25 02:13] #517 closed

[2021-08-28 12:03] sbin1211 opened #518 "anchor color don't Not inherit"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-08-28 12:28] jsamr commented on #518
@sbin1211 That is normal behavior. On a browser, this is equivalent to setting
[code]
Since anchors have a more specific rule, including in browsers, it will override the less specific root (or `baseStyle` in RNRH) rule. Use the `tagsStyles` prop to circumvent this:

[code]
or set `enableUserAgentStyles` prop to `false` to disable **all** default tags styles.

[2021-08-28 12:31] jsamr commented on #511
@cjhines It means what it means! Your component renders too often which is ruining performances. I'll add a FAQ entry on this one.

[2021-08-28 16:12] jsamr commented on #511
I have posted a detailed explanation on StackOverflow: https://stackoverflow.com/q/68966120/2779871. Locking the discussion now; if you need help, post a comment on Discord or StackOverflow!

[2021-08-28 16:20] jsamr commented on #511
@cjhines I would need a fully reproducible example to help you out, ideally in the form of an expo snack. See https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug

[2021-08-28 19:13] #518 closed

[2021-08-28 22:16] #516 closed

[2021-08-28 22:22] jsamr commented on #516
I still need to do manual tests but you can already try two new props which should fix the issue **in version 6.1.0-alpha.1**:

- `enableExperimentalGhostLinesPrevention`
- `enableExperimentalBRCollapsing`

**You must set those props to true for the fix to apply.** I didn't want to introduce a behavioral change in a minor release, since that would break semver contract. So those are "opt-in" fixes

[2021-08-29 20:45] jsamr commented on #516
The fix has been tested and validated. To be clear, the issue identified in the aforementioned React Native bug was not the reason for **this** specific bug. It was this library which didn't honor the HTML spec. [I added a section in the docs which covers those two text-related issues](https://meliorence.github.io/react-native-render-html/docs/content/textual#caveats).

To sum things up, `enableEx

[2021-09-01 17:58] rabiaah commented on #343
Facing issue related to the RTL.
Who can provide RTL css example?

The textAlign is ok, but the paragraph is not for example the Dot starting the paragraph instead of ending it.

[2021-09-01 18:58] jsamr commented on #343
@rabiaah  If you referring to lists, see https://meliorence.github.io/react-native-render-html/docs/content/lists#experimental-rtl-mode; please ask for anything else in our Discord channel! Thanks.

[2021-09-01 19:07] rabiaah commented on #343
Not really related to the lists, I have 2 issues in the attached screenshot:

1. English string should start the paragraph not ending it.
2. The Dot should end the paragraph not to starting it.

![image](https://user-images.githubusercontent.com/21026029/131729401-d2c165bc-9928-4956-8121-43dc4ca24594.jpeg)

[2021-09-01 19:15] jsamr commented on #343
@rabiaah Probably due to RTL not being enabled in your app with `I18nManager.forceRTL`, see https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps. I'm locking this conversation, don't hesitate to continue the discussion on Discord :-)

[2021-09-06 13:33] jaideepYes commented on #94
@jsamr Hello Jules, `textProps ` are not working for me in a custom renderer.
I am trying to work with following demo where `textProps={{...textProps, numberOfLines: 2}}` have no effect on `TDefaultRenderer `

[code]
Although if i provide `numberOfLines` in  `defaultTextProps` it works. But it's useless in my case. I need to use it inside custom renderer only for  certain tag, not for whole html d

[2021-09-06 16:12] jsamr commented on #94
@jaideepYes  It doesn't apply to TBlock renderers, which `p` renderer is. You might want to try
[code]

[2021-09-07 12:38] jaideepYes commented on #94
@jsamr Thank you for your time to reply. Yes, above method works for me.
I am aware that above html snippet is converted to below Transient Render Tree.

[code]
and i was supplying `textProps` to `TBlock` renderers.
But i was expecting that library passes `textProps` down the hierarchy by itself to all its children of `type === "text"`.
similarly the way `defaultTextProps ` are applied to all text

[2021-09-08 15:11] whenmoon opened #521 "React Native Web: SyntaxError: Missing initializer in const declaration"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-09-08 20:09] jsamr commented on #521
@whenmoon  Looks like the bug comes from `@jsamr/react-native-li`; I'll take a look!

[2021-09-08 20:15] jsamr commented on #521
I took a look at the package tarball, extract it and inspected.

[code]

There is no file named `MarkedList.tsx`. If you want me to help you, you need to provide a reproduction so that I can assess which part of your tooling isn't working as expected, or if I can do anything to enhance integration. **Can't you setup a simple Next.js project with RNRH and provide a MRE?**

[2021-09-08 22:14] whenmoon commented on #521
Hi @jsamr thanks for your quick response! I had a quick late night attempt at creating a reproducible example, and whilst I didn't manage to reproduce the exact bug, the build still failed for another reason. This should build by itself:

https://stackblitz.com/edit/github-5xwcny?file=pages/index.js

I wonder if both of these errors are related? I will continue to try and reproduce the exact bug a

[2021-09-09 19:47] jsamr commented on #521
@whenmoon The next config misses the `__DEV__` environment which is part of the official React Native JS runtimes. You need to inject a global variable. With Webpack, it's pretty easy thanks to the DefinePlugin. See for example

https://github.com/Expensify/App/blob/f8c6120269c66097180d3ebf9152f64f9417c74e/config/webpack/webpack.dev.js#L34-L37

In Next.js, you [can customize the webpack config](ht

[2021-09-15 08:07] hrdyjan1 commented on #393
Thank you for the temporary solution, still not sure how is it possible, that `opacity` style will fix the issue 🤷

[2021-09-20 11:11] mineminemine opened #522 "Unordered List not nesting properly"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-09-20 11:15] mineminemine commented on #522
[code]

Now that I look at it again, having the ol and ul the other way around would also give unwanted result.
https://snack.expo.dev/qDwgiy5Ti

[2021-09-21 09:03] jsamr commented on #522
@mineminemine Did you try to validate your HTML snippet [against W3C validator](https://validator.w3.org/nu/#textarea) such as recommended in our guidelines? The test fails because you can only have `li` as children of `ul` and `ol`:

![image](https://user-images.githubusercontent.com/3646758/134143063-6aa1a866-f2f5-4f4f-a683-d94b0174a5e9.png)

[2021-09-21 09:13] jsamr commented on #522
@mineminemine Since it is non-compliant, the parser library (htmlparser2) attempts a fix by wrapping `ol` with `li` element!

[2021-09-21 09:21] mineminemine commented on #522
@jsamr Oh my god, truly sorry for this. This just goes to show that I've been doing nested list wrongly all these years.. I'll just close this issue since mistake was on my end. Sorry and thank you for your time.

[2021-09-21 09:21] #522 closed

[2021-09-21 09:24] jsamr commented on #522
@mineminemine no worries, we all make mistakes :-) Browsers are kind of unhelpful to learn those things because of their laxness...

[2021-09-24 10:59] bipin-sakariya opened #523 "Text in not highlighted when copying in iOS"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-09-24 16:01] jsamr commented on #521
I'm closing due to inactivity, feel free to reopen if you have updates!

[2021-09-24 16:01] #521 closed

[2021-09-24 16:06] jsamr commented on #523
@bipin-sakariya Hi, and thanks for your submission and your efforts!

A few remarks:

- Your version is outdated (it's actually an alpha!) ; also note that v5.x is unmaintained. If you want to migrate to v6, see the official guide here: https://meliorence.github.io/react-native-render-html/docs/migration-guide
- You are attempting to tamper with the source, that's not something for which we can pr

[2021-09-24 16:06] #523 closed

[2021-09-24 16:08] jsamr commented on #76
I am closing because this issue has to be fixed upstream.

[2021-09-24 16:08] #76 closed

[2021-09-24 16:09] jsamr commented on #483
I am closing because this issue has to be fixed upstream and workarounds have been provided.

[2021-09-24 16:09] #483 closed

[2021-09-28 17:32] Brouilles opened #524 "enableExperimentalPercentWidth on Windows don't conserve the image ratio"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-09-29 10:01] dog5tar commented on #149
`text-decoration` is a shorthand CSS property for `text-decoration-line`, `text-decoration-color`, `text-decoration-style`. The longhand properties will work in V5. Generic shorthands properties support has landed on V6. So the easiest workaround is to use those longhands. [Source](https://github.com/meliorence/react-native-render-html/issues/495#issuecomment-864874385)

[2021-10-01 19:23] ppatel31 opened #525 "not render HTML like &mdash; &nbsp; etc..."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-10-02 11:04] jsamr commented on #525
Hi @ppatel31, and thank you for your submission. Unfortunately, you didn't provide mandatory fields with useful information and there is not much I can do from the little information you gave. Are you expecting to see HTML entities (`&mdash` ...etc) rendered in their UTF-8 equivalent? Or you'd like **not** to render these entities in their UTF-8 equivalent? This is not obvious from your title. Ent

[2021-10-02 11:04] #525 closed

[2021-10-06 06:10] hanzoow commented on #525
hi @jsamr , i have content HTML like this: <div>d wq d</div><div>qw</div><div>&nbsp;d</div><div>wq d</div><div>q&nbsp;</div><div>d</div>

I want break line as html like. when i use htmlParserOptions={{ decodeEntities: false }}  prop, it show &nbsp; in UI but i dont want it to be shown. Otherwise, if i use decodeEntities: true, app crash with message is: Cannot read properties of undefined (reading

[2021-10-06 13:17] jsamr commented on #525
@hanzoow please fill a bug report with a full reproduction and I'll be happy to help you out :-)

[2021-10-10 02:44] Bruce-Ming commented on #404
Yes, this is the problem with react native Image components, react native FastImage is fine and I found that this library renders images using Image, so how do I replace Image with FastImage. i just saw some examples of custom renderers, but I didn't find how to replace

[2021-10-10 09:11] jsamr commented on #404
@Bruce-Ming https://meliorence.github.io/react-native-render-html/docs/content/images#by-reusing-internal-building-blocks ; just replace `IMGElementContentSuccess` with your FastImage-based component.

[2021-10-10 09:24] Bruce-Ming commented on #404
Yes, I understand, but how do you go about replacing it? Can you be more specific, please?

[2021-10-10 09:25] Bruce-Ming commented on #404
Yes, I understand, but how do you go about replacing it? Can you be more specific, please?

[2021-10-13 16:56] jsamr opened #526 "🚀 Announcing version 6.2"
See the official announcement:

https://meliorence.github.io/react-native-render-html/blog/2021/10/23/6-2-updates

Comment in this thread if you encounter issues while migrating to this release.

[2021-10-13 22:17] amirbayat opened #527 "fontFamily not working on heading element"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-10-14 10:59] #527 closed, assigned to nobody

[2021-10-17 08:29] KevalGajjar-1 opened #528 "Error: Please provide the html or uri prop, not also working with your example code"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-10-18 18:27] swengle opened #529 "Renderer does not support strike and underline (<s> and <u>) at the same time"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-10-19 00:17] federicoeventifica commented on #522
Hello, I'm facing the same problem, and after reading this thread I found out that the issue is the malformed html and not the react-native-render-html.

Do you know any library or function that transforms an html with this format:
[code]

to this (the right way):
[code]

Thank you,
Federico

[2021-10-19 10:23] jsamr commented on #528
I doubt that changing the name of the import would be responsible for having this warning disappear. The warning likely happens when `item.content.rendered` is the empty string, and I think that should be fixed.

[2021-10-19 10:26] jsamr commented on #522
@federicoeventifica If you want to do this transformation front-wise, you could use DOM tempering features available in this library, see this documentation page: https://meliorence.github.io/react-native-render-html/docs/guides/dom-tampering

[2021-10-19 10:33] jsamr commented on #529
@swengle Thanks for your submission! Indeed there is an `"underline line-through"` value available in React Native `textDecorationLine` style property so a solution is technically possible. That will have to be handled in the `@native-html/css-processor` library. I am busy right now with the 6.2 release, but I will address this at some point.

[2021-10-24 12:24] fatihkayan20 opened #530 "Twitter embed is now working."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-10-25 11:01] #530 closed, assigned to nobody

[2021-11-02 02:01] abramovks opened #531 "<font> tag is not rendered"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-02 10:03] jsamr commented on #531
@abramovks Hi @abramovks! I am going to close because this issue is a duplicate of #405.

`<font>` is an HTML4, deprecated tag. See #405 for a detailed explanation and a solution.

[2021-11-02 10:03] #531 closed

[2021-11-03 09:35] amansaxenalapa11 opened #532 "how to render mathjax at some point by using custom rendering"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-03 10:10] jsamr commented on #532
@amansaxenalapa11 Hi, and thanks for this report! Unfortunately, the issue tracker is no fit for assistance. Please post to Stackoverflow or our Discord for help. A few notes though:

- You are using `domVisitors` with version 5 of this library, which does not support this prop.
- You are not using `onElement` as expected. Check for examples in the official website (search for "dom tampering").
-

[2021-11-03 10:10] #532 closed

[2021-11-03 13:33] AnuDharmarajan opened #533 "provideEmbeddedHeaders not working in <img> tag"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-03 13:39] jsamr commented on #533
Hi @AnuDharmarajan, and thanks for your contribution! You didn't explain how you came up to the conclusion that the headers were not passed? Do you have access to the server logs? I'll be happy to help when you provide additional information. Thanks!

[2021-11-03 13:49] AnuDharmarajan commented on #533
@jsamr Thank you for your quick replay.  I don't have access in the server. The image is in the share point and we are passing the share point token for Authorization.

[2021-11-03 13:54] jsamr commented on #533
@AnuDharmarajan Did you manage authentication successfully by other means, with postman or other HTTP utilities, so that you can assert this library is faulty? The `provideEmbeddedHeaders` prop is unit-tested, I have doubts the issue is with this library:

https://github.com/meliorence/react-native-render-html/blob/4c63e9962d225e0bf7f1db745cf9f683f9671690/packages/render-html/src/__tests__/compone

[2021-11-03 14:05] jsamr commented on #533
@AnuDharmarajan Can you log in the console from the first line of your `provideEmbeddedHttpHeaders` and test if this log is  being called, and if it is, with which arguments? In the snippet you provided, the HTML string is not valid HTML.

[2021-11-03 14:57] AnuDharmarajan commented on #533
The console is called when there is a <img> . I have given a sample HTML in the snippet because I am not able to provide the correct URL in the public platform.

[2021-11-03 15:39] jsamr commented on #533
@AnuDharmarajan I am reviewing the code; will let you know.

[2021-11-03 16:05] AnuDharmarajan commented on #533
@jsamr Thank you.

[2021-11-03 17:12] #533 closed

[2021-11-03 17:13] jsamr commented on #533
@AnuDharmarajan Should be fixed in v6.3.0, let me know!

[2021-11-03 17:14] #526 closed

[2021-11-03 17:15] jsamr opened #534 ":rocket: Announcing version 6.3"
Just released version 6.3; it is a small release with only one new feature. You can now have access to `TNodeChildrenRenderer` directly as a prop from custom renderers! Let me know if you encounter any issue while migrating.

[2021-11-05 23:45] Flam3rboy opened #535 "Expo discovery example app not working"
When I open the[RNRH discovery app](https://expo.dev/@jsamr/react-native-render-html-discovery) from expo
It fails to open it without any error message except this:
![image](https://user-images.githubusercontent.com/34555296/140589744-868ae382-83e4-425f-b6fe-d5088b02b298.jpeg)

I'm running iOS 15.1 with expo version 2.22.2

[2021-11-06 13:08] jsamr commented on #535
Hi @Flam3rboy and thank you for this report! This is because of Apple very restrictive and honestly infuriating policies, see https://forums.expo.dev/t/unable-to-share-my-public-project-with-others-on-ios/31192/3

The only solution would be one of either:

- Publish the app in the AppStore;
- Replace the app with a snack.

The later would be cumbersome to maintain. I'm currently working on the for

[2021-11-08 13:03] amansaxenalapa11 opened #536 "i want to render mathjax whenever a "div" comes with class "mathjax""
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-08 13:25] jsamr commented on #536
Hi @amansaxenalapa11, and thanks for your report! The issue tracker is meant for bug reports, not assistance. For assistance, post to StackOverflow or to our Discord such as suggested [in our help guide](https://github.com/meliorence/react-native-render-html/blob/master/HELP.adoc). Thank you!

[2021-11-08 13:25] #536 closed

[2021-11-11 09:08] chenweigh opened #537 "incomplete text"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-11 10:24] jsamr commented on #537
Hi @chenweigh! Since you are forcing the height of the container, and there is yet content to draw, React Native layout engine (Yoga) will attempt to pack as much content in the available space, that is totally expected.

[2021-11-11 10:24] #537 closed

[2021-11-12 07:01] chenweigh commented on #537
But, Android is normal. except ios

[2021-11-13 19:10] VitaliyGaliy opened #538 "The "input" tag is a valid HTML element but is not handled by this library."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-14 23:38] jsamr commented on #538
@VitaliyGaliy Thanks for the report! The default content model for input is "none", because interactive elements are not handled by default. You need to provide [an element model with block content model](https://meliorence.github.io/react-native-render-html/docs/guides/custom-renderers#model-based-custom-rendering); I agree this could be documented in the FAQ!

[2021-11-16 10:50] #538 closed

[2021-11-22 07:43] rezaarifian commented on #248
how to fix it? expected result is `<h1>` is title text

[2021-11-24 12:46] faisal-vf opened #539 "Bold tag not rendering correctly"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-25 11:16] jsamr commented on #539
@faisal-vf thank you so much for this fair report! That will be fixed soon.

[2021-11-25 11:22] #539 closed

[2021-11-25 11:48] jsamr commented on #524
@Brouilles Thanks again for your report and sorry for my late response! I could reproduce the issue with this minimal example (this is actually *minimal*, just one tag to render):

[code]

The aspect ratio is back to normal when we either:

- remove the `height` attribute on the `img` tag
- remove `width: '100%'` style
- remove `enableExperimentalPercentWidth: true`

I am going to implement regres

[2021-11-25 14:13] jsamr commented on #524
@Brouilles I tested the minimal example that I had created in a web browser, and actually I found this library behavior being very close. This HTML:

[code]
Renders in a 400x600 Firefox windows with no body margins like this:

![Capture d’écran 2021-11-25 à 10 56 27](https://user-images.githubusercontent.com/3646758/143454352-439acac0-623a-43dd-b6e9-c79d2d137456.png)

If we remove `object-fit: cov

[2021-11-25 14:14] expertcoder6 commented on #527
WORKED!!!!

[2021-11-29 10:20] tigerjiang opened #540 "How to set a preload img before iframe show"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-11-29 13:20] jsamr commented on #540
@tigerjiang Thanks for your feedback. Please note that this tracker is not suited to ask for help, but I will give you a hint on how to achieve what you're looking for. [`onHTMLLoaded` as documented](https://meliorence.github.io/react-native-render-html/api/renderhtmlsourceprops#onhtmlloaded) fires when HTML is ready to render in the `RenderHTML` component. It has nothing to do with the iframe ren

[2021-11-29 13:20] #540 closed

[2021-12-02 07:21] arunim2405 commented on #511
@jsamr I have two types of messages with different tagstyles in a chat app, is there a correct way to solve this warning where two types of tagstyles are used on the same level?

[2021-12-02 12:06] expertcoder6 commented on #223
For me:

`fontWeight: Platform.OS == "android" ? "normal" : null
`

Worked!!!

[2021-12-03 01:14] Slapbox opened #541 "Warning references outdated "ignoredTags""
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2021-12-03 10:25] #541 closed

[2021-12-03 10:25] jsamr commented on #541
@Slapbox thanks!

[2021-12-06 16:33] jsamr commented on #527
For anyone stumbling on this, check out the FAQ entry: https://meliorence.github.io/react-native-render-html/docs/faq#custom-font-families-dont-work-whats-happening

[2021-12-06 16:35] jsamr commented on #488
For anyone stumbling on this, you should not use postscript fonts, rather use XML fonts and refer to the font name by font family, e.g. `Tirong`. See https://stackoverflow.com/a/70247374/2779871

[2021-12-31 12:48] isekaimaou1109 opened #542 "using inline css is okay but when specify class for element then it's not work as i expected"
[code]

Above is sample code but i change from inline css to style tag html but it's not work as well. So thanks in advanced for your reply.

this image is i used style tag html in head html
![image](https://user-images.githubusercontent.com/49366277/147824044-09a383d1-9a05-4634-952d-41d0151d90cd.png)

And this image is i used inline css
![image](https://user-images.githubusercontent.com/49366277/

[2022-01-08 16:21] jsamr commented on #542
The `<style>` tag is not yet supported. See also https://github.com/meliorence/react-native-render-html/issues/437#issuecomment-876426813
You are welcome to open a feature request in our canny. https://native-html.canny.io/features

[2022-01-08 16:21] #542 closed

[2022-01-11 17:51] ap-shahar opened #543 "Fix for ReDoS vulnerability issue found in ramda@0.27.1"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-render-html@6.3.0` for the project I'm working on.

We're trying to upgrade to the latest version of this package for a while now and were blocked by a volubility issue found on the package ramda@0.27.1 which is used by this package. Today this packag

[2022-01-11 18:34] #543 closed

[2022-01-11 18:37] jsamr commented on #543
Thank you! fixed in v6.3.2

[2022-01-17 19:16] opatricpires commented on #211
I'm validating my prop before render the component

`{fullText && (
              <RenderHtml
                source={{ html: fullText || '' }}
                contentWidth={100}
                enableExperimentalMarginCollapsing={true}
                baseStyle={{
                  color: '#15181E',
                  textAlign: 'justify',
                  fontSize: '16px',
                  line

[2022-01-18 09:34] apabuatapa opened #544 "why in iOS can't selectable text just only copy"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-01-18 17:15] jsamr commented on #544
Hi @apabuatapa, and thank you for your report! Unfortunately, some important information is missing from your ticket and thus this is not actionable for us. Feel free to resubmit a ticket with all required information, thank you!

[2022-01-18 17:15] #544 closed

[2022-01-19 15:30] tcsmobilitydelhi opened #545 "Page loads without CSS/style"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-01-19 17:02] jsamr commented on #545
Hi @tcsmobilitydelhi! Thanks for taking time to submit a report. The `<style>` and `<link>` tags are not supported at the moment. It would require embedding a CSS parser and CSS engine. Given the complexity and overhead, this would be best implemented in C++ with a JSI interface, and some preliminary research is being done in that direction. To have an idea of the kind of required work, I suggest

[2022-01-19 17:02] #545 closed

[2022-01-20 04:29] tcsmobilitydelhi commented on #545
Thanks @jsamr .

I see this feature has already been requested. Looking forward to it.

[2022-01-20 18:18] dkjeune opened #546 "Link on Android not work"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-01-20 21:33] jsamr commented on #546
Thank you @dkjeune for taking time to fill this report. Unfortunately, the report doesn't provide the least minimal reproduction, not even the HTML that would produce the issue you are reporting. I am going to close the issue now as this is not actionable for us, but if a viable reproduction is to be provided, I will reopen.

[2022-01-22 20:43] jsamr commented on #529
After reading more about what CSS3 specification (https://www.w3.org/TR/css-text-decor-3/#line-decoration), I realize that this specific CSS property does not follow the traditional inheritance scheme, where a close rule would override a distant rule, but instead relies on some sort of merging mechanism that propagates to the CSS box tree, while sometimes aborting, such as when hitting an out-of-f

[2022-01-24 11:20] eithe commented on #546
Not that it helps, but I'm getting reports of the same (perhaps only some Android devices?), and I was finally able to reproduce it on a Pixel 2 API 30 emulator running Android 11.

I didn't have time to debug this further, but I have a common component that renders html in the app (that uses react-native-render-html) so what I did as a workaround was just to handle onPress manually like so:

[cod

[2022-01-24 12:35] jsamr commented on #546
@eithe Would you mind providing the HTML code, React Native version and RNRH version that triggered this undesired behavior? I tried with the same emulator configuration as you did, and the link press worked (React Native 0.64). My code snippet looked like this:

[code]

[2022-01-24 12:54] eithe commented on #546
Good point, @jsamr. I must admit I was running RNRH 6.1.0, but I upgraded to 6.3.3 now. RN 0.65.1.

This does not work:
![test](https://user-images.githubusercontent.com/204129/150785725-6a6a1786-a6d3-4f2f-ac25-7fef70a1588b.png)
This does:
![test2](https://user-images.githubusercontent.com/204129/150786062-6c31769d-74af-4ee2-88c9-727c563b620b.png)

I get that this is quite hard for you to debug, i

[2022-01-24 13:06] jsamr commented on #546
Thanks @eithe for providing this additional information. I managed to reproduce the issue by upgrading from RN 0.64 to RN 0.67 on my "sandbox" project that I use for testing! Now I can investigate...

[2022-01-24 13:14] jsamr commented on #546
I found the issue. Check the implementation of the default onAPress:

https://github.com/meliorence/react-native-render-html/blob/073d4db2f2ddab63bdd036045f68e1cd781a8d2d/packages/render-html/src/context/defaultRendererProps.ts#L4-L8

For a reason yet to determine, `await Linking.canOpenURL(href)` ceased returning `true` for HTTP(S) URIs on Android. This is obviously a bug on React Native side, bu

[2022-01-24 13:21] eithe commented on #546
Nice find, @jsamr! Thanks for investigating and thanks again for your efforts on this project, greatly appreciated.

[2022-01-24 13:39] jsamr commented on #546
I've opened a ticket on React Native issue tracker https://github.com/facebook/react-native/issues/32960

[2022-01-24 13:59] #546 closed

[2022-01-24 14:00] jsamr commented on #546
Fix has been released https://github.com/meliorence/react-native-render-html/releases/tag/v6.3.4

[2022-01-24 14:16] jsamr commented on #546
@eithe Thanks for the sponsor and kind feedback, it always lifts one's spirit!

[2022-01-26 16:45] mu-zzi commented on #511
@jsamr Thanks for the explanation. Unfortunately, none of them is working for me. I'm always getting the warning when rotating the simulator screen on iOS.  I found out that it is because of the useWindowDimensions-hook. When I specify a fixed value for the width, the warning is gone.

[2022-01-26 19:11] noumantahir commented on #202
@jsamr  Apparently I am facing this issue on RN 0.60+ and Android API 31, rendering with textAlign:'justify' not working as expected.. it works with regular `Text` component but not working with RenderHtml package... I did double check if prop is actually being passed to right tag as well.

<img width="983" alt="Screenshot 2022-01-27 at 12 06 24 AM" src="https://user-images.githubusercontent.com/6

[2022-01-26 20:50] jsamr commented on #202
@noumantahir I suggest that you provide a full reproduction in a separate ticket, with the exact HTML snippet, library version and React Native version, and I will be happy to investigate and test on my machine! https://github.com/meliorence/react-native-render-html/issues/new/choose

[2022-01-27 07:28] noumantahir commented on #202
@jsamr apologies for inconvenience, I dug more deep today, apparently if we set `selectable` prop to `true`, the `textAlign:'justify'` stops working. That makes it an issue with react-native and not with render-html.

[code]

[2022-01-27 11:35] jsamr commented on #202
@noumantahir No worries! It is yet another layout bug in React involving `Text`... that is worth mentioning in the FAQ page.

[2022-01-28 17:12] jsamr commented on #511
@mu-zzi At that point, I propose that you try creating a minimal reproduction, and if the reproduction has the same behavior, share it here (or in a new ticket) so that I can investigate the problem! See here for guidance: https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc#submitting-a-bug

[2022-01-29 10:12] jotilohana opened #547 "Select tag is not supported"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-01-29 18:22] jsamr commented on #547
@jotilohana Thank you for your submission! This is a bit hidden in the docs, but interactive elements are not supported _by default_, which is suggested by the feedback you reported.
![image](https://user-images.githubusercontent.com/3646758/151672753-c3e9f8dc-0663-4fc4-a787-dd0578deafcd.png)
(see https://meliorence.github.io/react-native-render-html/docs/flow/transient-render-engine#translation)

[2022-01-29 18:22] #547 closed

[2022-01-31 13:24] mu-zzi commented on #511
Just to let you know, I fully refactored my code and now the warning is gone. No need for any ticket. Thanks for that :-)

[2022-02-01 12:50] Raynier98 opened #548 "react native render-html video display"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-01 13:35] jsamr commented on #548
@Raynier98 This library doesn't support JavaScript execution, which your youtube player likely requires. Think of it as a noscript static web page renderer. However, you could use a [custom rendering techniques](https://meliorence.github.io/react-native-render-html/docs/guides/custom-renderers) to customize how some tags should be rendered, and use [a third party library](https://www.npmjs.com/pac

[2022-02-01 13:35] #548 closed

[2022-02-01 19:11] cristianoccazinsp opened #549 "Migration to v6 issues - Images with relative width"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-03 05:58] apabuatapa opened #550 "can't selectable highlight in IOS"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-07 13:18] Navipro70 commented on #488
@jsamr
Maybe not related to this issue, but tag <i><i/> set font-style: 'italic' to text, but to make font italic on android correctly, we should use font-family: 'FONT-NAME-ITALIC' for android

[2022-02-07 14:54] #550 closed

[2022-02-08 00:32] apabuatapa commented on #550
what missing reproduction ?? I don't know??

[2022-02-08 07:37] jsamr commented on #550
Dear @apabuatapa, we have a process to handle bug reports, in which reports with missing critical information can be closed without notice. I suggest you read our contribution guide to get familiar with what we mean by "reproduction", see https://github.com/meliorence/react-native-render-html/blob/master/CONTRIBUTING.adoc

I will be very happy to  reopen, help and investigate when the required inf

[2022-02-10 07:09] yash1307raj opened #551 "No border showing"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-17 05:14] GaryOoi opened #552 "Images in Android and IOS are different"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-17 06:55] jsamr commented on #552
@GaryOoi can you confirm the exact version used in your project? You should always submit issues with the latest released version:

[code]
[code]

[2022-02-17 08:01] GaryOoi commented on #552
I have updated my version. The exact version used is react-native-render-html@6.1.0

[2022-02-17 09:18] jsamr commented on #552
@GaryOoi OK; I'll try to reproduce when I manage to find a time window; not to be expected too soon, unfortunately!

[2022-02-19 02:26] putuoka opened #553 "Android TypeError Cannot read property 'html' of undefined"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-02-20 09:12] jsamr commented on #553
Hi @putuoka and thank you for your contribution! Your code snippet is unfortunately not in a reproducible state, and my availability to investigate issues this month is very limited. To help me help you, would you mind sharing an expo snack which reproduces the issue you encountered? That would vastly enhance the odds this issue is tackled soon.

[2022-03-04 20:36] #553 closed

[2022-03-04 21:35] jsamr commented on #551
I think that would be best describe as a "support border attribute" feature request! I've added the request here: https://native-html.canny.io/features/p/support-table-border-attribute

[2022-03-04 21:35] #551 closed

[2022-03-04 21:43] jsamr commented on #552
@GaryOoi After looking at the HTML snippet, I realize you're very likely to be hitting the fresco bug referred in our FAQ: https://meliorence.github.io/react-native-render-html/docs/faq#long-image-cannot-show-in-full-screen-on-android

Closing as there is nothing actionable for us. You could try to register a custom image renderer based on `react-native-fast-image` for example, and see how it work

[2022-03-04 21:43] #552 closed

[2022-03-04 22:06] jsamr commented on #549
@cristianoccazinsp There is clearly an issue here, where `width: 100%` is interpreted as "100% of the viewport". Before it gets fixed, I suggest you use this custom image renderer:

[code]

[2022-03-05 05:46] GaryOoi commented on #552
@jsamr Can you invite me to the discord server? Because I cannot view anything from the link (It shows me blank page). Thanks.

[2022-03-05 09:11] jsamr commented on #552
@GaryOoi I forgot to mention that a public invite is available in the README! Here you go: https://discord.gg/dbEMMJM

[2022-03-16 11:34] hanhtv204 opened #556 "elementModel.isTranslatableTextual is not a function."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-03-16 11:38] jsamr commented on #556
@hanhtv204 Are you using Typescript or JavaScript? If you are using TS, isn't this code snippet causing a type error?
To render iframes, use this plugin: https://github.com/native-html/plugins/tree/master/packages/iframe-plugin#readme

[2022-03-16 11:45] hanhtv204 commented on #556
I use Javascript @jsamr

[2022-03-16 12:12] jsamr commented on #556
@hanhtv204 All right; to use `customHTMLElementModels`, you should take inspiration from this guide: https://meliorence.github.io/react-native-render-html/docs/guides/custom-renderers#example-registering-a-new-tag
I am going to close now; if you need to render iframes, just use the plugin I mentioned.

[2022-03-16 12:12] #556 closed

[2022-03-21 13:14] lucaszdev opened #557 "Links inside the Html is not opening"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-03-26 22:44] jsamr commented on #557
Duplicate of
- https://github.com/meliorence/react-native-render-html/issues/546

Was fixed in release 6.3.4. https://github.com/meliorence/react-native-render-html/releases/tag/v6.3.4

[2022-03-26 22:44] #557 closed

[2022-04-04 13:48] RadkevichDenis opened #558 "Bug when using accessibility features"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-04-13 14:30] qlereboursBS opened #559 "Can't hide an element with a given class"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-04-14 05:33] hungvu193 commented on #223
I can confirm that, this worked for me

[2022-04-28 19:37] Girum opened #560 "[DOUBT] tag <a> can get a Callback?"
Hi! I tested to send a <a>tag with a link. With renders ok and open the browser when I click that. But, I when I used a DeepLink to open, even if it's ok, I need to fire another functions in the code (in the same time i click the link). There's any way to do that? To when I click the hyperlink, call another functions?

[2022-04-29 11:20] jsamr commented on #560
@Girum Yes! See https://meliorence.github.io/react-native-render-html/docs/faq#how-to-intercept-press-events-on-links

[2022-04-29 11:20] #560 closed

[2022-04-29 18:03] Girum commented on #560
Thanks! Helped a lot!

[2022-05-01 00:14] FengWei-Plasmatic opened #561 "Text with multiple formatting does not render space"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-01 12:29] jsamr commented on #561
@FengWei-Plasmatic Good call; thanks for your great report. Will take a look.

[2022-05-05 17:33] eVoloshchak opened #562 "React keys warning when using dangerouslyDisableWhitespaceCollapsing"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-06 13:01] ansmlc commented on #523
I have the same issue.

Added  `defaultTextProps={{selectable:true}}` but that only enabled copying of the entire text, and no way to select text.

**To reproduce:**
Use `react-native-render-html` on iOS.

[2022-05-13 21:59] iphonic commented on #546
How do you access `this.state` inside onPress?

[code]

[2022-05-14 10:37] florinrelea commented on #109
[code]

[2022-05-16 09:32] iphonic commented on #109
Is there any way to access this.state or this.props inside the  `renderersProps` definition?

[2022-05-16 10:56] florinrelea commented on #109
I did not try that but this should work:
[code]

[2022-05-17 16:07] #562 closed

[2022-05-17 17:09] mahadevsempire commented on #47
Image is not showing, the `htmlAttribs.src `is undefined and the `passProps.key` is also undefined

![simulator_screenshot_E522409C-3970-4606-85A9-B5AF5461C0F5](https://user-images.githubusercontent.com/99904173/168871026-68da2595-09da-41ab-bdc5-4f3327482299.png)
<img width="1098" alt="Screenshot 2022-05-17 at 22 38 04" src="https://user-images.githubusercontent.com/99904173/168871116-2aefc4d2-319

[2022-05-18 07:58] Bruce-Ming opened #564 "textDecorationColor and textDecorationLine on a tags does not take effect"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-18 10:10] jsamr commented on #564
@Bruce-Ming It does work as expected on iOS in the reproduction you provided (I just changed the colors to make it more salient):
![image](https://user-images.githubusercontent.com/3646758/169015134-dfd8a8b9-1a26-4622-ae1a-d1ffa8a487be.png)

Also note that `textDecorationColor` is an iOS-only prop, see https://reactnative.dev/docs/text-style-props#textdecorationcolor-ios

[2022-05-18 10:14] jsamr commented on #564
So, I don't think this is a bug, and I'm going to close the issue. But if you provide additional information on how you asserted that this is a bug, I'll eventually reopen.

[2022-05-18 10:14] #564 closed

[2022-05-27 07:19] Bruce-Ming opened #565 "can not customize an image loading animation？"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-28 04:55] shivanitp opened #566 "The "colgroup" tag is a valid HTML element but is not handled by this library."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-28 14:02] jsamr commented on #566
@shivanitp Thanks for taking your time to fill this! Unfortunately, the "reproduction" you provided doesn't relate to the reported issue. Bug reports which don't include reproductions have a significantly lower chance of being addressed, and might be closed without author notice.

[2022-05-31 12:44] chiraggmodi opened #567 "Not able to render embedded twitter or instagram posts"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-05-31 13:04] jsamr commented on #567
@chiraggmodi This library is not a Web engine and does not support JavaScript execution, see [introduction document to help you decide whether you should use this library or not](https://meliorence.github.io/react-native-render-html/docs/intro).

[2022-05-31 13:04] #567 closed

[2022-06-02 13:54] Nehal-Sanklecha commented on #567
@chiraggmodi  Did you find any solution? I'm also facing this issue.
I'm using "react-native-render-html" because web-view loads the URL very slow.

[2022-06-09 15:20] IamDhana opened #568 "How to avoid HTML font scaling based on system fonts?"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-06-09 16:23] #568 closed

[2022-06-10 08:28] fukemy opened #569 "does "contentWidth" not working when set contentWidth = width* 0.6"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-06-10 08:39] fukemy commented on #569
im. sorry, it's my fault, i need to set parent container width

[2022-06-10 08:39] #569 closed

[2022-06-13 21:46] kkkasio commented on #569
can you show a solution? just add a width on the parent element?

[2022-06-14 01:51] fukemy commented on #569
I just set maxWidth to parentview

[2022-06-14 09:27] echagnas opened #570 "allowFontScaling not working on <li> tag."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-06-15 12:53] got2golfxx commented on #561
I had the same issue.  The spaces are being collapsed on span, I, b.  Solved by using tag styles and adding whitespace: 'pre" to bold, italics and span.  Not optimal but it worked.

[2022-06-28 09:44] KingJS226 opened #571 "Failed prop type: invalid prop `color` supplied to `text`: "windowtext""
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-03 19:23] DaliaElhefny opened #572 "testID override issue"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-render-html@6.3.4` for the project I'm working on.

I need the HTML rendered to have testID so that it can b used in automation testing
My problem was that when I pass testID through defaultTextProps prop, it gets overridden with the tagName

Here is

[2022-07-04 07:23] thanhnvpk01168 opened #573 "How to use formIO in react-native-render-html"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-04 09:49] jsamr commented on #572
@DaliaElhefny Appreciate the proposition! Are you willing to offer a PR? I'd approve it quickly.

[2022-07-07 10:42] jsamr commented on #572
@DaliaElhefny You don't need to, just fork this repository, create a branch with the fix, and then [visit the PR page on Github](https://github.com/meliorence/react-native-render-html/pulls), you should be able to create a PR out of your forked repository branch.

[2022-07-07 11:03] DaliaElhefny commented on #572
@jsamr here is the PR https://github.com/meliorence/react-native-render-html/pull/574

[2022-07-07 12:16] #572 closed

[2022-07-13 18:41] ashwanihundwani1986 commented on #522
How to change the bullet icon
![Simulator Screen Shot - iPhone 13 - 2022-07-13 at 21 44 48](https://user-images.githubusercontent.com/105865354/178807394-025d5585-4a21-4921-9178-d48bef9b25ae.png)
 but keep the content same as with new CustomRenderer(V6) we do not get the React DOM in CustomRendererProps the way we used to get it (V5).

[2022-07-13 19:17] ashwanihundwani1986 opened #575 "Cannot customize ol or ul item bullet icons."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-14 06:46] CDBridger commented on #568
did you find a solutino to this? @IamDhana

[2022-07-14 20:26] jsamr commented on #575
@ashwanihundwani1986 see https://meliorence.github.io/react-native-render-html/api/renderhtmlprops#customliststylespecs

[2022-07-17 22:49] CDBridger commented on #550
Here is a reproducible example https://snack.expo.dev/0_Ifj62U-

Run this snack on iOS and try and highlight only a subset of the text and you'll find you cant. There have been multiple issues raised on this but no updates recently (in the past year). Is this bug fixable or is dependent on some existing bug in react native?

[2022-07-21 15:59] idanlevi1 opened #576 "Can't replace some tags to react-native element or just use svg"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-24 08:39] idanlevi1 commented on #576
My solution:
[code]

and added style:
[code]

[2022-07-24 08:39] #576 closed

[2022-07-26 10:16] DaliaElhefny commented on #572
@jsamr when will be the next release?

[2022-07-27 08:52] namnguyen211 opened #577 "How can I get all <img/> tag inner html?"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-27 10:13] Nulll-cyber commented on #566
i have same issue how .

[2022-07-27 13:08] jamninetyfive opened #578 "When I use customRender To replace a to div it doesn's work, or wrap a tag."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-07-28 02:59] namnguyen211 commented on #577
i found solution.

[2022-07-28 02:59] #577 closed

[2022-08-09 11:28] kimho commented on #551
I solved the problem using the trick below.

[code]

[code]

[2022-08-11 11:04] #578 closed

[2022-08-11 11:42] jonsherrard commented on #223
For anyone else coming from google, I found setting `fontWeight: undefined` worked for me.

[2022-08-15 18:01] mohameddiopcodes opened #579 "typescript compiler error because of ramda on version 6.3.4"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-08-16 10:30] jsamr commented on #579
@mohameddiopcodes you need to provide as much info as possible for us to help. At a very minimum, explain how you came up to the conclusion Ramda typings were faulty, and show the TS messages. I'm very bandwidth limited, and won't investigate issues unless they are easy to reproduce with a git/snack reproduction. Having no idea of the Typescript version used or the package manager makes it impossi

[2022-08-21 22:34] CDBridger opened #580 "Infinite re-rendering using provided custom rendering code from docs"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-08-21 22:52] CDBridger commented on #580
I believe this is a patch that fixes the issue for me. I'll have to do further testing

[code]

[2022-08-21 23:15] CDBridger commented on #580
Ok this new patch seems to have done the trick.

[code]

I guess it's because even though the dimensions were the same, object equality wasn't, causing a rerender to trigger somewhere. Same with the error

[2022-08-22 11:09] jsamr commented on #580
@CDBridger Thanks for the thorough investigation, I'll try to provide a fix soon

[2022-08-22 19:46] Lastofthefirst opened #581 "Italic and bold fonts not working for their corresponding tags on android"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-08-23 12:52] jsamr commented on #581
The good way to handle fonts [is laid out in the FAQ](https://meliorence.github.io/react-native-render-html/docs/faq#custom-font-families-dont-work-whats-happening), and requires defining XML fonts so that all variants of the same typeface are registered under the same font identifier (e.g.: "Inter" instead of "Inter_Bold", "Inter_Normal" ...etc).

Unfortunately, [Expo doesn't allow this](https://

[2022-08-23 12:52] #581 closed

[2022-08-24 10:40] codal-mpawar commented on #570
@jsamr @echagnas @laurynas @krystofcelba @fauzie811 any update on this facing same issue.
Steps:
1. setting -> display -> fonts change the font style
2. open then app style will change and same as device.

[2022-08-24 10:43] jsamr commented on #570
@codal-mpawar I don't have time to explore and fix this right now but I'll review PRs.

[2022-08-24 10:55] codal-mpawar commented on #570
@jsamr Can you please look into and as soon as possible fixes.
Thanks for fast response.

[2022-09-02 23:24] winrid opened #582 "border-radius broken in 6.x for images"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-09-07 06:29] ims7inc opened #583 "Upgrade Ramda 0.27.2 > 0.28.0. This is causing security issue in app analysis"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-09-07 10:54] jsamr commented on #583
@ims7inc PRs welcome, I don't have time immediatly to commit to this project, but I'll do it eventually. Note that the other lib using ramda is https://github.com/native-html/core

[2022-09-10 17:38] Gregoirevda opened #584 "reactNativeProps not passed to text component"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-09-16 06:42] DeepakSharma04 commented on #516
Hi @jsamr , I am facing this issue please help...!!
                      <ScrollView horizontal={true}>
                                <SafeAreaView>
                                  <RenderHtml
                                    contentWidth={width}
                                    source={{ html: item.body }}
                                    enableExperimentalMarginCollapsing={true}

[2022-09-16 06:51] DeepakSharma04 opened #585 "Hi @jsamr , I am facing this issue please help...!! First html content is good if I used this library -> react-native-htmlview"
Hi @jsamr , I am facing this issue in IOS APP please help...!! First html content is good if I used this library ->  react-native-htmlview

                               <HTMLView
                                value={item.body.replace(/\n/g, '')}
                                gesMaxWidth={Dimensions.get('window').width}
                              />

But if I used this -> react-native-rend

[2022-09-16 10:01] jsamr commented on #585
To be able to reproduce, I would need the HTML code you are trying to render.

[2022-09-16 10:07] DeepakSharma04 commented on #585
const item.body = `
<div>asd</div>
<div><br></div>
<div>asda</div>
<div>as</div>
<div><br></div>
<div>asda</div>
<div><br></div>
<div>asd</div>
<div><br></div>
`;

[2022-09-16 10:14] DeepakSharma04 commented on #585
`<div>asd</div>
<div><br></div>
<div>asda</div>
<div>as</div>
<div><br></div>
<div>asda</div>
<div><br></div>
<div>asd</div>
<div><br></div>`

[2022-09-16 10:37] #585 closed

[2022-09-18 23:04] liquidvisual commented on #218
I just ran into this, but on Android. I stumbled across a fix by supplying the font weight as a string, which then allowed the specified font to display. This was my setup:

[code]
[code]

[2022-09-19 10:47] jsamr commented on #218
@liquidvisual This is not a bug, you're just not registering fonts in Android in a way React can handle modifiers (boldness, italic) properly. [The real 'fix' is covered in the FAQ](https://meliorence.github.io/react-native-render-html/docs/faq#custom-font-families-dont-work-whats-happening).

[2022-09-19 11:12] liquidvisual commented on #218
I didn't say it was a bug, this is what worked in my particular case.

[2022-09-19 11:32] jsamr commented on #218
Well, you edited your post to remove the "bug" wording 🤷🏻 in the code comment.

[2022-09-21 07:20] liquidvisual commented on #158
Sorry to bother, but how does this feature work? I can't seem to find it in the docs.
Going off that PR, does it only apply for custom renderers? Eg, adding `allowFontScaling={false}` to custom components or can I apply it to all?

[2022-10-01 19:55] Aiosa commented on #47
I believe the API has changed, it is more 'modern' to pass objects instead of argument list to functions, it gives the freedom of 'named arguments'

[2022-10-01 20:01] Aiosa commented on #365
The api is different for a renderer callback, it receives an object so if you need the image URI, the path is `attribs.tnode.init.domNode.attribs` if attribs is the first argument.

[2022-10-02 12:25] jsamr commented on #365
@Aiosa Simpler: `props.tnode.attributes`

[2022-10-07 02:32] Slapbox opened #587 "Possible HTML escaping-type issue?"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-10-07 02:42] Slapbox commented on #564
Thanks for pointing this out!

[2022-10-07 10:22] jsamr commented on #587
@Slapbox It looks very much like this is a specific and annoying React Native bug: https://github.com/facebook/react-native/issues/31826 If this issue does not happen on Web/iOS, it would reinforce this hypothesis. Without reproduction I can't confirm though.

[2022-10-09 14:07] #587 closed

[2022-10-09 19:55] Slapbox commented on #587
Hmm.. Weird bug! Thanks for your reply @jsamr.

My initial impression was that this is the issue, but now I'm not so sure. Unfortunately the element inspector won't respond when I click on the block of text that demonstrates the problem.

I'm currently trying to test this on iOS but need to wait on most of an hour of dependency installs/building.

[2022-10-09 21:19] Slapbox commented on #587
Confirmed; not present on iOS, so I assume it's the issue you linked. Thanks again @jsamr for your great work and support!

[2022-10-11 20:19] Slapbox opened #588 "No suitable image URL loader found for about:///blank"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-10-11 21:07] Slapbox commented on #588
Seems to occur when the provided `source.html` previously contained a base64 encoded image, and then is updated to not contain any image tags.

Working on what will hopefully be a successful repro now.

[2022-10-11 21:18] jsamr commented on #588
@Slapbox thanks for raising this! Hard to investigate without a reproduction, though. You mind sharing an HTML snippet you're trying to render?

[2022-10-11 22:04] Slapbox commented on #588
Totally understandable! Despite my best efforts since I opened the issue, so far, nothing. Thanks very much for your reply @jsamr!

**An example HTML string would be like below - but the string alone can't cause the error to occur:**

[code]

**Maybe you can give me some idea how I might trigger it based on the workflow in our actual app. It's basically:**

1. The source is loaded on the initial r

[2022-10-11 22:11] Slapbox commented on #588
I just realized I have access to native crash logs. While they may not be of any use, here's one:

<details>
<summary>Crash log</summary>
[code]
</details>

[2022-10-11 23:40] Slapbox commented on #588
I'm tentatively concluding that this is not an issue with `react-native-render-html`, but that the error thrown by `react-native-render-html` preceded and masked what I believe to be the true underlying issue:

![image](https://user-images.githubusercontent.com/6835891/195217806-c6e8e07c-fa26-4f89-aee3-9ffc29ae07e0.png)

I'll close until/unless I find new evidence to the contrary. Thanks again @js

[2022-10-13 12:29] marco2216 commented on #393
The current equivalent to this solution is as follows (optionally check if is android when applying this):
[code]

[2022-10-13 12:54] Nasseratic commented on #393
@marco2216  Thanks man that worked!

[2022-10-14 23:56] BrianWendt opened #589 "Issue when used with expo build:web"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-10-17 09:30] DeepakSharma04 commented on #354
[code]
Above ignoredStyles is not working , I am not able to remove height and width and not get full size image also side view is broken. Please help ..!!

    "react-native-render-html": "^6.3.4",

[2022-10-18 23:46] jsamr commented on #243
@oferRounds see https://stackoverflow.com/a/69200348

[2022-10-19 22:46] BrianWendt commented on #589
I switched to react-native-htmlview which had it's own issues but was at least patchable.

[2022-10-20 12:32] jsamr commented on #589
We don't officially support react-native-web, but happy to provide a fix. @BrianWendt can you provide more context on the patch that worked out for this other library?

[2022-10-20 22:26] oferRounds commented on #243
Hi @jsamr, thank you! Will you be able to give an example? Not quite sure based on the example
(Our html tree contains multiple tag elements, and I don’t to limit it per tag, but limit the line number in general)

[2022-10-20 23:53] Slapbox commented on #522
I don't understand if this is still an issue? Is the extra bullet caused by the custom renderer? Because we don't see that with the default renderers with identically nested HTML lists.

[2022-10-26 00:42] PlexLuth0r commented on #589
I'm having the same issue

[2022-10-27 06:49] miaosen-fms commented on #589
I'm having the same issue

[code]

[2022-10-28 23:59] sadiefp commented on #245
Not sure if this will help anyone, but I was able to get the tweet's url from within a custom blockquote renderer:
`tnode?.children[1]?.children[0]?.children[1]?.attributes?.href`

[2022-11-01 23:16] rikinshah23 opened #592 "Numbered list and text not aligning when rendering"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-01 23:36] jsamr commented on #592
@rikinshah23 please provide a reproducible example; this example relies on unknown props.

[2022-11-05 09:44] wandersage opened #593 "Images display on the own line instead of be mixed with the text"
Hi @jsamr ,
I faced with the same issue on `"react-native-render-html": "^6.3.4"` .
every image displays on the next line.
I tried to use this snippet but images doesn't display at all.
[code]

Please advice me what should I add to fix this behaviour. Thanks.

expected result: images and text alternate in the same line.
actual result:
![photo_2022-11-01 15 32 09](https://user-images.githubusercont

[2022-11-06 20:13] robertolaru commented on #589
Can confirm, my project too has the same exact error, using react-native-web (on Expo bare workflow).

Besides, the error only shows up when building using `expo export:web`. Running in dev mode (with `expo start --web`) works fine.

As a temporary fix, I've managed to build successfully using `expo-cli` (version 5.4.12) instead of `expo`:
1. Install the cli globally: `npm install -g expo-cli@5.4.

[2022-11-07 10:42] VivekTechP opened #594 "The "meta" tag is a valid HTML element but is not handled by this library. You must extend the default HTMLElementModel for this tag with "customHTMLElementModels" prop and make sure its content model is not set to "none". If you don't want this tag to be rendered, add it to "ignoredDomTags" prop array."
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-08 17:14] robertolaru commented on #589
@etiennelacoursiere Before downgrading `expo-cli` I first uninstalled the existing global package (both from yarn and from npm). Then I ran `expo-cli -v` to make sure it was the expected version.
I've also noticed that the fix doesn't work anymore if there is a custom Webpack config file (`webpack.config.js` in my case). I noticed this after adding one to use the `webpack-bundle-analyzer` plugin.

[2022-11-08 17:18] jsamr commented on #589
I believe this is related to how presets are bundled, with sub-packages:
https://github.com/meliorence/react-native-render-html/blob/a1c674891048e0dbf612299decad681d56258be9/packages/render-html/src/elements/defaultListStyleSpecs.ts#L2-L8

See this script: https://github.com/jsamr/react-native-li/blob/859a03d8eb590fe2dbedb755a419cd3ab725d93b/packages/counter-style/scripts/generatePresets.js#L1-L61

[2022-11-08 20:12] etiennelacoursiere commented on #589
As a workaround, downgrading `@expo/webpack-config` from `0.17.2` to `0.16.2` did it for us. Not sure what changed in the config that could cause this problem. Will keep an eye on this!

[2022-11-10 14:21] beepsoft commented on #589
My workaround is to create a `HtmlView.web.tsx` and `HtmlView.ios.tsx` where the web.tsx uses

[code]

to render the HTML in the browser, while the `.ios.tsx` uses

[code]

and in my original code I use instead of `RenderHtml` my `HtmlView`, which maps either of the two above based on whether it is used/built for web or native.

[2022-11-10 14:35] beepsoft commented on #589
Yes, it is not ideal at all, I would like to have a proper fix too. In my case I just want to display really minimal HTML and the above hack suffice.

[2022-11-11 05:54] gs-alranjan opened #595 "App is crashing when heading tags are used"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-11 07:01] beepsoft opened #596 "Discovery App doesn't work with newer Expo Go supporting SDK 45, 46, 47"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-11 10:37] jsamr commented on #595
Looks like a mismatch in domutils version; make sure the version range required by `@native-html/transient-render-tree` (^2.8.0) matches the resolved version in your project.

[2022-11-11 18:50] MicahDavid opened #597 "class issue while migrating"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-11 19:16] MicahDavid commented on #597
I removed node_modules directory and reinstalled packages, and everything works fine now.  Somewhere in the process of upgrading things broke.

[2022-11-11 21:20] #597 closed

[2022-11-14 11:40] gs-alranjan commented on #595
Since `@native-html/transient-render-tree` is deprecated , "@native-html/transient-render-engine" "11.2.3" is auto-resolved.

[2022-11-14 11:43] jsamr commented on #595
@gs-alranjan You're correct, I meant `@native-html/transient-render-engine`.

[2022-11-14 11:47] gs-alranjan commented on #595
@jsamr still, headings are causing issues to be rendered. Any alternate solution?

[2022-11-14 11:53] jsamr commented on #595
@gs-alranjan

This still holds true. Depending on your package manager, you can see which version(s) of a peculiar package are installed. `yarn why domutils` or `npm why domutils`. Happy to reopen if this really turns out to be a bug, but currently it does seem like a packager issue.

[2022-11-14 11:53] #595 closed

[2022-11-16 16:46] MicahDavid opened #598 "Migrating to v6 - absolute positioning not working"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-16 17:15] jsamr commented on #598
@MicahDavid can't guarantee it will fix it but `classesStyles` does not expects `StyleSheet.create` styles, but rather a plain object.

[2022-11-16 19:00] MicahDavid commented on #598
@jsamr Thanks for the suggestion. I did try this, but I had the same result adding the style object inline.

The StyleSheet.create did work previously in v5.  I used this approach, because I import the stylesheet in multiple components. But, I suppose, i could just create an object variable to import in multiple places.

[2022-11-18 16:22] Ellathet opened #599 "[🐞] Image is not rendering white on iOS"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-21 12:48] Ellathet commented on #599
We managed to fix this [issue](https://github.com/facebook/react-native/issues/29215#issuecomment-816117625)

[2022-11-21 12:48] #599 closed

[2022-11-21 21:43] dvijeniii05 opened #600 "Cannot install the package"
### Decision Table

- [X] My issue does not look like “The HTML attribute 'xxx' is ignored” (unless we claim support for it)
- [X] My issue does not look like “The HTML element `<yyy>` is not rendered”

### Good Faith Declaration

- [X] I have read the HELP document here: https://git.io/JBi6R
- [X] I have read the CONTRIBUTING document here: https://git.io/JJ0Pg
- [X] I have confirmed that this bu

[2022-11-22 11:45] jsamr commented on #600
@dvijeniii05 This is a networking issue between your machine and npm repositories, there is nothing actionable for us here, unless proven otherwise. Closing, but please reopen if you find more information that would point to something we can do on our end.

[2022-11-22 11:45] #600 closed

[2022-11-22 11:46] jsamr commented on #594
Closing because no minimal reproducible example was provided. Feel free to reopen with a reproduction.

[2022-11-22 11:46] #594 closed

[2022-11-22 11:47] jsamr commented on #579
Closing now, feel free to reopen after providing a reproducible example.

[2022-11-22 11:47] #579 closed

[2022-11-22 11:49] jsamr commented on #575
Closing because this is not a bug.

[2022-11-22 11:49] #575 closed

[2022-11-22 11:51] #566 closed

[2022-11-22 11:53] jsamr commented on #558
This is a React Native bug, nothing actionable for us here! I know there have been a lot of A11y fixes recently in RN, it's possible upgrading to latest will fix this peculiar issue.

[2022-11-22 11:53] #558 closed

[2022-11-22 11:59] jsamr commented on #584
@Gregoirevda How did you assess that `reactNativeProps` were not passed? Did you inspect the render tree with an inspector such as Flipper? `numberOfLines` only work for top-level `Text` components, not nested ones. This is a known limitation in React Native.

- See also `bypassAnonymousTPhrasingNodes` prop: https://meliorence.github.io/react-native-render-html/api/renderhtmlconfig#bypassanonymous

[2022-11-28 15:34] palicko commented on #589
It seems like in `@expo/webpack-config:0.17.0` release some Webpack optimizations were enabled.
See https://github.com/expo/expo-cli/commit/7f7242bd93d19aaf1238d856f2f4187675953a98